@import "../../index.scss";

.headerCard {
    height: clamp(60px, 8vh, 100px);
    background-color: none;
    box-shadow: 0px 6px 20px #22292929;
    padding: 10px 40px 20px 40px;
    box-shadow: none;
    // @media (max-width: 768px) {
    //     height: clamp(45px, 8vh, 100px);
    //     background: $secondarycolor 0% 0% no-repeat padding-box;
    // }
}


// @media (max-width: 768px) {
//     .headerGrid, 
//     .logo, 
//     .titleText, 
//     .marginLeft20, 
//     .crossStyle, 
//     .cursorPointer, 
//     .verticalAlignCenter, 
//     .spaceBetween {
//         display: none !important;
//     }
// }

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.gridCol {
    display: grid;
    grid-template-columns: 68% 24% 8%;
}

.logo {
    position: relative;
    width: auto;
    height: 30px;
    object-fit: contain;
}

.backgroundLogo {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    align-content: center;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 40px !important;
    height: 40px !important;
}

.marginLeft20 {
    margin-left: 20px !important;
}

.crossStyle {
    height: 18px;
    width: 18px;
}

.cursorPointer {
    cursor: pointer;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.cursorPointer {
    cursor: pointer;
}