@import "../../index.scss";

.heading {
    text-align: left;
    font: normal normal bold 20px/28px proxima-nova;
    color: $primarycolor;
    text-transform: capitalize;
}

.marginTop {
    margin-top: 20px;
}

.marginLeft {
    margin-left: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.description {
    text-align: left;
    font: normal normal normal $tabledatatext2 proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .twoCol {
        grid-template-columns: 100%;
        gap: 10px;
    }

    .completedItemsText {
        text-align: center;
    }
}

.eSignDialog {
    height: 75%;
    width: 80% !important;
}

.eSignDialogBackground {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
    transition: background-color 0.3s ease;
}

.saveInProgress:hover { 
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052; 
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.continue {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
    transition: background-color 0.3s ease;
}

.continue:hover {
    background: #044D61 0% 0% no-repeat padding-box; 
    box-shadow: 0px 3px 12px #00000052; 
    border-radius: 8px; 
    opacity: 1;
}

.displayInRow {
    display: flex;
    flex-direction: row;
    width: auto;
    word-wrap: break-word;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}


.crossStyle {
    height: 18px;
    width: 18px;
}

.cursorPointer {
    cursor: pointer;
}

.verticalAlignCenter {
    display: flex;
    width:auto;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.completedItemsText {
    text-align: left;
    font: normal normal normal 18px/25px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 0.8;
    width: auto;
    word-wrap: break-word;
}

.completedItemsTextRed {
    text-align: left;
    font: normal normal bold 20px/25px proxima-nova;
    letter-spacing: 0px;
    color: $statusred;
}

.journeyImg {
    height: 330px;
    width: auto;
    object-fit: contain;
}

.verticalSpaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nextItemText {
    text-align: left;
    font: normal normal normal 28px/32px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.pencilImgStyle {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}