@import '../../styles/mixins.scss';

$headingBlue: #003685;
$shiningBlue: #0067ff;

body{
    background: #F8FCFF 0% 0% no-repeat padding-box;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    ::-webkit-scrollbar {
        display: none !important;
    }
}

.margin20{
    margin: 20px;
}

.marginTop20{
    margin-top: 20px !important;
}

.marginTop30{
    margin-top: 30px !important;
}

.marginTop40{
    margin-top: 40px !important;
}
.marginTop{
    margin-top: 5px !important;
}

.paddingTop5{
    padding-top: 5px;
}

.marginTop10{
    margin-top: 10px !important;
}

.marginTop15{
    margin-top: 15px !important;
}

.cardStyle{
    height: 105px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 16px;
    opacity: 1;
    cursor: pointer;
    padding: 15px;
}

.bigCardStyle{
    height: calc(100vh - 265px);
    overflow: scroll;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 16px;
    opacity: 1;
    padding-top: 5px;
}

.grid5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.bigCardGrid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.bigCalendarLeftCardWidth{
    margin-right: 15px;
}

.userLogo{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    object-fit: contain;
}

.alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.reducedOpacity{
    opacity: 0.4;
}

.userNameStyle{
    text-align: left;
    font: normal normal 600 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.loginStatus{
    text-align: left;
    font: italic normal normal 10px/15px Roboto;
    letter-spacing: 0px;
    color: #52575D;
    margin-top: 5px;
    max-width: 100px;
    opacity: 1;
}

.marginLeft20{
    margin-left: 10px;
}

.marginLeft30{
    margin-left: 30px;
}

.marginLeft50{
    margin-left: 50px;
}

.reduce10Left{
    margin-left: -10px;
}

.reduce20Left{
    margin-left: -20px;
}

.reduce25Left{
    margin-left: -25px;
}

.reduce30Left{
    margin-left: -30px;
}

.chevronRightStyle{
    width: 18px;
    height: 18px;
    background: #EBF2F7 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    margin-left: 15px;
}

.headingForContracts{
    font: normal normal bold 17px/15px Montserrat;
    letter-spacing: 0px;
    text-align: left;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 0px !important;
    @include breakpoint(md) {
        font: normal normal bold 14px/12px Montserrat;
    }
}

.headingCountForContracts{
    color: #52575D;
    font-size: 40px;
    // margin-top: -20px;
    font-weight: bold;
    @include breakpoint(md) {
        font-size: 40px;
    }
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
}

.displayInCol{
    display: flex;
    flex-direction: column;
}

.optionsStyle{
    margin: -3px 0px 0 0px;
    text-align: left;
    font: normal normal bold 12px/15px Montserrat;
    color: #52575D;
    span{
        @include breakpoint(md) {
            font: normal normal bold 10px/12px Montserrat !important;
        }
    }
}

.green{
    color: #00C07F;
}

.yellow{
    color: #FEC106;
}

.orange{
    color: orange;
}

.red{
    color: #FF6562;
}

.blue{
    color: #7165E3;
}

.next30Style{
    text-align: left;
    font: normal normal normal 10px/18px Roboto;
    color: #52575D;
    opacity: 1;
    margin-bottom: -5px ;
    margin-top: -10px ;
}

.statisticsHeading{
    border-bottom:2px solid #EBF2F7;
    padding-bottom:20px;
    text-align: center;
}

.searchBarStyle{
    background: #E3E5F1 0% 0% no-repeat padding-box;
    border: 1px solid #A7A7A7;
    height: 35px;
    width: 34vw;
    border-radius: 22px;
    opacity: 0.3;
    display: flex;
    justify-content: space-between;
    p{
        margin-top: 8px;
        margin-left: 10px;
    }
}

.progressbarStyle{
    width: 80%;
    margin-left: 10%;
}

.progressMargin{
    margin: -5px 0 20px 0;
}

.viewStyle{
    font: normal normal normal 10px/15px Montserrat;
    letter-spacing: -0.3px;
    color: #52575D;
    opacity: 1;
}

.statisticsProgress{
    font: normal normal normal 9px/13px Montserrat;
    letter-spacing: -0.3px;
    color: #52575D;
    opacity: 1;
    text-align: left;
    margin-bottom: 1px !important;
}

.scrollStyle{
    height: calc(100vh - 400px);
    overflow: scroll;
}

.footerIconStyle{
    height: 40px;
    width: 40px;
    object-fit: contain;
    margin-top: 5px;
}

.displayInRow{
    display: flex;
    flex-direction: row;
}

.activeContractsWidth{
    width: 220px;
    margin-top: 10px;
}

.smallIcons{
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.filterIcon{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.fileIcon{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.colorIconsStyle{
    height: 20px !important;
    width: 20px !important;
    margin-left: 5px;
    margin-top: -3px;
    object-fit: contain;
}

.colorFileStyle{
    height: 15px !important;
    width: 15px !important;
    margin-right: 5px;
    margin-top: 10px;
    object-fit: contain;
}

.contractButton{
    width: 184px;
    height: 40px;
    box-shadow: 0px 3px 11px var(--unnamed-color-7165e3);
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 11px #7165E3;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: white;
    font: normal normal 600 16px/21px Montserrat;
    margin: 15px 20px 0 0;
    cursor: pointer;
    @include breakpoint(md) {
        font: normal normal 600 12px/10px Montserrat;
    }
}

.selectedContractBackground{
    background-color: #D8D5FD;
}

.tableHeader{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    min-height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.documentPageHeader{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    text-align: left;
    display: grid;
    grid-template-columns: 10% 25% 20% 20% 20% 5%;
}

.serviceSpecificationTableHeader{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    text-align: left;
    display: grid;
    grid-template-columns: 10% 28% 24% 24% 10%;
    grid-gap: 10px;
}

.documentProofInputWidth{
    width: 96%;
}

.contractWidth{
    width: 200px;
}

.tableData{
    background: #F5F5F8 0% 0% no-repeat padding-box;
    min-height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.activeContractGrid{
    display: grid;
    grid-template-columns: 5% 10% 10% 10% 10% 10% 7% 10% 10% 5%;
    grid-gap: 10px;
}

.draftContractGrid{
    display: grid;
    grid-template-columns: 8% 10% 10% 10% 10% 10% 10% 12% 10%;
    grid-gap: 10px;
}

.expiredContractGrid{
    display: grid;
    grid-template-columns: 10% 12% 10% 12% 12% 12% 10% 12%;
    grid-gap: 10px;
}

.documentDataProof{
    background: #F5F5F8 0% 0% no-repeat padding-box;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 10% 25% 20% 20% 20% 5%;
    word-break: break-word !important;
}

.serviceSpecificationTableData{
    background: #F5F5F8 0% 0% no-repeat padding-box;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 10% 28% 24% 24% 10%;
    grid-gap: 10px;
}

.checkBoxHeader{
    opacity: 1;
    height: 25px;
    width: 10%;
}

.checkBoxData{
    background: #B3B8BD 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9F0;
    opacity: 1;
    height: 15px;
    width: 15px;
    margin: 0 10px 0 20px;
}

.tableHeaderFontStyle{
    font: normal normal bold 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    text-align: left;
    margin-top: 10px;
}

.multipleContractorTextWidth{
    font: normal normal bold 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 10px;
    text-align: center;
    width: 20%;
    margin-top: 10px;
}

.documentProofTextWidth{
    font: normal normal bold 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    text-align: left;
    margin-top: 15px;
}

.tableDataFontStyle{
    font: normal normal normal 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    text-align: left;
    margin-top: 10px;
}

.multipleDataTextWidth{
    font: normal normal normal 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    width: 20%;
    margin-top: 10px;
}

.documentProofDataTextWidth{
    font: normal normal normal 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    opacity: 1;
    display: flex;
    align-items: center;
    text-align: left !important;
    margin-top: 10px;
}

.greenDotStyle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #00C07F;
    margin-top: 8px;
}

.yellowDotStyle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FEC106;
    margin-top: 8px;
}


.redDotStyle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FF6562;
    margin-top: 8px;
}

.blueDotStyle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #7165E3;
    margin-top: 8px;
}

.width10{
    width: 7%;
}

.accountActivityStyle{
    font: normal normal normal 15px/22px Montserrat;
    letter-spacing: 0.66px;
    color: #52575D;
    opacity: 0.38;
    margin-left: 20px;
    margin-top: 7px;
}

.paginationStyle{
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    opacity: 1;
    margin-top: 10px;
}

.minMaxWidth{
  width: 130px;
}

.roundChevron{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 11px;
}

.actionsIcon{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.activateIcon{
    width: 130px;
    height: 30px;
    margin: 5px;
    object-fit: cover;
    margin-left: -90px;
}

.actionCard{
    background: #D8D7EE 0% 0% no-repeat padding-box;
    opacity: 0.99;
    width: 40px;
}

.poweredBy{
    text-align: left;
    font: normal normal normal 11px/14px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
    opacity: 1;
    margin: 5px 0 0 10px;
}

.leftChevronColor{
    color: #52575D;
}

.marginRight{
    margin-right: 10px;
}

.marginRight20{
    margin-right: 20px;
}

.welcomeStyle{
    text-align: left;
    font: normal normal bold 20px/18px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
}

.extensionStyle{
    text-align: left;
    font: normal normal bold 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
}

.extensionBorder{
    background-color: #EBF2F7;
    height: 3px;
}

.extensionOptionsStyle{
    text-align: left;
    font: normal normal medium 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 0.9;
    margin-top: 10px;
}

.terminationFieldWidth{
    width: 72%;
}

.entityFieldWidth{
    width: 60%;
}

.disabledButton{
    color:rgba(143, 153, 168, 0.5);
    background-color: #f1f2f3;
    height: 33px;
    width: 100px;
    border: none;
    border-radius: 6px;
    cursor: not-allowed;
}

.disabledUploadButton{
    color:rgba(143, 153, 168, 0.5) !important;
    background-color: #f1f2f3;
    border: none;
    border-radius: 6px;
    cursor: not-allowed !important;
}

.addMoreButton{
    color:rgba(143, 153, 168, 0.5);
    background-color: #f1f2f3;
    height: 32px;
    width: 130px;
    border: none;
    border-radius: 6px;
}

.addCotractorButton{
    color:rgba(143, 153, 168, 0.5);
    background-color: #f1f2f3;
    height: 32px;
    width: 240px;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    margin-right: 10px;
}

.addSymbolStyle{
    background-color: #7165E3;
    color: white;
    font-size: 25px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 11px;
    width: 40px;
    height: 32px;
}

.plusSymbolPosition{
    position: relative;
    top: -2px;
}

.disabled{
    cursor: not-allowed;
}

.disabledColor{
    cursor: rgba(143, 153, 168, 0.5);
}

.addBoxDescription{
    color: #52575D;
    background-color: rgba(143, 153, 168, 0.5);
    width: 260px;
    padding: 10px;
    border-radius: 10px;
}

.fullWidth{
    width: 100% !important;
}

.contractId{
    text-align: left;
    font: normal normal medium 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 0.9;
    margin: 5px 20px 0 20px;
}

.welcomePadding{
    padding: 30px 40px;
}

.welcomeMessage{
    background: #ebe9fb 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal 300 13px/15px Montserrat;
    letter-spacing: 0.9px;
    color: #52575D;
    padding: 20px;
}

.addContractBody{
    background-color: white;
    height: 100vh;
    overflow: scroll;
}

.extensionDialogBackground{
    background-color: white;
    margin: -20px !important;
    padding: 40px;
    border-radius: 10px;
}

.deleteEcecutedContractDialogBackground{
    background-color: white;
    margin: -20px !important;
    padding: 20px;
    border-radius: 10px;
}

.addManagerDialogBackground{
    background-color: white !important;
    padding: 20px 40px;
    border-radius: 20px !important;
}

.extentionGrid{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 20px;
}

.addManagerGrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.extentionLableStyle{
    text-align: left;
    font: normal normal normal 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
}

.toStyle{
    color: #52575D;
    margin: 5px 20px 0 20px;
}

.greyText{
    color: #52575D;
}

.extentionBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 8px;
    opacity: 1;
    height: 60vh;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.serviceBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 8px;
    opacity: 1;
    height: 60vh;
    overflow: scroll;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.deleteDraftBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 8px;
    opacity: 1;
    height: 20vh;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.newContractFromCloneBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 8px;
    opacity: 1;
    // height: calc(100vh - 160px);
    // overflow: scroll;
    width: 100%;
    margin-left: -10px;
    padding: 20px;
}

.textAlignLeft{
    text-align: left !important;
}

.floatLeft{
    float: left !important;
}

.flexLeft{
    display: flex;
    justify-content: left;
}

.switchFontStyle{
    font: normal normal normal 15px/20px Montserrat;
    color: #52575D;
}

.dialogPaddingBottom{
    padding-bottom: 0 !important;
}

.crossStyle{
    color: linear-gradient(#7165E3, #FF6562) !important;
    margin-bottom: 15px;
    cursor: pointer;
}

.newContractCrossStyle{
    color: linear-gradient(#7165E3, #FF6562) !important;
    cursor: pointer;
    margin-top: -10px;
    margin-right: -20px;
    margin-left: 20px;
}

.trashStyle{
    color: linear-gradient(#7165E3, #FF6562) !important;
    cursor: pointer;
}

.textFieldWidth{
    width: 350px;
}

.addContractTextFieldWidth{
    width: 400px;
}

select {
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #f5f4f4 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    max-height: 40px;
    margin-top: 6px;
    &:focus{
      outline: none;
    }
    &.fullwidth {
      min-width: 250px;
    }
  }

  .selectLable{
    text-align: left;
    font: normal normal normal 17px/16px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    opacity: 1;
    margin-top: 10px;
  }

  .contractOptions{
      height: 350px;
      width: 60%;
      margin-left: 20%;
      margin-top: 3%;
  }

  .contractCards{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    opacity: 1;
    width: 305px;
    height: 150px;
    margin-top: 3%;
    margin-right: 20px;
  }

  .contractCards:hover{
    background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #7165E3, #FF6562) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
  }

  .alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .alertValidationInputStyle{
    border: 1px solid red !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    height: 32px;
  }

  .contractCardData{
    text-align: center;
    font: normal normal 600 12px/14px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    opacity: 1;
    width: 150px;
  }

  .selectedContractCard{
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to bottom, #7165E3, #FF6562) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
  }

  .contractCardImage{
      height: 70px;
      width: 100px;
      object-fit: contain;
      margin-left: 25px;
      margin-bottom: 10px;
  }

  .nextButton{
    border-radius: 12px;
    opacity: 1;
    background-color: #7165E3;
    color: white;
    border: none;
    height: 40px;
    width: 180px;
    cursor: pointer;
  }

  .nextButtonDisabled{
    border-radius: 12px;
    opacity: 1;
    background-color: #cccccc;
    color: #666666;
    border: none;
    height: 40px;
    width: 180px;
    cursor: not-allowed;
  }

  .nextButtonPosition{
      display: flex;
      float: right;
  }

  .positionCenter{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcomeBorder{
    background: #EBF2F7 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 4px;
    width: 100%;
    margin-bottom: 10px;
  }

  .activeContractText{
    color:#52575D;
  }

  .dialogStyle{
      height: 80%;
      width: 60% !important;
      border-radius: 20px;
  }

  .toolbarDialogStyle{
    height: 100vh;
    width: 100% !important;
    border-radius: 8px !important;
    margin-top: 0;
}

    .addManagerDialogStyle{
        height: 50%;
        width: 40%;
        border-radius: 20px;
    }

  .outlinedButton{
      background-color: white;
      color: #7165E3;
      border: 1px solid #7165E3;
      height: 40px;
      width: 140px;
      border-radius: 10px;
      margin-bottom: -20px;
      box-shadow: 0px 3px 11px #7165E3;
  }

  .newContractOutlinedButton{
    background-color: white;
    color: #7165E3;
    border: 1px solid #7165E3;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    margin-bottom: -20px;
  }

  .cloneOutlinedButton{
    background-color: white;
    color: #7165E3;
    border: 1px solid #7165E3;
    box-shadow: 0px 1px 5px #7165E3;
    height: 30px;
    width: 80px;
    border-radius: 10px;
}

  .buttonStyle{
    background-color: #7165E3;
    color: white;
    border: 1px solid #7165E3;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    margin-bottom: -20px;
    box-shadow: 0px 3px 11px #7165E3;
  }

  .newContractButtonStyle{
    background-color: #7165E3;
    color: white;
    border: 1px solid #7165E3;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    margin-bottom: -20px;
  }

  .cloneButtonStyle{
    background-color: #7165E3;
    color: white;
    border: 1px solid #7165E3;
    box-shadow: 0px 1px 5px #7165E3;
    height: 30px;
    width: 80px;
    border-radius: 10px;
  }

  @media screen and (max-width: 1350px) {
    .newContractButtonStyle, .newContractOutlinedButton{
        width: 140px;
    }
  }

  .floatRight{
      float: right;
  }

  .cloneContent{
    text-align: left;
    font: normal normal medium 18px/28px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
  }

  .cloneDialog{
    height: 40%;
    width: 30% !important;
}

.cloneDialogBackground{
    background-color: white;
    margin: -20px !important;
    padding: 20px;
    border-radius: 10px;
}

.cursorPointer{
    cursor: pointer;
}

.calendarStyle{
    margin: 7px;
}

.newContractFromCloneGrid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}

.reduceTop10{
    margin-top: -10px;
}

.reduceTop35{
    margin-top: -35px;
}

.reduceTop20{
    margin-top: -20px;
}

.reduceTop{
    margin-top: -5px;
}

.toStyle{
    letter-spacing: 0px;
    color: #52575D;
}

.weekSelectStyle{
    margin-top: 0px;
    height: 30px;
}

.marginBottom{
    margin-bottom: 10px;
}

.cloneBlockStyle{
    height: calc(100vh - 80px);
    overflow: scroll;
    border-right: 4px solid #EBF2F7;
    margin-top: -10px;
    margin-bottom: -20px;
    padding: 20px;
}

.contractEntityCardStyle{
    background: #EBF2F7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    min-height: 80px;
    min-width: 100%;
    cursor: pointer;
}

.completedEntityCardStyle{
    background-color: #d7d4f7;
    color: black;
    font-weight: 600 !important;
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-gap: 10px;
}

.completedIconStyle{
    height: 25px;
    width: 25px;
    object-fit: contain;
    margin-top: 18px;
}

.completedIconTableStyle{
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.contractEntityFontStyle{
    text-align: left;
    font: normal normal normal 17px/21px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    width: 80%;
    padding: 20px;
}

.tableHeight{
    height: calc(100vh - 170px);
    overflow: scroll;
}

.selectedContractEntityStyle{
    border: 1px solid #7165E3;
    color: #7165E3;
}

.selectedColor{
    color: #7165E3;
}

.smallHeadingStyle{
    text-align: left;
    font: normal normal 600 17px/16px Montserrat;
    letter-spacing: 0px;
    line-height: 20px;
    color: #7165E3;
    opacity: 1;
}

.descriptionStyle{
    text-align: left;
    font: normal normal normal 15px/30px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    color: #52575D;
}

.deleteDescriptionStyle{
    text-align: left;
    font: normal normal normal 13px/23px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    color: #52575D;
    line-height: 20px;
}

.descriptionBoxStyle{
    border: 1px solid #B3B8BD;
    border-radius: 8px;
    opacity: 1;
    width: 110%;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
}

.roleBoxStyle{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 11px #52575D4D;
    border-radius: 6px;
    opacity: 1;
    padding: 20px;
    width: 100%;
    display: block;
}

.blueColor{
    color: #7165E3;
}

.selectFieldWidth{
    min-width: 260px;
    max-width: 260px;
}

.selectFieldSwitchWidth{
    min-width: 210px;
    max-width: 210px;
}

.fieldWidth2InARow{
    width: 50%;
}

.uploadButtonStyle{
    background-color: #f1f2f3;
    color: #7165E3;
    border: none;
    height: 30px;
    font-size: 12px;
    width: 70px;
}

.chooseFileStyle{
    background-color: #f1f2f3;
    color: #7165E3;
    border: none;
    height: 30px;
    font-size: 12px;
    width: 100px;
}

.minMaxLeftElement{
  background-color: #f1f2f3;
  color: #AFB2B6;
  border: none;
  height: 30px;
  font-size: 12px;
  width: 80px;
}

.textElement{
    background-color: #f1f2f3;
    color: #AFB2B6;
    border: none;
    height: 35px;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
    line-height: 15px;
    width: 60%;
  }

  .textElementWithNurse{
    background-color: #f1f2f3;
    color: #AFB2B6;
    border: none;
    height: 35px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    line-height: 15px;
    width: 60%;
  }

  .textElementWithoutBackground{
    color: #AFB2B6;
    border: none;
    height: 35px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    line-height: 15px;
    width: 60%;
  }

  .editableTextStyle{
    height: 35px;
    display: flex;
    align-items: center;
    padding-left:20px;
    padding-top: 8px;
    width: 50px;
    border-radius: 4px !important;
  }

  .serviceProvidedEditableTextStyle{
    height: 35px;
    display: flex;
    align-items: center;
    padding-left:10px;
    padding-top: 8px;
    width: 50px;
    border-radius: 4px !important;
  }

  .editableTextThresholdStyle{
    height: 35px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left:15px;
    padding-top: 8px;
    width: 60px;
    border-radius: 4px !important;
  }

  .editableTextSpecifiedStyle{
    height: 35px;
    padding-left:20px;
    padding-top: 8px;
    text-align: left;
    width: 65px;
    border-radius: 4px !important;
  }

  .editableTextStyleDays{
    height: 35px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 8px;
    padding-left:10px;
    width: 50px;
    border-radius: 4px !important;
  }

  .editableTextStyle4DaysWidth{
    width: 55px !important;
  }

  .textElementWithoutBackgroundDays{
    color: #AFB2B6;
    border: none;
    height: 35px;
    font-size: 12px;
    display: flex;
    align-items: center;
    line-height: 15px;
    width: 60%;
  }

  .editableTextStyleSmallWidth{
    height: 35px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    width: 40px !important;
    border-radius: 4px !important;
  }

  .editableSessionTextStyle{
    height: 35px;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    width: 75px !important;
    border-radius: 4px !important;
  }

  .editableTextStyleWithoutPadding{
    height: 35px;
    display: flex;
    align-items: center;
    padding-right:20px;
    padding-top: 8px;
    width: 50px;
    border-radius: 4px !important;
  }

  .editableTextOuterBorder{
    height: 37px;
    border: 1px solid #E9E9F0 !important;
    border-radius: 4px;
    min-width: 33.3% !important;
  }

  .editableTextOuterBorderSmall{
    height: 37px;
    border: 1px solid #E9E9F0 !important;
    border-radius: 4px;
    min-width: 27% !important;
  }

.leftAlign{
    text-align: left;
}

.threeFieldWidth{
    width: 33.3%;
}

.fourFieldWidth{
    width: 25%;
}

.fourFieldWidth{
    width: 25%;
}

.twoFieldWidth{
    width: 50%;
}

.validationAlert{
    background: #ffcdcc 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    color: black !important;
}

.blackText{
    color: black !important;
}

.bold{
    font-weight: bold;
}

.documentCard{
    background-color: #D3D0F7;
    padding: 15px 15px 5px 15px !important;
    border-radius: 10px;
}

.proofBorder{
  border: 1px solid #7165E3;
  border-radius: 8px;
  opacity: 1;
  overflow: scroll;
  border-radius: 8px;
  opacity: 1;
  overflow: scroll;
  margin-top: 10px;
  padding: 20px;
}

.addProofDialog{
  height:75%;
  width:55% !important;
}

.renewalBoxStyle{
    background-color: #EBECED;
    color: #52575D;
    text-align: left;
    border: 1px solid #B3B8BD;
    border-radius: 10px;
    height: 100px;
    font: normal normal normal 13px/15px Montserrat;
    margin-top: 10px;
    padding: 15px;
}

.departmentLevelBoxStyle{
    background-color: #EBECED;
    color: #52575D;
    text-align: left;
    border: 1px solid #B3B8BD;
    border-radius: 10px;
    // height: 140px;
    font: normal normal normal 13px/15px Montserrat;
    margin-top: 10px;
    padding: 15px;
}

.siteLevelBoxStyle{
    background-color: #EBECED;
    color: #52575D;
    text-align: left;
    border: 1px solid #B3B8BD;
    border-radius: 10px;
    // height: 100px;
    font: normal normal normal 13px/15px Montserrat;
    margin-top: 10px;
    padding: 15px;
}

.renewalRemainderBoxStyle{
    color: #52575D;
    text-align: left;
    border: 1px solid #B3B8BD;
    border-radius: 10px;
    font: normal normal normal 13px/15px Montserrat;
    margin-top: 10px;
    padding: 15px;
}

.inputRenewalStyle{
    background: #EBECED !important;
    border: 1px solid #B3B8BD;
    height: 30px !important;
    border-radius: 4px;
    padding: 7px 0 0 25px;
    color: black;
}

.inputRenewalRemainderStyle{
    background: #EBECED !important;
    border: 1px solid #B3B8BD;
    height: 30px !important;
    border-radius: 4px;
    padding: 7px 0 0 25px;
    color: black;
    width: 50%;
}

.renewalBoxGrid{
    display: grid;
    grid-template-columns: 45% 20% 35%;
}

.siteLevelGrid{
    display: grid;
    grid-template-columns: 35% 65%;
}

.renewalRemainderBoxGrid{
    display: grid;
    grid-template-columns: 50% 40% 10%;
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.twoCol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.sendMailUserDialog{
    height: 40%;
    width: 40% !important;
}

.padding10{
    padding: 10px;
}

.searchIcon{
    max-height: 20px;
    max-width: 20px;
    margin-left: 20px;
    margin-top: 7px;
}

.userMailListGrid{
    display: grid;
    grid-template-columns: 20px 50px 1fr 20px;
}

.userLogoMailStyle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: contain;
}

.mailIdTextColor{
    color: #52575D;
}

.mailTemplate{
  height:80% !important;
  width:75% !important;
}

.sendNotificationsButtonWidth{
    width: 200px;
}

.mailLeftElement{
  margin-top:6px;
  margin-left: 10px;
}

.redFont{
  color: red;
}

.envelopeImageStyle{
    height: 60px;
    width: 60px;
}

.sendMailConfirmationStyle{
    text-align: center;
    font: normal normal normal 13px/23px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    color: #52575D;
    line-height: 20px;
    width: 100%;
    padding: 0 50px;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
  }

  .contractedBorderStyle{
    border: 0.800000011920929px solid #E5E6E7;
    border-radius: 8px;
    margin: -10px;
    padding: 10px;
  }


  .dotStyle{
      height: 20px;
      width: 80px;
      object-fit: contain;
  }

  .timesheetButtonStyle{
    background: #EBF2F7 0% 0% no-repeat padding-box;
    border: 1px solid #7165E3;
    border-radius: 6px 6px 0px 0px;
    width: 180px;
    height: 40px;
  }

  .selectedTimesheetButton{
    background: #D7D4F7 0% 0% no-repeat padding-box;
  }

  .timeSheetBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 0px 6px 0px 0px;
    opacity: 1;
    height: calc(100vh - 160px);
    overflow: scroll;
    width: 100%;
    margin-left: -10px;
    padding: 20px;
}

.workflowBoxStyle{
    border: 1px solid #E9E9F0;
    border-radius: 0px 6px 0px 0px;
    opacity: 1;
    height: calc(100vh - 160px);
    overflow-x: hidden;
    width: 105%;
    margin-left: -10px;
    padding: 10px;
}

.workFlowButtonStyle{
    background: #EBF2F7 0% 0% no-repeat padding-box;
    border: 1px solid #7165E3;
    border-radius: 6px 6px 0px 0px;
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .flowChartBoxStyle{
    border: 1px solid #F3F3F3;
    opacity: 1;
    height: 200vh;
    width: 100%;
    background-color: #F3F3F3;
   }

  .selectedWorkFlowButton{
    background: #D7D4F7 0% 0% no-repeat padding-box;
  }

  .shapeBackground{
    background: black 0% 0% no-repeat padding-box;
    border: 1px solid #7165E3;
    height: 50px;
    width: 60px;
    margin: 20px;
  }

  .disabledView{
      opacity: 0.5;
  }

  .tagStyle {
    margin: 0 5px 10px 0 !important;
  }

  input[type="file"] {
    display: none;
  }

  .customFileUpload {
    cursor: pointer;
    width:70px;
    height: 50px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.25;
    background-color: #f1f2f3;
    color: #7165E3;
    border: none;
    position: relative;
    top: 7px;
  }

  .selectMultipleCheckbox{
    height: auto;
    min-height: 1em !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .addButtonPosition{
    display: flex;
    justify-content: flex-end;
  }

  .alternativeBackgroundColor{
    background-color: #ebe9fb !important;
}

.dateInputStyle{
    height: 40px !important;
    padding: 0px;
}

.horizontalScroll{
  width: 30em;
  overflow-x: auto;
  white-space: nowrap;
}

.countDesign{
    border-radius: 8px;
    height: 20px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.orangeCountStyle{
   color: #ffa500;
   background-color: #ffedcc;
}

.redCountStyle{
    color: #FF6562;
    background-color: #ffcdcc;
 }

 .selectedOrangeCountStyle{
    background-color: #ffa500;
    color: white;
 }

 .selectedRedCountStyle{
    background-color: #FF6562;
    color: white;
  }

 .verticalAlignCenter{
    display: flex;
    align-items: center;
    height: 100%;
 }

.purpleTitle{
  font: normal 15px/13px Montserrat;
  color: #7165E3;
  font-size: 15px;
  text-align: left;
  min-width:100vw;
}

.marginTop50{
  margin-top:50px;
}

.daysSelectorGrid{
  display: grid;
  grid-template-columns: 60px 40px;
  grid-gap: 10px;
}

.popUpHeading{
  font: bold 18px/15px Montserrat;
  color: #7165E3;
}

.popUpHeaderBlock{
  display:grid;
  width:100%;
  height:auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  background-color: #DBD8FA;
  border: 3px solid #EBF2F7;
  border-radius: 2px;
  opacity: 1;
  padding: 10px;
}
