.bigCardStyle {
    height: calc(100vh - 265px);
    overflow: scroll;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 16px;
    opacity: 1;
    padding-top: 5px;
}

.bigCalendarLeftCardWidth {
    margin-right: 15px;
}

.statisticsHeading {
    border-bottom: 2px solid #EBF2F7;
    padding-bottom: 20px;
    text-align: center;
}

.scrollStyle {
    height: calc(100vh - 400px);
    overflow: scroll;
}

.progressbarStyle {
    width: 80%;
    margin-left: 10%;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.statisticsProgress {
    font: normal normal normal 9px/13px Montserrat;
    letter-spacing: -0.3px;
    color: #52575D;
    opacity: 1;
    text-align: left;
    margin-bottom: 1px !important;
}

.viewStyle {
    font: normal normal normal 10px/15px Montserrat;
    letter-spacing: -0.3px;
    color: #52575D;
    opacity: 1;
}

.marginLeft20 {
    margin-left: 10px;
}

.progressMargin {
    margin: -5px 0 20px 0;
}