.bigCardStyle {
    height: calc(100vh - 255px);
    overflow: scroll;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 16px;
    opacity: 1;
    padding-top: 5px;
}

.bigCalendarLeftCardWidth {
    margin-right: 15px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.statisticsHeading {
    border-bottom: 2px solid #EBF2F7;
    padding: 0 0 20px 20px;
    text-align: left;
}

.scrollStyle {
    height: calc(100vh - 400px);
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollStyle,
.bigCardStyle::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollStyle,
.bigCardStyle {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.progressbarStyle {
    width: 80%;
    margin-left: 10%;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.statisticsProgress {
    font: normal normal normal 10px/11px Montserrat;
    letter-spacing: -0.3px;
    color: #52575D;
    opacity: 1;
    text-align: left;
    margin-bottom: 1px !important;
}

.viewStyle {
    font: normal normal normal 9px/15px Montserrat;
    letter-spacing: -0.3px;
    color: #52575D;
    opacity: 1;
}

.marginLeft20 {
    margin-left: 10px;
}

.progressMargin {
    margin: -5px 0 20px 0;
}

.filterHeading {
    text-align: left;
    font: normal normal bold 14px/14px Montserrat;
    color: #7165E3;
    text-transform: uppercase;
}

.clearText {
    text-align: left;
    font: normal normal 600 11px/11px Montserrat;
    color: #BCBCBC;
    text-transform: capitalize;
    cursor: pointer;
}

.labelText {
    text-align: left;
    font: normal normal 600 10px/10px Montserrat;
    color: #BCBCBC;
    text-transform: capitalize;
}

.filterPadding {
    padding: 10px;
}

.filterType {
    text-align: left;
    font: normal normal 600 12px/15px Montserrat;
    color: #707070;
    text-transform: capitalize;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.alignCenter {
    display: flex;
    justify-content: center;
}

.dividerStyle {
    margin: 10px -10px;
    background-color: #DBDBDB;
    height: 1px;
}

.numberOfContractorsGrid {
    display: grid;
    grid-template-columns: 30% 10% 30%;
    grid-gap: 5%;
}

.contractTimeCommitmentGrid {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 2%;
}

.purpleText {
    color: #7165E3;
}