@import "../../index.scss";

.heading {
  text-align: left;
  font: normal normal bold 24px proxima-nova;
  letter-spacing: 0px;
  color: #06617A;
  text-transform: capitalize;
  opacity: 1;

}

.marginTop {
  margin-top: 20px;
}

.marginLeft {
  margin-left: 20px;
}

.marginTop10 {
  margin-top: 10px;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

// .eSignDialog {
//   height: 75%;
//   width: 80% !important;
// }

.eSignDialog {
  height: 75%;
  overflow: hidden;
  width: 80% !important;
}

.dialogBody {
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
}

.fullWidth {
  width: 100% !important;
}

.eSignDialogBackground {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px 40px 0px 40px;
  border-radius: 20px !important;
}


.displayInRow {
  display: flex;
  flex-direction: row;
}

.displayInRowCenter {
  align-items: center;
}


.crossStyle {
  height: 18px;
  width: 18px;
}

.cursorPointer {
  cursor: pointer;
}

.Resend {
  color: $primarycolor;
  font: normal normal bold 14px proxima-nova;
  text-align: right;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.sentstatus {
  text-align: left;
  font: normal normal bold 14px proxima-nova;
  letter-spacing: 0px;
  color: #94979A;
  opacity: 1;
}

.sentto {
  font: italic normal normal 12px proxima-nova;
  color: #171338;
  opacity: 0.5;
}

.task {
  font: normal normal bold 16px proxima-nova;
  opacity: 1;
}

.correcticon {
  text-align: left;
  font: normal normal normal 27px la-solid-900;
  color: #14B15A;
  opacity: 1;
  place-self: center;
}

.shadowdown {
  background: var(---ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-ededf3);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #1713380A;
  border: 1px solid #EDEDF3;
  border-radius: 12px;
  opacity: 1;
  // width: 100%;
  align-items: center;
  padding: 0px 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2% 40% 30% 15%;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.option {
  width: 100%;
}

.selectoption {
  background-color: #ffffff;
}

.date {
  text-align: left;
  font: italic normal normal 14px proxima-nova;
  letter-spacing: 0px;
  color: #171338;
  opacity: 0.5;
}

.fontstyleassociate {
  text-align: left;
  font: normal normal bold 14px proxima-nova;
  letter-spacing: 0px;
  color: #646D82;
  text-transform: uppercase;
}

.referenceFont {
  text-align: left;
  font: normal normal bold 12px proxima-nova;
  letter-spacing: 0px;
  color: #171338;
  opacity: 0.5;
}

.marginRight30 {
  margin-right: 30px;
}

.copyicon {
  text-align: left;
  // font-size: normal 10px;
  font: normal normal normal 5px !important;
  letter-spacing: 0.9px;
  color: $primarycolor;
  opacity: 1;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.warning {
  color: var(--unnamed-color-f94848);
  text-align: left;
  font: normal normal normal 27px la-solid-900;
  letter-spacing: 0px;
  color: #F94848;
  opacity: 1;
}

.progress {
  color: var(--unnamed-color-fec106);
  text-align: left;
  font: normal normal normal 27px/45px la-solid-900;
  letter-spacing: 0px;
  color: $statusyellow;
  opacity: 1;
}

.requestForm {
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 12px proxima-nova;
  cursor: pointer;
  color: $primarycolor;
  opacity: 1;
  margin-top: 5px;
}

@media print {
  .pagebreak {
    page-break-after: always;
    width: 100%;
    // height: auto;
    padding: 20px;
  }

  .pagebreak:nth-child(odd) {
    background-color: #ffffff;
  }

  .pagebreak:nth-child(even) {
    background-color: #ffffff;
  }
}

.cardStyle {

  border: 1px solid var(---7165e3);
  background: #DBD8FA 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #0F0B3129;
  border: 1px solid $primarycolor;
  border-radius: 8px;
  opacity: 0.5;
}

.fontstyle {
  color: var(--unnamed-color-52575d);
  text-align: left;
  font: normal normal bold 24px/30px proxima-nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  opacity: 1;
}

.namefontstyle {
  text-align: left;
  font: normal normal bold 24px/30px proxima-nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  opacity: 1;
  margin-left: 10px;
}

.displayIdFontStyle {
  text-align: center;
  font: normal normal bold 14px/18px proxima-nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  opacity: 0.8;
}

.applicantTypeFontStyle {
  text-align: left;
  font: normal normal medium 20px/24px proxima-nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  text-transform: uppercase;
  opacity: 0.9;
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  line-height: 3;
}

.marginLeft10 {
  margin-left: 10px;
}

.rightSideFontStyle {

  text-align: left;
  font: normal normal medium 20px/24px proxima-nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  text-transform: capitalize;
  opacity: 1;
  margin-left: 15px;
}

.notesBorderStyle {
  border: 0.4px solid var(---7165e3);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.4000000059604645px solid $primarycolor;
  border-radius: 4px;
  opacity: 1;
}

.commentsNotesHeadingFontStyle {

  text-align: left;
  font: normal normal 600 18px proxima-nova;
  letter-spacing: 0px;
  color: #52575D;
  opacity: 1;
}

.commentsNotesFontStyle {
  text-align: left;
  font: normal normal normal 16px proxima-nova;
  letter-spacing: 0px;
  color: #52575D;
  text-transform: capitalize;
  opacity: 1;
}

.buttonStyle {
  text-align: center;
}

.reviewButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.reviewButton {
  background-color: $primarycolor;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.rejectionBorderStyle {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #52575D14;
  border: 0.4px solid #52575D14;
  border-radius: 12px;
  opacity: 1;
}

.declineBorderStyle {
  // background: #DBD8FA 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #0F0B3129;
  border: 1px solid #0F0B3129;
  border-radius: 8px;
  padding: 15px 0px;
}

.marginLeftRight20 {
  margin: 0 20px !important;
}

.rejectionSubHeadingTextStyle {
  text-align: left;
  font: normal normal bold 16px proxima-nova;
  letter-spacing: 0px;
  color: #454747;
  opacity: 1;
}

.marginLeft20 {
  margin-left: 20px;
}

.marginTop5 {
  margin-top: 5px !important;
}

.twoColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.marginBottom10 {
  margin-bottom: 10px !important;
}

.twoColumnGridInner {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 20px;
  justify-items: start;
}

.twoColumnGridInner1 {
  display: grid;
  grid-template-columns: 4% 70%;
  grid-gap: 2px;
  justify-items: start;
}

.rejectionTextStyle {
  text-align: left;
  font: normal normal medium 18px/34px proxima-nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  text-transform: capitalize;
  opacity: 1;
}

.rejectionTextStyle1 {
  text-align: left;
  font: normal normal medium 20px/24px proxima-nova;
  letter-spacing: 0px;
  color: #171A1A;
  text-transform: capitalize;
  opacity: 1;
}

.extensionStyle1 {
  text-align: left;
  font: normal normal bold 20px/24px proxima-nova;
  letter-spacing: 0px;
  color: $primarycolor;
  text-transform: capitalize;
  opacity: 1;
}

.rejectionHeadingTextStyle {
  text-align: left;
  font: normal normal bold 16px proxima-nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  text-transform: capitalize;
  opacity: 1;
}

.credDateTextStyle {
  font: normal normal 600 18px/24px proxima-nova;
  letter-spacing: 0px;
  color: #52575D;
  text-transform: capitalize;
  opacity: 1;
}

.marginLeft2 {
  margin-left: 4px;
}

.numberStyle {
  text-align: left;
  font: normal normal bold 18px proxima-nova;
  letter-spacing: 0px;
  color: #06617A;
  text-transform: capitalize;
  opacity: 1;
}

.verticalAlignCenter {
  display: flex;
  align-items: center;
  height: 100%;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fileLoadingStyle {
  height: auto;
  width: 40%;
  object-fit: contain;
}