@import "../../index.scss";

.headerCard {
    height: clamp(80px, 8vh, 100px);
    background-color: white;
    box-shadow: 0px 6px 20px #22292929;
    padding: 0px 60px;

    @media (max-width: 768px) {
        height: clamp(45px, 8vh, 100px);
        background: $secondarycolor 0% 0% no-repeat padding-box;
    }
}

@media (max-width: 768px) {

    .headerGrid,
    .logo,
    .titleText,
    .marginLeft20,
    .crossStyle,
    .cursorPointer,
    .verticalAlignCenter,
    .spaceBetween {
        display: none !important;
    }
}

.headerGrid {
    display: grid;
    grid-template-columns: 20% 67% 5% 3%;
    gap: 1%;
}

.logo {
    position: relative;
    width: auto;
    height: 60px;
    object-fit: contain;
}

.header {
    display: grid;
    grid-template-columns: 15% 67% 15%;
    gap: 1%;
}


.left,
.right {
    width: 80px;
    /* same fixed width */
}

.titleText {
    text-align: center;
    font: normal normal bold 20px/28px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: capitalize;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .titleText {
        text-align: center;
        font-size: 18px;
    }
}

.marginLeft20 {
    margin-left: 20px !important;
}

.crossStyle {
    height: 18px;
    width: 18px;
}

.cursorPointer {
    cursor: pointer;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}