@import "../../../index.scss";

.lableStyle {
    text-align: left;
    font: normal normal normal $tabledatatext proxima-nova;
    letter-spacing: 0px;
    color: $textgrey;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
}