.labelInputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* Space between each label-input pair */
  align-items: flex-start;
  /* Align items at the start horizontally */
}

.entityLableStyle {
  color: #52575d;
  font: normal normal normal $tableheadtext proxima-nova;
  text-transform: uppercase;
  margin-bottom: 5px;
  width: 100%;
}

.fullWidthInput {
  width: 100%;
  margin: 0;
}

.outlinedButton {
  background-color: white;
  font: normal normal normal 14px/20px proxima-nova;
  color: $primarycolor;
  border: 1px solid $primarycolor;
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 4px;
}

.whiteBackground {
  background-color: white;
}

.buttonStyle {
  font: normal normal normal 14px/20px proxima-nova;
  background-color: $primarycolor;
  color: white;
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.marginLeft20 {
  margin-left: 20px;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floatRight {
  float: right;
}

.marginTop20 {
  margin-top: 20px;
}

.dialogCrossStyle {
  cursor: pointer;
}

.extensionStyle {
  font: normal normal bold 14px/20px proxima-nova;
  color: $primarycolor;
}

.healthCareDialogStyle {
  height: 80%;
  width: 60% !important;
  border-radius: 20px !important;
  background-color: white;
}

.extensionDialogBackground {
  background-color: white;
}

.ReferenceListEntityBorder {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 20px;
}

.addHealthCareBoxStyle {
  border: 1px solid $primarycolor;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

.extentionGrid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.colorFileStyle3 {
  filter: brightness(0.5);
}

.marginRight {
  margin-right: 10px;
}

.flagBoxContainer {
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  width: 140px;
  height: 37px;
}

.departmentDialogStyle {
  height: 80%;
  width: 60% !important;
  border-radius: 20px;
}

.departmentFlag {
  width: 40px;
  height: 20px;
  background: transparent 0% 0% no-repeat padding-box;
  border: 1px solid $primarycolor;
  opacity: 1;
}

.departmentCountryName {
  width: 35px;
  height: 10px;
  text-align: left;
  font: normal normal 600 20px/41px proxima-nova;
  letter-spacing: 2.3px;
  color: #52575d;
  text-transform: uppercase;
  opacity: 1;
}

.departmentCrossStyle {
  color: linear-gradient($primarycolor, $statusred) !important;
  cursor: pointer;
}

.marginLeft10 {
  margin-left: 10px;
}

.departmentFileStyle2 {
  height: 30px !important;
  width: 30px !important;
  object-fit: contain;
  cursor: pointer;
}