@import "../../../../index.scss";

.marginTop {
    margin-top: 20px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginTop10 {
    margin-top: 10px;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    position: relative;
}

.stickyContainer {
    position: fixed;
    bottom: 0;
    right: 60px;
    width: 25%;
    padding: 0px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    z-index: 10;
}

@media (max-width: 948px) {
    .stickyContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .stickyContainer {
        display: none;
    }
}

.hiddenStickyContainer {
    opacity: 0;
    pointer-events: none;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
}

.continue {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px;
}

.progressStyle {
    height: 10px;
    width: 100%;
    border-radius: 2px;
}

.progressStyleBackground {
    background: transparent linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 4%, #E9E9F0 7%, #E9E9F0 100%) 0% 0% no-repeat padding-box;
}

.titleText {
    text-align: left;
    font: normal normal bold 17px/26px var(--font-style);
    letter-spacing: 0px;
    color: #52575D;
}

.descriptionText {
    text-align: left;
    font: normal normal bold 14px/26px var(--font-style);
    letter-spacing: 0px;
    color: #94979A;
}

.dragAndDropBox {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 4px;
    padding: 30px;
    opacity: 0.75;
    cursor: pointer;
}

.dragAndDropText {
    text-align: center;
    font: normal normal 600 18px/36px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: capitalize;
}

.dragAndDropDescriptionText {
    text-align: center;
    font: normal normal normal 18px/36px var(--font-style);
    letter-spacing: 0px;
    color: #52575D;
}

.tableHeader {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid var(--primary-color);
    border-radius: 6px;
    padding: 10px 20px;
}

.tableHeaderText {
    text-align: left;
    font: normal normal bold 15px/23px var(--font-style);
    letter-spacing: 0.9px;
    color: #52575D;
    text-transform: capitalize;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis; 
}

.tableGrid {
    display: grid;
    grid-template-columns: 42% 15% 40%;
    gap: 1%;
}

.tableGridValidation {
    display: grid;
    grid-template-columns: 77% 21%;
    gap: 0.5%;
}

@media (max-width: 768px) {
    .tableGridValidation {
        grid-template-columns: 1fr;
    }
}

.requiredDocumentCard {
    background: $tableRow1 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid var(--primary-color);
    border-radius: 4px;
    padding: 10px 15px;
}

.info {
    opacity: 0.7;
}

.requiredDocumentCardAlternativeColor {
    background: $tableRowAlternative 0% 0% no-repeat padding-box;
}

.documentTextStyle {
    text-align: left;
    font: normal normal normal 15px/21px var(--font-style);
    letter-spacing: 0px;
    color: #52575D;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.marginTop5 {
    margin-top: 5px;
}

.cursorPointer {
    cursor: pointer;
}

.twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.threeColForButton {
    display: none;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

.twoColForButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.setupCompleteGrid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 20px;
}

.uploadTextStyle {
    text-align: center;
    font: normal normal 600 20px/28px var(--font-style);
    color: var(--primary-color);
    text-transform: capitalize;
}

.uploadBorderStyle {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 2px dashed $secondarycolor;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
}

.redBorder {
    border: 1px solid #FF6562 !important;
}

.greenBorder {
    border: 1px solid $statusgreen !important;
}

.yellowBorder {
    border: 1px solid $statusyellow !important;
}

.uploadDescriptionText {
    text-align: center;
    font: normal normal 300 14px/14px var(--font-style);
    color: #52575D;
}

.gridStyle {
    display: grid;
    grid-template-columns: 3% 24% 30% 14% 9% 7% 3% 3%;
    gap: 1%;
}

.tableContainer {
    overflow-x: auto;
    max-width: 100%;
}

.fullWidth {
    width: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 16px;
}

.collapsableCardText {
    text-align: left;
    font: normal normal bold 17px/25px var(--font-style);
    letter-spacing: 0px;
    color: #52575D;
}

.addMoreBorder {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid $secondarycolor;
    border-radius: 8px;
}

.padding20 {
    padding: 20px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.setupCompleteCard {
    background-color: $secondarycolor;
    padding: 20px;
    width: 100%;
}

.editOrUpdateESign {
    color: var(--primary-color);
    font: normal normal 600 20px/26px var(--font-style);
    text-align: right;
    visibility: hidden;
}

.setupCompleteCard:hover {
    background-color: $secondarycolor;

    .editOrUpdateESign {
        visibility: visible;
    }
}

.setupCompletedText {
    text-align: center;
    font: normal normal 600 23px/26px var(--font-style);
    letter-spacing: 0px;
    color: #52575D;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.docTypeImgStyle {
    height: 20px;
    width: auto;
    object-fit: contain;
}

.docTypeEditImgStyle {
    height: 20px;
    width: auto;
    object-fit: contain;
    color: var(--primary-color);
}

.fileLoadingStyle {
    height: auto;
    width: 40%;
    object-fit: contain;
}

.fileLoadingStyleCapLogo {
    height: 200px;
    width: 40%;
    object-fit: contain;
}

.uploadContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.fileImportingMsg {
    font: normal normal bold 20px/28px var(--font-style);
    color: var(--primary-color);
    margin: 10px 0;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.disabledButton {
    color: #fff !important;
    cursor: not-allowed !important;
    background: #94979A 0% 0% no-repeat padding-box !important;
}

.heading {
    text-align: left;
    font: normal normal bold 20px/28px var(--font-style);
    color: #52575D;
    text-transform: capitalize;
}

.marginLeft {
    margin-left: 20px;
}

.description {
    text-align: left;
    font: normal normal normal 16px/24px var(--font-style);
    letter-spacing: 0px;
    color: #52575D;
}

.eSignDialog {
    height: 75%;
    width: 40% !important;
}

.eSignDialogBackground {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;
}

.toggleButton {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        color: white;
        padding: 10px 5px;
        border-radius: 0 0 0 12px;
        cursor: pointer;
        z-index: 1001;
    }
}

.headerData {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
        padding: 15px;
        z-index: 1000;
        font: normal normal bold 18px var(--font-style);
        border-radius: 0 0 12px 12px;
    }
}

.bgdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
}

.infoContainer {
    @media (max-width: 768px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        background-color: var(--primary-color);
        color: #fff;
        padding: 20px;
        border-radius: 0 12px 12px 0;
        z-index: 1000;
        max-height: 100vh;
        overflow-y: auto;
    }
}

.infoContainer.show {
    display: block;
}

.closeIcon {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.hidden {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.eSignatureOnFileCard {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 1px dashed var(--primary-color);
    border-radius: 8px;
    padding: 20px 40px;
}

.eSignatureOnFileTitle {
    text-align: center;
    font: normal normal 600 23px/26px var(--font-style);
    color: var(--primary-color);
}

.eSignatureOnFileButton {
    display: flex;
    justify-content: flex-end;
}

.eSignatureOnFileButtonPadding {
    padding: 5px 30px;
}

.dateTitle {
    text-align: left;
    font: normal normal bold 17px/26px var(--font-style);
    color: #52575D;
}

.date {
    text-align: left;
    font: normal normal normal 17px/26px var(--font-style);
    color: #52575D;
}

.eSignGrid {
    display: grid;
    grid-template-columns: 49% 24% 24%;
    gap: 1%;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
    }
}

.crossStyle {
    height: 18px;
    width: 18px;
}

.continueValidation {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
}

.saveInProgressValidation {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
}