.heading {
    text-align: left;
    font: normal normal bold 20px/28px proxima-nova;
    color: #7165E3;
    text-transform: capitalize;
}

.marginTop {
    margin-top: 20px;
}

.marginLeft {
    margin-left: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.description {
    text-align: left;
    font: normal normal normal 16px/24px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.eSignDialog {
    height: 75%;
    width: 60% !important;
}

.padding {
    padding: 10px;
}


.twoColGrid {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}

.uploadTextButton {
    display: inline-block !important;
    font: normal normal bold 13px/20px proxima-nova;
    color: #52575D;
    border: 1px solid #52575D;
    border-radius: 4px;
    padding: 5px;
    text-align: center !important;
    cursor: pointer;
}

.imgIcon {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.uploadGrid {
    display: grid;
    grid-template-columns: 3% 80% 15%;
    gap: 1%;
}

.uploadButton {
    background: #F5F5F8 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #d7d4f7;
    border-radius: 4px;
    padding: 5px 10px;
}


.uploadText {
    text-align: left !important;
    font: normal normal bold 13px/20px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.categoryGrid {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 20px;
}

.itemLeft {
    padding: 10px;
    /* Inner padding for each line */
    text-align: left;
}

.cardTitle {
    text-align: left;
    font: normal normal bold 18px/26px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
    // text-transform: capitalize;
}


.eSignDialogBackground {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;
}

.continue {
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid #7165E3;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #7165E3;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}


.crossStyle {
    height: 18px;
    width: 18px;
}

.cursorPointer {
    cursor: pointer;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.eSignGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.dateTitle {
    text-align: left;
    font: normal normal bold 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.date {
    text-align: left;
    font: normal normal normal 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.restrictedPrivilegeGrid {
    display: grid;
    grid-template-columns: 3% 80% 15%;
    gap: 1%;
}

.restrictedPrivilegeGrid> :nth-child(4) {
    grid-column: 1 / -1;
}

.restrictedPrivilegeGrid> :nth-child(5) {
    grid-column: 1 / -1;
}


.cardDescription {
    text-align: left;
    font: normal normal normal 18px/20px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
    // text-transform: capitalize;
}