.marginTop {
    margin-top: 20px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginTop10 {
    margin-top: 10px;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid #7165E3;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #7165E3;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
}

.continue {
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px;
}

.progressStyle {
    height: 10px;
    width: 100%;
    border-radius: 2px;
}

.progressStyleBackground {
    background: transparent linear-gradient(90deg, #7165E3 0%, #7165E3 4%, #E9E9F0 7%, #E9E9F0 100%) 0% 0% no-repeat padding-box;
}

.titleText {
    text-align: left;
    font: normal normal bold 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.descriptionText {
    text-align: left;
    font: normal normal bold 14px/26px proxima-nova;
    letter-spacing: 0px;
    color: #94979A;
}

.dragAndDropBox {
    background: #F5F5F8 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #d7d4f7;
    border-radius: 4px;
    padding: 30px;
    opacity: 0.75;
    cursor: pointer;
}

.dragAndDropText {
    text-align: center;
    font: normal normal 600 18px/36px proxima-nova;
    letter-spacing: 0px;
    color: #7165E3;
    text-transform: capitalize;
}

.dragAndDropDescriptionText {
    text-align: center;
    font: normal normal normal 18px/36px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.tableHeader {
    background: #d7d4f7 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #c3bef3;
    border-radius: 6px;
    padding: 10px 20px;
}

.tableHeaderText {
    text-align: left;
    font: normal normal bold 15px/23px proxima-nova;
    letter-spacing: 0.9px;
    color: #52575D;
    text-transform: capitalize;
}

.tableGrid {
    display: grid;
    grid-template-columns: 50% 15% 32%;
    gap: 1%;
}

.tableGridValidation {
    display: grid;
    grid-template-columns: 80% 18%;
    gap: 1%;
}


.requiredDocumentCard {
    background: #F5F5F8 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #d7d4f7;
    border-radius: 4px;
    padding: 10px 15px;
}

.info {
    opacity: 0.7;
}

.requiredDocumentCardAlternativeColor {
    background: #f0f0f5 0% 0% no-repeat padding-box;
}

.documentTextStyle {
    text-align: left;
    font: normal normal normal 15px/21px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.marginTop5 {
    margin-top: 5px;
}

.cursorPointer {
    cursor: pointer;
}

.twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.twoColForButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.setupCompleteGrid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 20px;
}

.uploadTextStyle {
    text-align: center;
    font: normal normal 600 20px/28px proxima-nova;
    color: #7165E3;
    text-transform: capitalize;
}

.uploadBorderStyle {
    background: #F5F5F8 0% 0% no-repeat padding-box;
    border: 2px dashed #d7d4f7;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
}

.redBorder {
    border: 1px solid #FF6562 !important;
}

.uploadDescriptionText {
    text-align: center;
    font: normal normal 300 14px/14px proxima-nova;
    color: #52575D;
}

.gridStyle {
    display: grid;
    grid-template-columns: 3% 23% 5% 32% 14% 7% 5% 3%;
    gap: 1%;
}

.fullWidth {
    width: 100%;
}

.collapsableCardText {
    text-align: left;
    font: normal normal bold 17px/25px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.addMoreBorder {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #c4bef3;
    border-radius: 8px;
}

.padding20 {
    padding: 20px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.setupCompleteCard {
    background-color: #ebe9fb;
    padding: 20px;
    width: 100%;
}

.editOrUpdateESign {
    color: #7165E3;
    font: normal normal 600 20px/26px proxima-nova;
    text-align: right;
    visibility: hidden;
}

.setupCompleteCard:hover {
    background-color: #c4bef3;

    .editOrUpdateESign {
        visibility: visible;
    }
}

.setupCompletedText {
    text-align: center;
    font: normal normal 600 23px/26px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.docTypeImgStyle {
    height: 20px;
    width: auto;
    object-fit: contain;
}

.fileLoadingStyle {
    height: auto;
    width: 40%;
    object-fit: contain;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.disabledButton {
    color: #fff !important;
    cursor: not-allowed !important;
    background: #94979A 0% 0% no-repeat padding-box !important;
}

.heading {
    text-align: left;
    font: normal normal bold 20px/28px proxima-nova;
    color: #52575D;
    text-transform: capitalize;
}

.marginLeft {
    margin-left: 20px;
}

.description {
    text-align: left;
    font: normal normal normal 16px/24px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.eSignDialog {
    height: 75%;
    width: 40% !important;
}

.eSignDialogBackground {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;
}

.crossStyle {
    height: 18px;
    width: 18px;
}

.continueValidation {
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
}

.saveInProgressValidation {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid #7165E3;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #7165E3;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
}