@import "../../../index.scss";
@import "../../../index.scss";

.marginTop {
    margin-top: 20px;
}

.marginLeft {
    margin-left: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    position: relative;

    @media (max-width: 768px){
        grid-template-columns: 1fr;
    }
}

.stickyContainer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    right: 100px;
    width: calc(25% - 50px);
}

@media (max-width: 1030px) {
    .stickyContainer {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
        width: auto; 
        padding: 0px 20px 20px 20px; 
        margin: 0 auto; 
        box-sizing: border-box;
    }
 }

 @media (max-width: 768px) {
    .stickyContainer {
       display: none;
    }
}

.hiddenStickyContainer {
    opacity: 0;
    pointer-events: none;
    // filter: blur(5px); 
    // box-shadow: 0 0 10px 5px #06617A;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveInProgress:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.continue {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 50px;
}

.dateTitle {
    text-align: left;
    font: normal normal bold 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.date {
    text-align: left;
    font: normal normal normal 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.toggleButton {
    display: none;
  }
  
  @media (max-width: 768px) {
    .toggleButton {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $primarycolor;
      color: white;
      padding: 10px 5px;
      border-radius: 0 0 0 12px;
      cursor: pointer;
      z-index: 1001;
    }
  
    .infoContainer {
      display: none; 
      position: fixed;
      top: 0;
      left: 0;
      background-color: $primarycolor;
      padding: 20px;
      border-radius: 0 12px 12px 0;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 999;
      width: 40%;
      max-height: 100vh;
      overflow-y: auto;
    }
  
    .infoContainer.show {
      display: block;
    }
  }    

  .closeIcon {
    display: none; 
  
    @media (max-width: 768px) {
      display: block; 
      position: absolute;
      top: 10px;
      right: 10px;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  .headerData {
    display: none; 
  
    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $primarycolor;
        color: white;
        padding: 15px;
        z-index: 1000;
        font: normal normal bold 18px proxima-nova;
        border-radius: 0 0 12px 12px;
        height: clamp(45px, 8vh, 100px);
    }
}

.blurredBackground {
    pointer-events: none; 
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 190, 190, 0.5);
    z-index: 999; 
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (max-width: 900px) {
        grid-template-columns: 1fr; 
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr); 
    }
}

.twoColForButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.threeColForButton {
    display: none;

    @media (max-width: 768px){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

.fourCol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.progressStyle {
    height: 10px;
    width: 100%;
    border-radius: 2px;
}

.progressStyleBackground {
    background: transparent linear-gradient(90deg, $primarycolor 0%, $primarycolor 95%, #E9E9F0 100%, #E9E9F0 100%) 0% 0% no-repeat padding-box;
}

.siteDisplayCard {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 6px;
    padding: 10px;
}

.siteDisplayGrid {
    display: grid;
    grid-template-columns: 93% 6%;
    gap: 1%;
}

.siteDisplaySiteTextStyle {
    text-align: left;
    font: normal normal bold 13px/20px proxima-nova;
    color: #2C2C2C;
}

.siteDisplayDepartmentTextStyle {
    text-align: left;
    font: normal normal bold 12px/24px proxima-nova;
    letter-spacing: 0px;
    color: #52575D99;
}

.siteDisplaySurgeryTextStyle {
    text-align: left;
    font: normal normal bold 10px/24px proxima-nova;
    letter-spacing: 0px;
}

.logo {
    position: relative;
    width: auto;
    height: 80px;
    object-fit: contain;
}

.justifyCenter {
    display: flex;
    flex: 1;
    justify-content: center;
}

.labelText {
    text-align: left;
    font: normal normal bold $labelvaluetext proxima-nova;
    letter-spacing: 0px;
    color: #94979A;
}

.valueText {
    text-align: left;
    font: normal normal 600 $labelvaluetext proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.applicantNameGrid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.descriptionStyle {
    text-align: left;
    font: normal normal normal 15px/23px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.leftAlign {
    text-align: left;
}

.checkGrid {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.disabled {
    cursor: not-allowed;
}

.cardTitle {
    text-align: left;
    font: normal normal bold 20px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}


.fileLoadingStyle {
    height: 200px;
    width: 40%;
    object-fit: contain;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


/* Responsive adjustments */
// @media (max-width: 1024px) {
//     .applicationScreenGrid {
//         grid-template-columns: 1fr;
//     }

//     .stickyContainer {
//         grid-column: 1 / 2;
//     }
// }

// @media (max-width: 768px) {
//     .twoCol, .twoColForButton, .threeColForButton, .fourCol, .healthCareGrid {
//         grid-template-columns: 1fr;
//         padding: 0;
//     }

//     .siteDisplayGrid {
//         grid-template-columns: 1fr;
//     }
// }

// @media (max-width: 480px) {
//     .twoCol, .twoColForButton, .threeColForButton, .fourCol, .healthCareGrid {
//         grid-template-columns: 1fr;
//         padding: 0;
//     }

//     .siteDisplayGrid {
//         grid-template-columns: 1fr;
//     }
// }