@import "../../../index.scss";

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginLeft {
    margin-left: 20px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginRight {
    margin-right: 10px;
}

.cursorPointer {
    cursor: pointer !important;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    position: relative;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.stickyContainer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    right: 100px;
    width: calc(25% - 50px);
}

@media (max-width: 948px) {
    .stickyContainer {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
        width: auto;
        padding: 0px 20px 20px 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .stickyContainer {
        display: none;
    }
}

.hiddenStickyContainer {
    opacity: 0;
    pointer-events: none;
    // filter: blur(5px); 
    // box-shadow: 0 0 10px 5px #06617A;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveInProgress:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.continue {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.sign {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 12px/15px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 10px 20px 20px 20px;
}

.toggleButton {
    display: none;
}

@media (max-width: 768px) {
    .toggleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        color: white;
        padding: 10px 5px;
        border-radius: 0 0 0 12px;
        cursor: pointer;
        z-index: 1001;
    }

    .infoContainer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        padding: 20px;
        border-radius: 0 12px 12px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        width: 40%;
        max-height: 100vh;
        overflow-y: auto;
    }

    .infoContainer.show {
        display: block;
    }
}

.closeIcon {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.headerData {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
        padding: 15px;
        z-index: 1000;
        font: normal normal bold 18px var(--font-style);
        border-radius: 0 0 12px 12px;
        height: clamp(45px, 8vh, 100px);
    }
}

.blurredBackground {
    pointer-events: none;
}

.bgdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 999;
}

.hidden {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.twoColForButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.threeColForButton {
    display: none;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

.fourCol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.EducationGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.EducationGrid> :nth-child(1) {
    grid-column: span 6;
}

.EducationGrid> :nth-child(2) {
    grid-column: span 6;
}

.EducationGrid> :nth-child(3) {
    grid-column: span 6;
}

.EducationGrid> :nth-child(4) {
    grid-column: span 2;
}

.EducationGrid> :nth-child(5) {
    grid-column: span 2;
}

.EducationGrid> :nth-child(6) {
    grid-column: span 2;
}

.progressStyle {
    height: 10px;
    width: 100%;
    border-radius: 2px;
}

.progressStyleBackground {
    background: transparent linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 70%, #E9E9F0 75%, #E9E9F0 100%) 0% 0% no-repeat padding-box;
}

.siteDisplayCard {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 6px;
    padding: 10px;
}

.siteDisplayGrid {
    display: grid;
    grid-template-columns: 93% 6%;
    gap: 1%;
}

.siteDisplaySiteTextStyle {
    text-align: left;
    font: normal normal bold 13px/20px var(--font-style);
    color: #2C2C2C;
}

.siteDisplayDepartmentTextStyle {
    text-align: left;
    font: normal normal bold 12px/24px var(--font-style);
    letter-spacing: 0px;
    color: #52575D99;
}

.siteDisplaySurgeryTextStyle {
    text-align: left;
    font: normal normal bold 10px/24px var(--font-style);
    letter-spacing: 0px;
}

.homeMailingAddressGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.homeMailingAddressGrid> :nth-child(1) {
    grid-column: 1 / -1;
}

.homeMailingAddressGrid> :nth-child(2) {
    grid-column: 1 / -1;
}

.homeMailingAddressGrid> :nth-child(3) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.businessMailingAddressGrid> :nth-child(1) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid> :nth-child(2) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid> :nth-child(3) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid> :nth-child(4) {
    grid-column: 1 / -1;
}

.tableGrid {
    display: grid;
    grid-template-columns: 3% 3% 16% 21% 16% 15% 15% 3%;
    gap: 1%;
}

.cmeCard {
    background: #14358F14 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #14358F1F;
    border-radius: 12px;
    padding: 20px;
}

.cmeHourCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    padding: 20px;
}

.totalText {
    text-align: center;
    font: normal normal 600 16px/18px var(--font-style);
    letter-spacing: 0px;
    color: #1D2437;
}

.hourText {
    text-align: center;
    font: normal normal normal 24px/49px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.hourRemainingText {
    text-align: center;
    font: italic normal medium 12px/14px var(--font-style);
    letter-spacing: 0px;
    color: #FF5555;
}

.creditsHeading {
    text-align: left;
    font: normal normal bold 15px/17px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
}

.cmeCreditsGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
}

.dateTitle {
    text-align: left;
    font: normal normal bold 17px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.date {
    text-align: left;
    font: normal normal normal 17px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.completedCard {
    background: #26C6004D 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #1D243729;
    border: 0.4000000059604645px solid #26C600;
    border-radius: 8px;
    padding: 20px;
    font: normal normal bold 23px/26px var(--font-style);
    color: #1C8F00;
    text-align: left;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.pendingCard {
    background: #FFFFFF03 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #1D243729;
    border: 0.4000000059604645px solid #1D243729;
    border-radius: 8px;
    padding: 20px;
    font: normal normal bold 23px/26px var(--font-style);
    color: #1D2437;
    text-align: left;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.reviewInProgressCard {
    background: #FFFCF5 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #1D243729;
    border: 0.4000000059604645px solid #FFAA00;
    border-radius: 8px;
    padding: 20px;
    font: normal normal bold 23px/26px var(--font-style);
    color: #1D2437;
    text-align: left;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.pastDueCard {
    background: #FFF8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #1D243729;
    border: 0.4000000059604645px solid #FF5555;
    border-radius: 8px;
    padding: 20px;
    font: normal normal bold 23px/26px var(--font-style);
    color: #FF5555;
    text-align: left;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

// .pastDueCard:hover,
// .reviewInProgressCard:hover,
// .completedCard:hover {
//     transform: scale(1.01);
// }

.textTransform:hover {
    color: var(--primary-color);
    transform: scale(1.01);
}

.iconBackgroundCompleted {
    background-color: #1C8F00;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

.iconBackgroundPending {
    background-color: #1D243780;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

.iconBackgroundReviewInProgress {
    background-color: #FFAA00;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

.iconBackgroundPastDue {
    background-color: #FF5555;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

.medicalDirectivesText {
    text-align: left;
    font: normal normal bold 23px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.attestButton {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 14px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 160px;
}

.whiteSignIcon {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.gridStyle {
    display: grid;
    grid-template-columns: 3% 56% 10% 10% 15%;
    gap: 1%;
}

.gridStyleWithCheckbox {
    display: grid;
    grid-template-columns: 8% 57% 8% 11% 7%;
    gap: 2%;
}

.blueSignImgStyle {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.iconBackgroundColor {
    background-color: #2C2C2C;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.iconBackgroundColorYellow {
    background-color: $statusyellow;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.iconBackgroundColorGreen {
    background-color: #25BF6A;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.iconBackgroundColorRed {
    background-color: $statusred;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.titleTextStyle {
    text-align: left;
    font: normal normal medium 18px/30px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
}

.description {
    text-align: left;
    font: normal normal 600 18px/20px var(--font-style);
    letter-spacing: 0px;
    color: #1D2437;
    opacity: 0.7;
}

.disabledButton {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.disabledButton :hover {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.checkGrid {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.leftAlign {
    text-align: left;
}

.cardTitle {
    text-align: left;
    font: normal normal bold 20px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.disabled {
    filter: grayscale(100%);
    opacity: 0.5;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.footerContainer {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    flex-direction: row;
    /* Ensures items are in a single row */
    padding: 0 20px;
    /* Optional padding */
}

.footerIconStyle {
    height: 30px;
    width: 80px;
    object-fit: contain;
    margin-right: 10px;
    /* Adds spacing between image and text */
}

.poweredBy {
    text-align: center;
    font: normal normal normal 14px/20px var(--font-style);
    color: var(--primary-color);
    margin: 0;
    /* Removes any default margins for alignment */
}

.screenPadding {
    padding: 20px 100px;
    height: calc(100vh - 80px);
    overflow: auto;
    overflow-y: scroll !important;
    // scrollbar-width: thin !important;
    scrollbar-color: gray $tableheadbg !important;
}

.screenBackground {
    background: $secondarycolor 0% 0% no-repeat padding-box;
}

.applicationUserCard {
    height: auto;
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 12px;
    border: 0.4000000059604645px solid #e5e6e6;
}

.profilePic {
    height: 80px;
    width: 80px;
    object-fit: cover;

    @media (max-width: 768px) {
        background: var(--primary-color);
    }
}

.profileGrid {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 2%;
}

.photoText {
    text-align: center;
    font: normal normal bold 30px var(--font-style);
    height: 100%;
    color: #000;
    opacity: 1 !important;
    rotate: -45deg;
}

.nameStyle {
    text-align: left;
    font: normal normal bold 17px/21px var(--font-style);
    color: $textgrey;
    text-transform: capitalize;
}

.applyingFor {
    text-align: left;
    font: normal normal normal 13px/17px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
}

.connectToLinkedIn {
    text-align: left;
    text-decoration: underline;
    font: normal normal medium 18px/31px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop5 {
    margin-top: 5px;
}

.verticalSpaceBetween {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rowSpaceBetween {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}

.iconStyle {
    height: 19px;
    width: 16px;
    object-fit: contain;

    @media (max-width: 768px) {
        background: #FFF;
    }
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.cursorPointer {
    cursor: pointer !important;
}


.contactStyle {
    text-align: left;
    font: normal normal normal 14px/19px var(--font-style);
    color: $textgrey;

    @media (max-width: 768px) {
        color: #FFF;
    }
}

.purpleText {
    color: var(--primary-color) !important;

    @media (max-width: 768px) {
        color: #FFF !important;
    }
}

@media (max-width: 768px) {
    .applicationUserCard {
        background: var(--primary-color) 0% 0% no-repeat padding-box;
        border: var(--primary-color);
    }

    .nameStyle {
        font: normal normal bold 15px var(--font-style);
        color: #FFFFFF;
    }

    .applyingFor {
        font: normal normal normal 10px var(--font-style);
        color: #FFFFFF;
    }

    .connectToLinkedIn {
        font: normal normal medium 16px var(--font-style);
        color: #FFFFFF;
    }
}

.eSignDialog {
    height: 75%;
    width: 40%;

    @media (max-width: 1130px) {
        height: auto;
        width: auto;
    }
}

.eSignDialogBackground {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;
}

.heading {
    text-align: left;
    font: normal normal bold 20px/28px var(--font-style);
    color: var(--primary-color);
    text-transform: capitalize;
}

.continueValidation {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
}

.continueValidation:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.journeyImgStyle {
    width: 100%;
    object-fit: contain;
    height: auto;
}