@import "../../../index.scss";

.marginTop20 {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop30 {
    margin-top: 30px !important;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.marginLeft10 {
    margin-left: 10px;
}

.margin20 {
    margin: 20px;
}


.textAlignLeft {
    text-align: left;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.docTypeImgStyle {
    height: 20px;
    width: auto;
    object-fit: contain;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveInProgress:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.continue {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.marginLeft20 {
    margin-left: 20px;
}

.screenPadding {
    padding: 20px 100px;
    height: calc(100vh - 80px);
    overflow: scroll;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    position: relative;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .screenPadding {
        padding: 10px;
        overflow: scroll;
    }
}

.bgdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 999;
}

.hidden {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.headerData {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $primarycolor;
        color: white;
        padding: 15px;
        z-index: 1000;
        font: normal normal bold 18px proxima-nova;
        border-radius: 0 0 12px 12px;
        height: clamp(45px, 8vh, 100px);
    }
}

.blurredBackground {
    pointer-events: none;
}

.toggleButton {
    display: none;
}

@media (max-width: 768px) {
    .toggleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $primarycolor;
        color: white;
        padding: 10px 5px;
        border-radius: 0 0 0 12px;
        cursor: pointer;
        z-index: 1001;
    }

    .infoContainer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $primarycolor;
        padding: 20px;
        border-radius: 0 12px 12px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        width: 40%;
        height: 100vh;
        overflow-y: auto;
    }

    .infoContainer.show {
        display: block;
    }
}

.closeIcon {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px;
    // display: grid;
    // grid-template-rows: auto auto auto;
    // gap: 20px;
}

.textStyle {
    text-align: left;
    font: normal normal normal 14px/20px proxima-nova;
    letter-spacing: 0px;
    color: #171A1A;
    opacity: 1;
}

.headingTextStyle {
    text-align: left;
    font: normal normal normal 22px/31px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: capitalize;
    opacity: 1;
}

.stickyContainer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    right: 100px;
    width: calc(25% - 50px);
}

@media (max-width: 948px) {
    .stickyContainer {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
        width: auto;
        padding: 0px 20px 20px 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .stickyContainer {
        display: none;
    }
}

.tableContainer {
    overflow-x: auto !important;
    max-width: 100%;
}

@media (max-width: 1120px) and (min-width: 320px) {
    .tableContainer {
        max-width: 100%;
        overflow-x: auto !important;
        overflow-y: hidden;
    }
}



.commentHeadingTextStyle {
    text-align: left;
    font: normal normal bold 14px/24px proxima-nova;
    letter-spacing: 0px;
    color: #737575;
    opacity: 1;
}

.twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.gridStyle {
    display: grid;
    grid-template-columns: 3% 35% 33% 9% 7% 3% 3%;
    gap: 1%;
}

.gridStyleAddDocument {
    display: grid;
    grid-template-columns: 3% 87% 3% 3%;
    gap: 1%;
}


.heading {
    text-align: left;
    font: normal normal bold 20px/28px proxima-nova;
    color: $primarycolor;
    text-transform: capitalize;
}

.fullWidth {
    width: 100%;
}

.footerContainer {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    flex-direction: row;
    /* Ensures items are in a single row */
    padding: 0 20px;
    /* Optional padding */
}

.footerIconStyle {
    height: 30px;
    width: 80px;
    object-fit: contain;
    margin-right: 10px;
    /* Adds spacing between image and text */
}

.poweredBy {
    text-align: center;
    font: normal normal normal 14px/20px proxima-nova;
    color: $primarycolor;
    margin: 0;
    /* Removes any default margins for alignment */
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fileLoadingStyle {
    height: auto;
    width: 40%;
    object-fit: contain;
}

.dataLoadingStyle {
    height: 200px;
    width: 40%;
    object-fit: contain;
}

.threeColumnGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.referenceCardStyle {
    background: #dddddf 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 18px #0F0B3129;
    border: 1px solid $primarycolor;
    border-radius: 4px;
    opacity: 0.9;
    padding: 3px;
}

.referenceCardStyleDescription {
    // background: #dddddf 0% 0% no-repeat padding-box;
    // box-shadow: 0px 3px 18px #0F0B3129;
    border: 1px solid $primarycolor;
    border-radius: 4px;
    opacity: 0.9;
    // padding: 3px;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.cursorPointer {
    cursor: pointer;
}

.lableStyle {
    text-align: left;
    font: normal normal normal 15px/17px proxima-nova;
    letter-spacing: 0px;
    color: $textgrey;
    // text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
}

.dividerStyle {
    background: #E8E9E9 0% 0% no-repeat padding-box;
    height: 1px;
}

.notesAlignment {
    margin-left: 50px;
}

.markedAsText {
    text-align: left;
    font: italic normal normal 18px/24px proxima-nova;
    letter-spacing: 0px;
    color: $textsecondary;
}

.yesText {
    font: italic normal bold 18px/24px proxima-nova;
    color: #14B15A;
}

.noText {
    font: italic normal bold 18px/24px proxima-nova;
    color: #FF5555;
}

.cardTitle {
    text-align: left;
    font: normal normal bold 20px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.applicationCardStyleReappointment {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 0px 20px 20px 20px;
}

.privilegeCard {
    background: #14358F00 0% 0% no-repeat padding-box;
    // box-shadow: 0px 0px 8px #040B2014;
    // border: 0.4000000059604645px solid #5087D9;
    border-radius: 5px;
    padding: 10px;
    z-index: 99999 !important;
}

.privilegeHeading {
    text-align: left;
    font: normal normal normal 16px/20px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.privilegeHeading1 {
    text-align: left;
    font: normal normal bold 16px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
    // font-size: 16px;
}

.privilegeHeadingTitle {
    font: normal normal medium 18px/24px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
    text-transform: capitalize;
    opacity: 1;
}

.privilegeContentCard {
    background: #1D24370A 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #040B2014;
    border-radius: 8px;
    padding: 10px;
}

.privilegeHeadingCurrent {
    text-align: left;
    font: italic normal bold 12px/17px proxima-nova !important;
    letter-spacing: 0px;
    color: #1D2437;
}

.privilegeHeadingReappointment {
    text-align: left;
    font: italic normal bold 12px/17px proxima-nova !important;
    letter-spacing: 0px;
    color: $primarycolor;
}

.privilegeContentChangeCard {
    background: #F5F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #040B2014;
    border-radius: 8px;
    padding: 10px;
}

.categoryGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.itemLeft {
    padding: 10px;
    /* Inner padding for each line */
    text-align: left;
}

.privilegeCodeGrid {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
}

.fileDisplayGrid {
    display: grid;
    grid-template-columns: 20% 72% 5%;
    gap: 1%;
}

.fileDisplayCME {
    background: $tableheadbg 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $tableheadhover;
    border-radius: 4px;
    padding: 10px;
}

.imgIcon {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.eSignGrid {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    gap: 20px;
}

.cmeCard {
    // background: #14358F14 0% 0% no-repeat padding-box;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #14358F1F;
    border-radius: 12px;
    padding: 20px;
}

.cmeHourCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    padding: 20px;
}

.totalText {
    text-align: center;
    font: normal normal 600 16px/18px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.hourText {
    text-align: center;
    font: normal normal normal 24px/49px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.hourRemainingText {
    text-align: center;
    font: italic normal medium 12px/14px proxima-nova;
    letter-spacing: 0px;
    color: #FF5555;
}

.creditsHeading {
    text-align: left;
    font: normal normal bold 15px/17px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
}

.cmeCreditsGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
}

.checkGrid {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.disabled {
    cursor: not-allowed;
}

.leftAlign {
    text-align: left;
}

.medicalDirectivesGridStyle {
    display: grid;
    grid-template-columns: 5% 53% 10% 10% 18%;
    gap: 1%;
}

.lableReadOnlyStyleInPOD {
    text-align: left;
    font: normal normal normal 18px/24px proxima-nova;
    letter-spacing: 0px;
    color: $textsecondary;
    // text-transform: capitalize;
    opacity: 1;
    margin-top: 10px;
    max-width: 85%;
}

.homeMailingAddressGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.homeMailingAddressGrid> :nth-child(1) {
    grid-column: span 3;
}

.homeMailingAddressGrid> :nth-child(2) {
    grid-column: span 3;
}

.homeMailingAddressGrid> :nth-child(3) {
    grid-column: span 3;
}

.homeMailingAddressGrid> :nth-child(4) {
    grid-column: span 3;
}

.homeMailingAddressGrid> :nth-child(5) {
    grid-column: span 3;
}

.homeMailingAddressGrid> :nth-child(6) {
    grid-column: span 3;
}

.mailingAddressGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.mailingAddressGrid> :nth-child(1) {
    grid-column: span 6;
}

.mailingAddressGrid> :nth-child(2) {
    grid-column: span 3;
}

.mailingAddressGrid> :nth-child(3) {
    grid-column: span 3;
}

.mailingAddressGrid> :nth-child(4) {
    grid-column: span 3;
}

.mailingAddressGrid> :nth-child(5) {
    grid-column: span 3;
}

.mailingAddressGrid> :nth-child(6) {
    grid-column: span 3;
}

.mailingAddressGrid> :nth-child(7) {
    grid-column: span 3;
}

.businessMailingAddressGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.businessMailingAddressGrid> :nth-child(1) {
    grid-column: span 12;
}

.businessMailingAddressGrid> :nth-child(2) {
    grid-column: span 12;
}

.businessMailingAddressGrid> :nth-child(3) {
    grid-column: span 6;
}

.businessMailingAddressGrid> :nth-child(4) {
    grid-column: span 6;
}

.businessMailingAddressGrid> :nth-child(5) {
    grid-column: span 6;
}

.businessMailingAddressGrid> :nth-child(6) {
    grid-column: span 6;
}

.businessMailingAddressGrid> :nth-child(7) {
    grid-column: span 6;
}

.businessMailingAddressGrid> :nth-child(8) {
    grid-column: span 6;
}

.businessMailingAddressGrid> :nth-child(9) {
    grid-column: span 6;
}

.businessMailingAddressGrid> :nth-child(10) {
    grid-column: span 6;
}

.businessMailingAddressGrid> :nth-child(11) {
    grid-column: span 6;
}

.businessMailingAddressGrid> :nth-child(12) {
    grid-column: span 6;
}

.applicantGrid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.conductGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.medicalHistoryGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.medicalHistoryGrid> :nth-child(1) {
    grid-column: 1 / -1;
}

.medicalHistoryGrid> :nth-child(2) {
    grid-column: 1 / -1;
}

.medicalHistoryGrid> :nth-child(3) {
    grid-column: 1 / -1;
}