@import "../../../index.scss";

.screenPadding {
    padding: 20px 100px;
    height: calc(100vh - 80px);
    overflow: scroll;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    position: relative;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.screenBackground {
    background: $secondarycolor 0% 0% no-repeat padding-box;
}

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop5 {
    margin-top: 5px;
}

.stickyContainer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    right: 100px;
    width: calc(25% - 50px);
}

@media (max-width: 948px) {
    .stickyContainer {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
        width: auto;
        padding: 0px 20px 20px 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .stickyContainer {
        display: none;
    }
}

.hiddenStickyContainer {
    opacity: 0;
    pointer-events: none;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveInProgress:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.userGuideButton {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.userGuideButton:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.continue {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px;
}

.titleTextStyle {
    text-align: left;
    font: normal normal bold 20px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.requiredDocumentCard {
    background: $tableRow1 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $primarycolor;
    border-radius: 4px;
    padding: 10px 15px;
}

.info {
    visibility: hidden;
}

.documentTextStyle {
    text-align: left;
    font: normal normal normal 15px/21px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.toggleButton {
    display: none;
}

@media (max-width: 768px) {
    .toggleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $primarycolor;
        color: white;
        padding: 10px 5px;
        border-radius: 0 0 0 12px;
        cursor: pointer;
        z-index: 1001;
    }

    .infoContainer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $primarycolor;
        padding: 20px;
        border-radius: 0 12px 12px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        width: 40%;
        max-height: 100vh;
        overflow-y: auto;
    }

    .infoContainer.show {
        display: block;
    }
}

.closeIcon {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.headerData {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $primarycolor;
        color: white;
        padding: 15px;
        z-index: 1000;
        font: normal normal bold 18px proxima-nova;
        border-radius: 0 0 12px 12px;
        height: clamp(45px, 8vh, 100px);
    }
}

.blurredBackground {
    pointer-events: none;
}

.bgdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 999;
}

.hidden {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.threeColForButton {
    display: none;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        float: right;
        gap: 10px;
    }
}

.tableHeader {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #06617A;
    border-radius: 6px;
    padding: 10px 20px;
}

.tableHeaderText {
    text-align: left;
    font: normal normal bold 15px/23px proxima-nova;
    letter-spacing: 0.9px;
    color: #2C2C2C;
    text-transform: capitalize;
}

.tableGrid {
    display: grid;
    grid-template-columns: 30% 15% 52%;
    gap: 1%;
}

.requiredDocumentCardAlternativeColor {
    background: $tableRowAlternative 0% 0% no-repeat padding-box;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fileLoadingStyle {
    height: 200px;
    width: 25%;
    object-fit: contain;
}

@media (max-width: 900px) {
    .screenPadding {
        padding: 10px;
        overflow: scroll;
    }

    .documentTextStyle {
        text-align: left;
        font: normal normal normal 14px/15px proxima-nova;
        letter-spacing: 0px;
        color: #2C2C2C;
    }
}


.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
}

.footerIconStyle {
    height: 25px;
    width: 80px;
    object-fit: contain;
    margin-right: 5px;
}

.poweredBy {
    text-align: center;
    font: normal normal normal 14px/20px proxima-nova;
    color: $primarycolor;
    margin: 0;
}

.categoryGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.disabled {
    cursor: not-allowed !important;
    opacity: 0.4 !important;
}

.disabled :hover {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.disabledButton {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.disabledButton :hover {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.toggleButton {
    display: none;
}

@media (max-width: 768px) {
    .toggleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $primarycolor;
        color: white;
        padding: 10px 5px;
        border-radius: 0 0 0 12px;
        cursor: pointer;
        z-index: 1001;
    }

    .infoContainer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $primarycolor;
        padding: 20px;
        border-radius: 0 12px 12px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        width: 40%;
        max-height: 100vh;
        overflow-y: auto;
    }

    .infoContainer.show {
        display: block;
    }
}

.closeIcon {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.headerData {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $primarycolor;
        color: white;
        padding: 15px;
        z-index: 1000;
        font: normal normal bold 18px proxima-nova;
        border-radius: 0 0 12px 12px;
        height: clamp(45px, 8vh, 100px);
    }
}

.blurredBackground {
    pointer-events: none;
}

.bgdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 999;
}

.hidden {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.twoColForButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.threeColForButton {
    display: none;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        float: right;
        gap: 10px;
    }
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.displayInRowRev {
    display: flex;
    flex-direction: row-reverse;
}

.floatRight {
    float: right;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fourCol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.healthCareGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.healthCareGrid> :nth-child(1) {
    grid-column: span 4;
}

.healthCareGrid> :nth-child(2) {
    grid-column: span 2;
}

.healthCareGrid> :nth-child(3) {
    grid-column: span 2;
}

.privilegeGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.privilegeGrid> :nth-child(1) {
    grid-column: span 2;
}

.privilegeGrid> :nth-child(2) {
    grid-column: span 2;
}

.privilegeGrid> :nth-child(3) {
    grid-column: span 2;
}

.progressStyle {
    height: 10px;
    width: 100%;
    border-radius: 2px;
}

.progressStyleBackground {
    background: transparent linear-gradient(90deg, $primarycolor 0%, $primarycolor 10%, #E9E9F0 20%, #E9E9F0 100%) 0% 0% no-repeat padding-box;
}

.siteDisplayCard {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 6px;
    padding: 10px;
}

.siteDisplayGrid {
    display: grid;
    grid-template-columns: 93% 6%;
    gap: 1%;
}

.siteDisplaySiteTextStyle {
    text-align: left;
    font: normal normal bold 13px/20px proxima-nova;
    color: #2C2C2C;
}

.siteDisplayDepartmentTextStyle {
    text-align: left;
    font: normal normal bold 12px/24px proxima-nova;
    letter-spacing: 0px;
    color: #52575D99;
}

.siteDisplaySurgeryTextStyle {
    text-align: left;
    font: normal normal bold 10px/24px proxima-nova;
    letter-spacing: 0px;
}

.homeMailingAddressGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.homeMailingAddressGrid> :nth-child(1) {
    grid-column: 1 / -1;
}

.homeMailingAddressGrid> :nth-child(2) {
    grid-column: 1 / -1;
}

.homeMailingAddressGrid> :nth-child(3) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.businessMailingAddressGrid> :nth-child(1) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid> :nth-child(2) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid> :nth-child(3) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid> :nth-child(4) {
    grid-column: 1 / -1;
}

.cardTitle {
    text-align: left;
    font: normal normal bold 20px/26px proxima-nova;
    letter-spacing: 0px;
    color: #454747;
    // text-transform: capitalize;
}

.twoColGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.privilegeCodeGrid {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
}


.restrictedPrivilegeGrid {
    display: grid;
    grid-template-columns: 5% 75% 18%;
    gap: 1%;
}

.restrictedPrivilegeGrid> :nth-child(4) {
    grid-column: 1 / -1;
}

.restrictedPrivilegeGrid> :nth-child(5) {
    grid-column: 1 / -1;
}

.restrictedPrivilegeGrid> :nth-child(6) {
    grid-column: 1 / -1;
}

.itemLeft {
    padding: 10px;
    /* Inner padding for each line */
    text-align: left;
}

.cursorPointer {
    cursor: pointer !important;
}

.uploadButton {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $primarycolor;
    border-radius: 4px;
    padding: 5px 10px;
}

.uploadText {
    text-align: left !important;
    font: normal normal bold 13px/20px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.uploadTextButton {
    display: inline-block !important;
    font: normal normal bold 13px/20px proxima-nova;
    color: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 4px;
    padding: 5px;
    text-align: center !important;
    cursor: pointer;
}

.imgIcon {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.uploadGrid {
    display: grid;
    grid-template-columns: 3% 80% 15%;
    gap: 1%;
}

.cardDescription {
    text-align: left;
    font: normal normal normal 18px/20px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    // text-transform: capitalize;
}

.padding {
    padding: 20px;
}

.bigButtonTextStyle {
    text-align: center;
    font: normal normal bold 18px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}


.bigButtonStyle {
    background-color: $primarycolor;
    color: white;
    border: 1px solid $primarycolor;
    height: 40px;
    width: 500px;
    border-radius: 10px;
    margin-bottom: -20px;
    box-shadow: 0px 3px 11px $primarycolor;
}

.dateTitle {
    text-align: left;
    font: normal normal bold 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.date {
    text-align: left;
    font: normal normal normal 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.changePrivilegeText {
    text-align: right;
    text-decoration: underline;
    font: normal normal bold 20px/26px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.fileDisplay {
    padding: 0 10px;
    background-color: $secondarycolor;
}

.fileDisplayText {
    font: normal normal normal $navbartext proxima-nova;
    color: #2C2C2C;
}

.docTypeImgStyle {
    height: 20px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

.leftAlign {
    text-align: left !important;
}

.privilegeCard {
    background: #14358F00 0% 0% no-repeat padding-box;
    // box-shadow: 0px 0px 8px #040B2014;
    // border: 0.4000000059604645px solid #5087D9;
    border-radius: 5px;
    padding: 10px;
    z-index: 99999 !important;
}

.privilegeCardWithBorder {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #040B2014;
    border: 0.4000000059604645px solid #5087D9;
    border-radius: 5px;
    padding: 10px;
    z-index: 99999 !important;
}

.privilegeCategoryChips {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    font: normal normal normal $labelvaluetext proxima-nova;
    border: 1px solid $primarycolor;
    border-radius: 23px;
    padding: 5px 10px;
    color: $primarycolor;
}

.privilegeCategoryChips:hover {
    background: #DBE8EA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
    border: 0.5px solid #06617A;
    border-radius: 23px;
    padding: 5px 10px;
    opacity: 1;
}

.privilegeCategoryChipsSelected {
    background: $primarycolor 0% 0% no-repeat padding-box;
    border: 1px solid $primarycolor;
    color: $secondarycolor;
}

.chipsContainer {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.hospitalPrivilegeSetGrid {
    display: grid;
    grid-template-columns: 43% 50% 5%;
    gap: 1%;
}

.primaryColor {
    color: $primarycolor !important;
}

.privilegeContentCard {
    background: #1D24370A 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #040B2014;
    border-radius: 8px;
    padding: 10px;
}

.privilegeContentChangeCard {
    background: #F5F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #040B2014;
    border-radius: 8px;
    padding: 10px;
}

.privilegeHeading {
    text-align: left;
    font: normal normal medium 18px/24px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.privilegeHeadingWithHover {
    text-align: left;
    font: normal normal medium 18px/24px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
    transition: transform 0.3s ease, color 0.3s ease;
}

.privilegeHeadingWithHover:hover {
    transform: scale(1.01);
    filter: brightness(0.8);
}

.privilegeHeadingCurrent {
    text-align: left;
    font: italic normal bold 12px/17px proxima-nova !important;
    letter-spacing: 0px;
    color: #1D2437;
}

.privilegeHeadingReappointment {
    text-align: left;
    font: italic normal bold 12px/17px proxima-nova !important;
    letter-spacing: 0px;
    color: $primarycolor;
}

.privilegeTitleStyle {
    text-align: left;
    font: normal normal bold 18px/24px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
}

.privilegeTitleStyle:hover {
    text-decoration: underline;
}

.privilegeWarningPart {
    background: #FF555514 0% 0% no-repeat padding-box;
    border: 1px solid #FF5555;
    border-radius: 4px;
    padding: 10px;
}

.privilegeWarningText {
    text-align: left;
    font: normal normal medium 20px/32px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.reappointmentButton {
    background: $primarycolor 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 10px 15px;
    color: #fff;
    min-width: 120px !important;
    font: normal normal bold 15px/15px proxima-nova;
    cursor: pointer;
    text-align: center;
}

.reappointmentButton:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.reappointmentButtonOutlined {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: 1px solid $buttonBorder;
    padding: 10px 15px;
    color: $primarycolor;
    min-width: 120px;
    font: normal normal bold 15px/15px proxima-nova;
    cursor: pointer;
}

.reappointmentButtonOutlined:hover {
    background: #DBE8EA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
    border: 0.5px solid #06617A;
    border-radius: 8px;
    opacity: 1;
}

.addButton {
    border: 0.5px solid $primarycolor;
    border-radius: 5px;
    width: auto;
    background: $primarycolor 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    font: normal normal normal 14px/18px proxima-nova;
    cursor: pointer;
}

.privilegeConfirmationGrid {
    display: grid;
    grid-template-columns: 3% 84% 10%;
    padding: 10px;
    gap: 1%;
}

.privilegeConfirmationGrid:hover {
    background: #06617A14 0% 0% no-repeat padding-box;
    border: 0.5px solid #9AAFB5;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.iconBackgroundColor {
    background-color: #2C2C2C;
    border-radius: 4px;
    height: 20px;
    width: 20px;
}

.iconBackgroundColorSelected {
    background-color: #26C600;
    border-radius: 4px;
    height: 20px;
    width: 20px;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.heading {
    text-align: left;
    font: normal normal bold 20px/28px proxima-nova;
    color: $primarycolor;
    text-transform: capitalize;
}

.eSignDialogBackground {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;
}

.eSignDialog {
    height: 75%;
    width: 80% !important;
}

.fullWidth {
    width: 100%;
}


.lableStyle {
    text-align: left;
    font: normal normal 500 15px/17px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    // text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
    max-width: 85%;
}

.markedAsText {
    text-align: left;
    font: italic normal medium $tabledatatext2 proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.reappointmentButtonEdit {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: 1px solid $buttonBorder;
    padding: 10px 15px;
    color: $primarycolor;
    min-width: 200px;
    font: normal normal bold 15px/15px proxima-nova;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reappointmentButtonEdit:hover {
    background: #DBE8EA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
    border: 0.5px solid #06617A;
    border-radius: 8px;
    opacity: 1;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fileLoadingStyle1 {
    height: auto;
    width: 40%;
    object-fit: contain;
}

.crossStyle {
    height: 18px;
    width: 18px;
}

.yesText {
    font: italic normal bold 18px/24px proxima-nova;
    color: #14B15A;
}

.noText {
    font: italic normal bold 18px/24px proxima-nova;
    color: #FF5555;
}

.signedOnText {
    text-align: left;
    font: italic normal normal 12px/14px proxima-nova !important;
    letter-spacing: 0px;
    color: #171A1A;
}

.courtesyNoPrivilegeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.disabledButton {
    cursor: not-allowed !important;
    opacity: 0.4;
}

.alignLeft {
    text-align: left;
}

.descriptionStyle {
    text-align: left;
    font: normal normal normal 15px/23px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}