@import "../../index.scss";

.backgroundCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D29;
    border-radius: 20px;
    padding: 30px;
}

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginBottom5 {
    margin-bottom: 5px;
}

.marginLeft {
    margin-left: 20px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginRight {
    margin-right: 20px;
}

.podCardTitle {
    text-align: left;
    font: normal normal bold 14px/18px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey
}


.cardTitle {
    text-align: left;
    font: normal normal bold 20px/26px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    // text-transform: capitalize;
}

.leftAlign {
    text-align: left;
}

.fullWidth {
    width: 100%;
}

.addButton {
    border: 0.5px solid var(--primary-color);
    border-radius: 12px;
    width: 130px;
    color: var(--primary-color);
    font: normal normal bold 20px/40px var(--font-style);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.addMoreButton {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    border-radius: 12px;
    padding: 15px;
    color: #fff;
    min-width: 150px !important;
    font: normal normal bold 15px/15px var(--font-style);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addMoreButton:hover {
    background: var(--primary-color-hover) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.addMoreButtonOutlined {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    padding: 15px;
    color: var(--primary-color);
    min-width: 180px;
    font: normal normal bold 15px/15px var(--font-style);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addMoreButtonOutlined:hover {
    background: #DBE8EA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    opacity: 1;
}

.reappointmentButton {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 10px 15px;
    color: #fff;
    min-width: 120px !important;
    font: normal normal bold 15px/15px var(--font-style);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reappointmentButton:hover {
    background: var(--primary-color-hover) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.reappointmentButtonOutlined {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: 1px solid $buttonBorder;
    padding: 10px 15px;
    color: var(--primary-color);
    min-width: 120px;
    font: normal normal bold 15px/15px var(--font-style);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reappointmentButtonOutlined:hover {
    background: #DBE8EA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    opacity: 1;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.uploadButton {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 4px;
    padding: 5px 10px;
    // transition: background-color 0.3s ease;
}

.uploadButton2 {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 5px;
}

// .uploadButton:hover { 
//     background-color: #fff; 
// }

.uploadText {
    text-align: left !important;
    font: normal normal bold 13px/20px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
}

.uploadText2 {
    text-align: left !important;
    font: normal normal bold 13px/20px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    margin-left: 28px;
}

.uploadTextButton {
    display: inline-block !important;
    font: normal normal bold 13px/20px var(--font-style);
    color: $textgrey;
    border: 1px solid $textgrey;
    border-radius: 4px;
    padding: 5px;
    text-align: center !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.uploadTextButton:hover {
    background: #DBE8EA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    opacity: 1;
}

.imgIcon {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.uploadGrid {
    display: grid;
    grid-template-columns: 3% 80% 15%;
    gap: 1%;
}

.uploadGrid2 {
    display: grid;
    grid-template-columns: 90% 5%;
    gap: 2%;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.siteDisplayCard {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 6px;
    padding: 10px;
}

.siteDisplayGrid {
    display: grid;
    grid-template-columns: 5% 94%;
    gap: 1%;
}

.siteDisplaySiteTextStyle {
    text-align: left;
    font: normal normal bold 14px/30px var(--font-style);
    color: #52575D99;
}

.siteDisplayDepartmentTextStyle {
    text-align: left;
    font: normal normal bold 12px/24px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
}

.addMoreBorder {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid $secondarycolor;
    border-radius: 8px;
}

.reappointmentCard {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 1px solid $buttonBorder;
    border-radius: 8px;
}

.padding20 {
    padding: 20px;
}

.padding10 {
    padding: 10px;
}

.addMoreText {
    text-align: left;
    font: normal normal normal 15px/25px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    max-width: 95%;
}

.addMoreDescriptionText {
    text-align: left;
    font: normal normal normal $navbartext var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
}

.collapsableCardText {
    text-align: left;
    font: normal normal bold 17px/25px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
}

.displayInRowRev {
    display: flex;
    flex-direction: row-reverse;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.addMoreUpload {
    display: flex;
    flex-direction: row-reverse;
}

.addMoreUploadMargin {
    margin-top: -50px;
}

.cursorPointer {
    cursor: pointer;
}

.checkedCircleIcon {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #25BF6A;
    position: relative;
    top: 17px;
    left: 15px;
}

.lableStyle {
    text-align: left;
    font: normal normal 500 15px/17px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    // text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
    max-width: 85%;
}

.lableStylePOD {
    text-align: left;
    font: normal normal 500 $tabledatatext1 var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    text-transform: capitalize;
    margin-top: 5px;
}

.lableRadioStyle {
    text-align: left;
    font: normal normal 500 $navbartext var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    // text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
}

.lableRadioSerialNumberStyle {
    text-align: left;
    font: normal normal 500 $navbartext var(--font-style);
    color: $textgrey;
    margin-top: 5px;
}

.disclosureGrid {
    display: grid;
    grid-template-columns: 80% 20%;
}

.disclosureGrid> :nth-child(2) {
    justify-self: end;
}

.disclosureLabelGrid {
    display: grid;
    grid-template-columns: 30px calc(100% - 30px);
}

.lableReadOnlyStyle {
    text-align: left;
    font: normal normal 500 17px/20px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    // text-transform: capitalize;
    opacity: 1;
    margin-top: 10px;
    max-width: 85%;
}

.lableReadOnlyStyleInPOD {
    text-align: left;
    font: normal normal normal 14px/20px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    // text-transform: capitalize;
    opacity: 1;
    margin-top: 10px;
    max-width: 85%;
    margin-left: 20px;
}

.fileLoadingStyle {
    height: auto;
    width: 40%;
    object-fit: contain;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.viewMyInfoText {
    text-align: left;
    font: normal normal bold $tabledatatext1 var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
}

.disabledButtonLook {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.disabledButtonLook:hover {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.borderLine {
    // background: var(--unnamed-color-e8e9e9) 0% 0% no-repeat padding-box;
    background: #2c2c2c 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

.RadiobuttonYesStyle {
    color: var(--unnamed-color-ff6562);
    text-align: center;
    font: italic normal bold 24px/35px var(--font-style);
    letter-spacing: 0px;
    color: #FF6562;
    opacity: 1;
}

.RadiobuttonNoStyle {
    text-align: center;
    font: italic normal bold 24px/35px var(--font-style);
    letter-spacing: 0px;
    color: #52575D;
    opacity: 1;
}