.backgroundCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D29;
    border-radius: 20px;
    padding: 30px;
}

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginBottom5 {
    margin-bottom: 5px;
}

.marginLeft {
    margin-left: 20px;
}

.marginRight {
    margin-right: 20px;
}

.cardTitle {
    text-align: left;
    font: normal normal 600 17px/28px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    // text-transform: capitalize;
}

.fullWidth {
    width: 100%;
}

.addButton {
    border: 0.5px solid #7165E3;
    border-radius: 12px;
    width: 130px;
    color: #7165E3;
    font: normal normal bold 20px/40px Montserrat;
    cursor: pointer;
}

.addMoreButton {
    background: #7165E3 0% 0% no-repeat padding-box;
    border-radius: 12px;
    padding: 15px;
    color: #fff;
    min-width: 150px !important;
    font: normal normal bold 15px/15px Montserrat;
    cursor: pointer;
}

.addMoreButtonOutlined {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    border: 1px solid #7165E3;
    padding: 15px;
    color: #7165E3;
    min-width: 180px;
    font: normal normal bold 15px/15px Montserrat;
    cursor: pointer;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.uploadButton {
    background: #F5F5F8 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #d7d4f7;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
}

.uploadText {
    text-align: left !important;
    font: normal normal bold 13px/20px Montserrat;
    letter-spacing: 0px;
    color: #93989f;
}

.uploadGrid {
    display: grid;
    grid-template-columns: 5% 94%;
    gap: 1%;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.siteDisplayCard {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #d7d4f7;
    border-radius: 6px;
    padding: 10px;
}

.siteDisplayGrid {
    display: grid;
    grid-template-columns: 5% 94%;
    gap: 1%;
}

.siteDisplaySiteTextStyle {
    text-align: left;
    font: normal normal bold 14px/30px Montserrat;
    color: #52575D99;
}

.siteDisplayDepartmentTextStyle {
    text-align: left;
    font: normal normal bold 12px/24px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.addMoreBorder {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #c4bef3;
    border-radius: 8px;
}

.padding20 {
    padding: 20px;
}

.padding10 {
    padding: 10px;
}

.addMoreText {
    text-align: left;
    font: normal normal bold 15px/25px Montserrat;
    letter-spacing: 0px;
    color: #b0b3b5;
    max-width: 95%;
}

.addMoreDescriptionText {
    text-align: left;
    font: normal normal bold 13px/25px Montserrat;
    letter-spacing: 0px;
    color: #b0b3b5;
}

.collapsableCardText {
    text-align: left;
    font: normal normal bold 15px/25px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.displayInRowRev {
    display: flex;
    flex-direction: row-reverse;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.addMoreUpload {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -50px;
}

.cursorPointer {
    cursor: pointer;
}

.checkedCircleIcon {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #25BF6A;
    position: relative;
    top: 17px;
    left: 15px;
}

.lableStyle {
    text-align: left;
    font: normal normal bold 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #94979A;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
    max-width: 85%;
}

.lableRadioStyle {
    text-align: left;
    font: normal normal bold 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #60656c;
    // text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
    max-width: 85%;
}