.addManagerDialogBackground {
    background-color: white !important;
    padding: 20px 40px;
    border-radius: 20px !important;
}

.feedbackDialog {
    height: 100vh;
    overflow: scroll;
    width: 100% !important;
    margin-top: 0px !important;
    border-radius: 8px !important;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.extensionStyle {
    text-align: left;
    font: normal normal bold 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
}

.crossStyle {
    color: linear-gradient(#7165E3, #FF6562) !important;
    margin-bottom: 15px;
    cursor: pointer;
}

.marginLeft20 {
    margin-left: 10px;
}

.selectFontStyle{
    color: #52575D !important;
    font-size: 15px;
}

.switchFontStyle{
    color: #52575D;
    font-size: 15px;
}

.extensionBorder {
    background-color: #EBF2F7;
    height: 3px;
}

.feedbackGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.feedbackContentGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px;
}

.marginTop5{
    margin-top: 5px !important;
}

.marginTop10 {
    margin-top: 10px !important;
}

.marginTop15{
    margin-top: 15px !important;
}

.marginTop20 {
    margin-top: 20px !important;
}

.reduceTop10{
    margin-top: -10px;
}

.extentionLableStyle {
    text-align: left;
    font: normal normal normal 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
}

.feedbackFontStyle {
    text-align: left;
    font: normal normal bold 13px/21px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.dashedBorder {
    border: 2px dashed #948BEA;
    padding: 5px;
}

.imageDisplayStyle {
    background: #F0EFFC 0% 0% no-repeat padding-box;
    min-height: 400px;
}

.imageNameStyle {
    text-align: left;
    font: normal normal normal 80px/100px Roboto;
    letter-spacing: 5.4px;
    color: #CECAF5;
    text-transform: uppercase;
    opacity: 0.39;
}

.collapseHeader {
    background: #C3BFF3 0% 0% no-repeat padding-box;
    border: 1px solid #9B95E3;
    width: 100%;
    max-height: 40px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 15px;
    padding-top: 25px;
}

.collapseBody {
    background: #EBECED 0% 0% no-repeat padding-box;
    border: 1px solid #7165E3;
    width: 100%;
    border-radius: 4px;
    margin-top: 5px;
    padding: 15px;
}

.collapseBody2 {
    background: #EBECED 0% 0% no-repeat padding-box;
    border: 1px solid #7165E3;
    height: 80px;
    width: 100%;
    border-radius: 4px;
    margin-top: 5px;
    padding: 15px;
}

.collapseHeaderText {
    text-align: left;
    font: normal normal bold 17px/13px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: capitalize;
}

.greenDotFeedbackStyle {
    background: #7FC900 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #FFFFFF29, 0px 3px 6px #00000045;
    border: 1px solid #242424;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.orageDotFeedbackStyle {
    background: #FFA30E 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #FFFFFF29, 0px 3px 6px #00000045;
    border: 1px solid #242424;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.transparentBackground {
    background-color: transparent !important;
}

.logFileBlueDot {
    background: #7165E3 0% 0% no-repeat padding-box;
    border: 1px solid #CFCFCF;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-top: 5px;
}

.greyText {
    color: #C3C3C3;
}

.leftBorder {
    border-left: 1px solid #E9E9F0;
    background-color: black;
    width: 1px;
    height: 50px;
}

.sendButton {
    width: 80px;
    height: 30px;
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #7165E3;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: white;
    font: normal normal 400 16px/15px Montserrat;
    cursor: pointer;
}

.doneButton {
    width: 120px;
    height: 40px;
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #7165E3;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: white;
    font: normal normal 400 16px/15px Montserrat;
    cursor: pointer;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.extentionGrid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 20px;
}

.fieldWidth2InARow {
    width: 50%;
}

.transparentBackground {
    background-color: transparent !important;
}

.marginRight {
    margin-right: 10px;
}


.marginRight20 {
    margin-right: 20px !important;
}

.statusResolvedTextarea{
    box-shadow: 0px 3px 6px #0000003D !important;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    background-color: transparent !important;
}

.userLogo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 10px;
}

.blue{
    color: #7165E3;
}

.fullWidth{
    width: 100%;
}

.floatRight{
    float: right !important;
}

.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spaceBetweenColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.alignRight{
    display: flex;
    justify-content: flex-end;
}

.alignLeft{
    display: flex;
    justify-content: flex-start;
}

.justifyCenter{
    display: flex;
    justify-content: center;
}

.resolutionProgressCard{
    background-color: #c8ead7;
    border-radius: 9px;
    min-height: 40px;
    width: 100%;
}

.resolutionProgressTextStyle{
    text-align: left;
    font: normal normal bold 16px/13px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
    text-transform: capitalize;
}

.verticalAlignCenter{
    display: flex;
    align-items: center;
    height: 100%;
}

.screenCaptureImgStyle{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.commentGrid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.commentTextStyle{
    font: normal normal normal 14px/16px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.marginLeft55{
    margin-left: 55px;
}

.feedbackLogDialog {
    width: 90% !important;
    border-radius: 8px !important;
}

.feedbackLogHeaderGrid{
    display: grid;
    grid-template-columns: 160px 1fr 160px;
    grid-gap: 10px;
}

.logoStyle{
    width: 160px;
    height: 50px;
    object-fit: contain;
}

.headerTitle{
    text-align: center;
    font: normal normal bold 18px/21px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
}

.subHeading{
    text-align: center;
    font: normal normal normal 15px/21px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.warningStyle{
    height: 18px;
    width: 18px;
    object-fit: contain;
}

.logMainGrid{
    display: grid;
    grid-template-columns: 60% 40%;
}

.logMainBoxStyle{
    border-top: 3px solid #EBF2F7;
}

.rightCardStyle{
    border-left: 3px solid #EBF2F7;
    padding: 10px 0 40px 20px;
    height: 100%;
}

.leftCardStyle{
    padding: 10px 20px 40px 20px;
}

.miniHeading{
    text-align: left;
    font: normal normal 600 15px/21px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 2px solid #EBF2F7;
}

.miniHeadingTitles{
    text-align: left;
    font: normal normal 600 13px/17px Montserrat;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.feedBackLogFooterStyle{
    margin: -15px -40px -20px -40px;
    background: #7165E3 0% 0% no-repeat padding-box;
    border-radius: 0 0 6px 6px !important;
}

.copyrightText{
    text-align: center;
    font: normal normal normal 15px/21px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 10px;
}

.footerLogoStyle{
    padding: 20px 0 10px 0;
}

.headerPrintIcon{
    color: #7165E3;
    float: right;
}

.red{
    color: #ED6F68;
}

.green{
    color: #5EC08A;
}

.blue{
    color: #7165E3;
}

.yellow{
    color: #FEC106;
}

.orange{
    color: #ED784A;
}

.userProfileStyle{
    height: 30px;
    width: 30px;
    background: #B3B8BD 0% 0% no-repeat padding-box;
    border-radius: 50%;
}

.userNameStyle{
    text-align: left;
    font: normal normal normal 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #B3B8BD;
}

.smallTextStyle{
    text-align: left;
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #B3B8BD;
}

.descriptionStyle{
    text-align: left;
    font: normal normal normal 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    text-transform: lowercase;
    margin-left: 40px;
}

.feedbackTicketClosedGrid{
    display: grid;
    grid-template-columns: 1fr 5px 55px 1fr;
}

.stepperStyle{
    border-top: 2px solid #E9E9F0; 
}

.feedbackVerticalStepper {
    background-color: #E9E9F0 ;
    height: 100%;
    width: 2px;
    margin-left: 30px;
}

.stepperLeftContent{
    padding-right: 25px;
}

.stepperRightContent{
    padding-left: 25px;
}

.stepperImgStyle{
    background: #7165E3 0% 0% no-repeat padding-box;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.feedbackStepperImgStyle{
    width: 25px;
    height: 100%;
    object-fit: contain;
}