.backgroundColor {
    background: #F5F8F8 0% 0% no-repeat padding-box;
    height: 100vh;
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.backgroundColor::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.backgroundColor {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.roundedBackgrounds {
    background-color: #B3B8BD;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.padding {
    padding: 0 50px 0 0;
}

.cursorPointer {
    cursor: pointer;
}

.headingStyle {
    font: normal normal bold 17px/15px var(--font-style);
    letter-spacing: 2px;
    text-align: center;
    color: #2C2C2C;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 20px;
    width: 150px;
    line-height: 25px;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
    background: transparent !important;
}