.marginTop20 {
    margin-top: 20px !important;
}

.marginTop40 {
    margin-top: 40px !important;
}

.entityNameHeaderStyle {
    font: normal normal bold 14px/15px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.entityNameBolderStyle {
    font: normal normal bolder 17px/20px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.textAlignLeft {
    text-align: left;
}

.marginTop5 {
    margin-top: 5px !important;
}

.grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.reportRunByTextStyle {
    text-align: left;
    font: normal normal bold 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.reportTypeValueTextStyle {
    font: normal normal medium 12px/24px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    // word-wrap: break-word !important;
    // text-transform: capitalize;
    word-break: break-word;
    width: auto;
}

.row1Background {
    background-color: #f1f2f3;
    padding: 20px;
}

.row2Background {
    background-color: #d6d9db;
    padding: 20px;
}

.headingBackground {
    background-color: #aeb2b7;
    padding: 20px;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.noTextDecoration {
    text-decoration: none !important;
}