@import "../../../../../index.scss";

.screenBackground {
    background: $secondarycolor 0% 0% no-repeat padding-box;
}

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginLeft {
    margin-left: 20px;
}

.marginRight {
    margin-right: 10px;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 20px;
    position: relative;

    @media (max-width: 1240px) {
        grid-template-columns: 1fr;
    }
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px 20px 20px 20px;
}

.medicalDirectivesCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 8px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px 20px 20px 20px;
    max-height: calc(100vh - 230px);
    overflow: scroll;
}

.medicalDirectivesRightCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 8px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px 20px 20px 20px;
    max-height: calc(100vh - 300px);
    overflow: scroll;
}

.medicalDirectivesCard1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 8px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px 20px 20px 20px;
}

.stickyContainer {
    position: fixed;
    right: 80px;
    left: calc(75% - 77px);
    bottom: 0;
    z-index: 10;
    padding: 20px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
}

@media (max-width: 1240px) {
    .stickyContainer {
        position: sticky;
        bottom: 0;
        left: auto;
        right: auto;
        width: auto;
        padding: 0px 20px 20px 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

.hiddenStickyContainer {
    opacity: 0;
    pointer-events: none;
    // filter: blur(5px); 
    // box-shadow: 0 0 10px 5px var(--primary-color);
}

.screenPadding {
    padding: 20px 80px;
    height: calc(100vh - 80px);
    overflow: scroll;
}

.breadcrumbStyle {
    text-align: left;
    font: normal normal 600 12px/24px var(--font-style);
    letter-spacing: 1.5px;
    color: #646D82;
    text-transform: uppercase;

    @media (max-width: 806px) {
        margin-top: 60px;
    }
}

.title {
    text-align: left;
    font: normal normal normal 18px/22px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.description {
    text-align: left;
    font: normal normal normal 14px/20px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.description1 {
    display: flex;
    width: auto;
    word-wrap: break-word;
    text-align: left;
    font: normal normal normal 14px/20px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.mdIDStyle {
    text-align: left;
    font: normal normal normal 16px/23px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 0.6;
}

.attestationRequiredText {
    text-align: left;
    font: normal normal bold 14px/19px var(--font-style);
    letter-spacing: 0px;
    color: #D90B0B;
    opacity: 0.5;
}

.pdfDisplay {
    height: calc(100vh - 300px);
    width: 100%;
}

.leftAlign {
    text-align: left;
}

.checkGrid {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}

// .disabled :hover {
//     cursor: not-allowed !important;
//     opacity: 0.5 !important;
// }

.outlinedButton {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: transparent;
    color: var(--primary-color);
    font: normal normal bold 17px/30px var(--font-style);
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    @media (max-width: 768px) {
        width: 420px;
        justify-content: center;
    }
}

.outlinedButton:hover {
    box-shadow: 0px 3px 12px #00000052;
    opacity: 1;
}


.continue {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    @media (max-width: 768px) {
        width: 420px;
        justify-content: center;
    }
}

.continue:hover {
    background: var(--primary-color-hover) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.dateTitle {
    text-align: left;
    font: normal normal bold 17px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.date {
    text-align: left;
    font: normal normal normal 17px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.displayInCol {
    display: flex;
    flex-direction: column;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

@media (max-width: 948px) {
    .screenPadding {
        padding: 10px;
        overflow: scroll;
    }
}

.toggleButton {
    display: none;
}

@media (max-width: 768px) {
    .toggleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        color: white;
        padding: 10px 5px;
        border-radius: 0 0 0 12px;
        cursor: pointer;
        z-index: 1001;
    }

    .infoContainer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        padding: 20px;
        border-radius: 0 12px 12px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        width: 40%;
        max-height: 100vh;
        overflow-y: auto;
    }

    .infoContainer.show {
        display: block;
    }
}

.closeIcon {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.blurredBackground {
    pointer-events: none;
}

.bgdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 999;
}

.hidden {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.welcomeText {
    text-align: left;
    font: normal normal bold 38px/45px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    display: block;

    @media (max-width: 806px) {
        display: none;
    }
}

.headerData {
    display: none;

    @media (max-width: 806px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
        padding: 15px;
        z-index: 1000;
        font: normal normal bold 18px var(--font-style);
        border-radius: 0 0 12px 12px;
        height: clamp(45px, 8vh, 100px);
    }
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.eSignDialog {
    height: 75%;
    overflow: hidden;
    width: 80% !important;
}

.eSignDialogBackground {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.heading {
    text-align: left;
    font: normal normal bold 24px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: capitalize;
    opacity: 1;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.crossStyle {
    height: 24px;
    width: 24px;
}

.cursorPointer {
    cursor: pointer;
}

.marginLeft {
    margin-left: 20px;
}

.pagebreak {
    page-break-after: always;
    width: 100%;
    padding: 20px;
}

.rejectionBorderStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D14;
    border: 0.4px solid #52575D14;
    border-radius: 12px;
    opacity: 1;
}

.declineBorderStyle {
    box-shadow: 0px 3px 18px #0F0B3129;
    border: 1px solid #0F0B3129;
    border-radius: 8px;
    padding: 15px 0px;
}

.marginTop10 {
    margin-top: 10px;
}

.displayInRowCenter {
    align-items: center;
}

.marginTop {
    margin-top: 20px;
}

.uploadBorderStyle {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.800000011920929px dashed #173790;
    border-radius: 4px;
    opacity: 1;
}

.uploadTextStyle {
    text-align: left;
    font: normal normal normal 14px/20px var(--font-style);
    color: black;
    opacity: 1;
    padding: 5px;
}

.marginLeftRight20 {
    margin: 0 20px !important;
}

.reviewButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cancelButton {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    opacity: 1;
    padding: 10px 20px;
}

.cancelButtonTextStyle {
    text-align: center;
    font: normal normal bold 18px/30px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: uppercase;
    opacity: 1;
}

.reviewButtonStyle {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
    padding: 10px 20px;
}

.reviewButton {
    text-align: center;
    font: normal normal bold 18px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    width: 180px;
}

.radioTextStyle {
    text-align: left;
    font: normal normal normal 14px/19px var(--font-style);
    color: #52575D;
}

.approvalHeading {
    text-align: left;
    font: normal normal normal 20px/24px var(--font-style);
    color: var(--primary-color);
}