@import "../../../../index.scss";

.marginTop {
    margin-top: 20px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginTop10 {
    margin-top: 10px;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    position: relative;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.stickyContainer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    right: 100px;
    width: calc(25% - 50px);
}

@media (max-width: 948px) {
    .stickyContainer {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
        width: auto;
        padding: 0px 20px 20px 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .stickyContainer {
        display: none;
    }
}

.hiddenStickyContainer {
    opacity: 0;
    pointer-events: none;
    // filter: blur(5px); 
    // box-shadow: 0 0 10px 5px #06617A;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveInProgress:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.continue {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto auto;
    // gap: 20px;
}

.progressStyle {
    height: 10px;
    width: 100%;
    border-radius: 2px;
}

.progressStyleBackground {
    background: transparent linear-gradient(90deg, $primarycolor 0%, $primarycolor 20%, #E9E9F0 30%, #E9E9F0 100%) 0% 0% no-repeat padding-box;
}

.titleText {
    text-align: left;
    font: normal normal bold 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.descriptionText {
    text-align: left;
    font: normal normal bold 14px/26px proxima-nova;
    letter-spacing: 0px;
    color: #94979A;
}

.dragAndDropBox {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 4px;
    padding: 30px;
    opacity: 0.75;
    cursor: pointer;
}

.dragAndDropText {
    text-align: center;
    font: normal normal 600 18px/36px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: capitalize;
}

.dragAndDropDescriptionText {
    text-align: center;
    font: normal normal normal 18px/36px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.tableHeader {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #06617A;
    border-radius: 6px;
    padding: 10px 20px;
}

.tableHeaderText {
    text-align: left;
    font: normal normal bold 15px/23px proxima-nova;
    letter-spacing: 0.9px;
    color: #2C2C2C;
    text-transform: capitalize;
}

.tableGrid {
    display: grid;
    grid-template-columns: 30% 15% 52%;
    gap: 1%;
}

.tableGridValidation {
    display: grid;
    grid-template-columns: 80% 18%;
    gap: 1%;
}


.requiredDocumentCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $primarycolor;
    border-radius: 4px;
    padding: 10px 15px;
}

.info {
    opacity: 0.7;
}

.requiredDocumentCardAlternativeColor {
    background: $secondarycolor 0% 0% no-repeat padding-box;
}

.documentTextStyle {
    text-align: left;
    font: normal normal normal 15px/21px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop2 {
    margin-top: 2px;
}

.cursorPointer {
    cursor: pointer;
}

.toggleButton {
    display: none;
}

@media (max-width: 768px) {
    .toggleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $primarycolor;
        color: white;
        padding: 10px 5px;
        border-radius: 0 0 0 12px;
        cursor: pointer;
        z-index: 1001;
    }

    .infoContainer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $primarycolor;
        padding: 20px;
        border-radius: 0 12px 12px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        width: 40%;
        max-height: 100vh;
        overflow-y: auto;
    }

    .infoContainer.show {
        display: block;
    }
}

.closeIcon {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.headerData {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $primarycolor;
        color: white;
        padding: 15px;
        z-index: 1000;
        font: normal normal bold 18px proxima-nova;
        border-radius: 0 0 12px 12px;
        height: clamp(45px, 8vh, 100px);
    }
}

.blurredBackground {
    pointer-events: none;
}

.bgdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 999;
}

.hidden {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
    }
}

.twoColForButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.threeColForButton {
    display: none;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

.setupCompleteGrid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 20px;
}

.uploadTextStyle {
    text-align: center;
    font: normal normal 600 20px/28px proxima-nova;
    color: $primarycolor;
    text-transform: capitalize;
}

.uploadBorderStyle {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 2px dashed $secondarycolor;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
}

.redBorder {
    border: 3px solid $statusred !important;
}

.yellowBorder {
    border: 3px solid $statusyellow !important;
}

.uploadDescriptionText {
    text-align: center;
    font: normal normal 300 14px/14px proxima-nova;
    color: #2C2C2C;
}

.tableContainer {
    overflow-x: auto !important;
    max-width: 100%;
}

@media (max-width: 1120px) and (min-width: 320px) {
    .tableContainer {
        max-width: 100%;
        overflow-x: auto !important;
        overflow-y: hidden;
    }
}

.gridStyle {
    display: grid;
    grid-template-columns: 3% 24% 32% 14% 9% 7% 3% 3%;
    gap: 1%;
}

.contractScrollStyle {
    overflow-x: auto !important;
}

@media (max-width: 1130px) {
    .contractScrollStyle {
        overflow-x: scroll !important;
    }
}

.fullWidth {
    width: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 16px;
}

.collapsableCardText {
    text-align: left;
    font: normal normal bold 17px/25px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.addMoreBorder {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid $secondarycolor;
    border-radius: 8px;
}

.padding20 {
    padding: 20px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.setupCompleteCard {
    background-color: $secondarycolor;
    padding: 20px;
    width: 100%;
}

.editOrUpdateESign {
    color: $primarycolor;
    font: normal normal 600 20px/26px proxima-nova;
    text-align: right;
}

.setupCompleteCard:hover {
    background-color: $secondarycolor;
}

.setupCompletedText {
    text-align: center;
    font: normal normal 600 23px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.docTypeImgStyle {
    height: 20px;
    width: auto;
    object-fit: contain;
}

.docTypeEditImgStyle {
    height: 20px;
    width: auto;
    object-fit: contain;
    justify-content: center;
    color: $primarycolor
}

.fileLoadingStyle {
    height: auto;
    width: 60%;
    object-fit: contain;

    @media (max-width: 1130px) {
        width: 20%;
    }
}

.fileLoadingStyleCapLogo {
    height: 200px;
    width: 40%;
    object-fit: contain;
}


.uploadContainer {
    background-color: #FFF;
    padding: 40px;
    border-radius: 20px;
    transition: all 5s ease-in-out;
}

.fileImportingMsg {
    text-align: center;
    font: normal normal bold 20px/28px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.disabledButton {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.disabledButton :hover {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.heading {
    text-align: left;
    font: normal normal bold 20px/28px proxima-nova;
    color: #2C2C2C;
    text-transform: capitalize;
}

.marginLeft {
    margin-left: 20px;
}

.description {
    text-align: left;
    font: normal normal normal $tabledatatext2 proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.eSignDialog {
    height: 75%;
    width: 40%;

    @media (max-width: 1130px) {
        height: auto;
        width: auto;
    }
}

.eSignDialogBackground {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;
}

.crossStyle {
    height: 18px;
    width: 18px;

    @media (max-width: 1000px) {
        height: 16px;
        width: 16px;
    }
}

.continueValidation {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
}

.continueValidation:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.saveInProgressValidation {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 240px;
}

.saveInProgressValidation:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.eSignatureOnFileCard {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 1px dashed $primarycolor;
    border-radius: 8px;
    padding: 20px 40px;
}

.eSignatureOnFileTitle {
    text-align: center;
    font: normal normal 600 23px/26px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
}

.eSignatureOnFileButton {
    display: flex;
    justify-content: end;
}

.eSignatureOnFileButtonPadding {
    padding: 5px 30px;
}

.dateTitle {
    text-align: left;
    font: normal normal bold 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.date {
    text-align: left;
    font: normal normal normal 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.eSignGrid {
    display: grid;
    grid-template-columns: 49% 24% 24%;
    gap: 1%;

    @media (max-width: 1130px) {
        grid-template-columns: 1fr;
    }
}

.rotating_text {
    position: relative;
    height: 1.5rem;
    /* Adjust this based on your text height */
    overflow: hidden;
}

.rotating_text span {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.1rem;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    color: #2C2C2C;
    animation: rotateWord 24s linear infinite;
}

.rotating_text span:nth-child(1) {
    animation-delay: 1s;
}

.rotating_text span:nth-child(2) {
    animation-delay: 3s;
}

.rotating_text span:nth-child(3) {
    animation-delay: 6s;
}

.rotating_text span:nth-child(4) {
    animation-delay: 9s;
}

.rotating_text span:nth-child(5) {
    animation-delay: 12s;
}

.rotating_text span:nth-child(6) {
    animation-delay: 15s;
}

.rotating_text span:nth-child(7) {
    animation-delay: 18s;
}

.rotating_text span:nth-child(8) {
    animation-delay: 21s;
}

@keyframes rotateWord {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    10% {
        opacity: 1;
        transform: translateY(0%);
    }

    40% {
        opacity: 1;
        transform: translateY(0%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}