@import "../../index.scss";

.progressCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border: 0.4000000059604645px solid #e5e6e6;
    border-radius: 12px;
    opacity: 1;
    width: 100%;
    padding: 15px 30px
}

.stepTextStyle {
    text-align: left;
    font: normal normal bold 14px/26px var(--font-style);
    letter-spacing: 3.4px;
    color: #171A1A;
    text-transform: uppercase;
    // opacity: 0.8;
}

.dataTypeCollectionsTextStyle {
    text-align: left;
    font: normal normal bold 14px/24px var(--font-style);
    letter-spacing: 0px;
    color: #171A1A;
    // opacity: 0.6;
}

.timeSpentText {
    text-align: right;
    font: normal normal normal 12px/26px var(--font-style);
    letter-spacing: 0px;
    color: #171A1A;
    // opacity: 0.6;
}

.titleTextStyle {
    text-align: left;
    font: normal normal normal 20px/25px var(--font-style);
    letter-spacing: 0px;
    color: #171A1A;
}

.hourNumberStyle {
    font: normal normal bold 25px/25px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-shadow: 2px 6px 12px #382DA514;
    opacity: 1;
}

.hourTextStyle {
    text-align: right;
    font: normal normal normal 17px/20px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-shadow: 2px 6px 12px #382DA514;
    text-transform: capitalize;
    opacity: 1;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.textAlignBottom {
    align-self: flex-end;
}

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginLeft {
    margin-left: 20px;
}

.progressStyle {
    height: 6px;
    width: 100%;
    // background: transparent linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 10%, #E9E9F0 11%, #E9E9F0 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.sectionSplit {
    width: 8px;
    height: 15px;
    background-color: white;
    rotate: 30deg;
    margin-left: 100%;
    margin-top: -12px;
}

.dotStyle {
    height: 12px;
    width: 12px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background-color: $acknowledgmentgreen;
    margin-top: -3px;
    cursor: pointer;
}

.reddotStyle {
    height: 12px;
    width: 12px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background-color: $statusred;
    margin-top: -3px;
    cursor: pointer;
}

.yellowdotStyle {
    height: 12px;
    width: 12px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background-color: $acknowledgmentyellow;
    margin-top: -3px;
    cursor: pointer;
}

.disabledDotStyle {
    height: 12px;
    width: 12px;
    border-radius: 4px;
    background-color: $statusgrey;
    margin-top: -3px;
    border: 1px solid var(--primary-color);
}

.disabled {
    cursor: not-allowed;
}

.cursorPointer {
    cursor: pointer;
}