body{
    background: #F8FCFF 0% 0% no-repeat padding-box;
    -ms-overflow-style: none !important; 
    scrollbar-width: none !important;
    ::-webkit-scrollbar {
        display: none !important;
    }
}

.margin20{
    margin: 20px;
}

.marginTop20{
    margin-top: 20px !important;
}

.marginTop{
    margin-top: 5px;
}

.marginTop7{
    margin-top: 7px;
}

.paddingTop5{
    padding-top: 5px;
}

.marginTop10{
    margin-top: 10px !important;
}

.marginTop40{
    margin-top: 40px !important;
}

.marginTop15{
    margin-top: 15px !important;
}

.padding10{
    padding: 10px;
}

.cardStyle{
    height: 105px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 6px;
    opacity: 1;
    cursor: pointer;
}

.selectedCardBackground{
    background: #E9ECFC 0% 0% no-repeat padding-box;
}

.bigCardStyle{
    height: calc(100vh - 325px);
    overflow: scroll;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 6px;
    opacity: 1;
    padding: 5px;
}

.grid5{
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.bigCardGrid{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.chevronCardStyle{
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 6px;
    opacity: 1;
    cursor: pointer;
    position: relative;
}

.openCardStyle{
    background-color: #ebe9fb;
    width: 100%;
    height: 100%;
}

.userLogo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 10px;
}

.userLogoSmall{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 10px;
}

.userLogoVerySmall{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.userLogoMailStyle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: contain;
}

.alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.userNameStyle{
    text-align: left;
    font: normal normal 600 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.loginStatus{
    text-align: left;
    font: normal normal normal 11px/15px Montserrat;
    letter-spacing: 0px;
    color: #B3B8BD;
    max-width: 200px;
    opacity: 1;
}

.marginLeft20{
    margin-left: 10px;
}

.marginLeft5{
    margin-left: 5px;
}

.marginLeft50{
    margin-left: 50px;
}

.reduce10Left{
    margin-left: -10px;
}

.reduce20Left{
    margin-left: -20px;
}

.reduce30Left{
    margin-left: -30px;
}

.chevronRightStyle{
    width: 30px;
    height: 30px;
    background: #EBF2F7 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}

.headingForContracts{
    font: normal normal bold 17px/15px Montserrat;
    letter-spacing: 0px;
    text-align: left;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 20px;
    margin-top: 0px;
}

.headingCountForContracts{
    color: #52575D;
    font-size: 50px;
    margin-top: -20px;
    font-weight: bold;
    margin-left: 20px;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
}

.displayInCol{
    display: flex;
    flex-direction: column;
}

.optionsStyle{
    margin: -3px 15px 0 10px;
    text-align: left;
    font-size: 13px;
    color: #52575D;
}

.green{
    color: #00C07F;
}

.yellow{
    color: #FEC106;
}

.red{
    color: #FF6562;
}

.blue{
    color: #7165E3;
}

.activeUserDotColor{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #1DFF00;
    margin-top: 15px;
    margin-right: 15px;
}

.last30Style{
    text-align: left;
    font: normal normal normal 10px/18px Montserrat;
    color: #B3B8BD;
    opacity: 1;
    margin-top: -30px ;
    margin-left: 20px;
}

.statisticsHeading{
    border-bottom:2px solid #EBF2F7;
    padding-bottom:20px;
    text-align: center;
}

.searchBarStyle{
    background: #E3E5F1 0% 0% no-repeat padding-box;
    border: 1px solid #A7A7A7;
    height: 35px;
    width: 400px;
    border-radius: 22px;
    opacity: 0.3;
    p{
        margin-top: 8px;
        margin-left: 10px;
    }
}

.envelopeImageStyle{
    height: 60px;
    width: 60px;
}

.userMailListGrid{
    display: grid;
    grid-template-columns: 20px 50px 1fr 20px;
}

.mailIdTextColor{
    color: #52575D;
}

.progressbarStyle{
    width: 80%;
    margin-left: 10%;
}

.progressMargin{
    margin: -5px 0 20px 0;
}

.viewStyle{
    font: normal normal normal 10px/15px Montserrat;
    letter-spacing: -0.3px;
    color: #B3B8BD;
    opacity: 1;
}

.statisticsProgress{
    font: normal normal normal 9px/13px Montserrat;
    letter-spacing: -0.3px;
    color: #52575D;
    opacity: 1;
    text-align: left;
    margin-bottom: 1px !important;
}

.scrollStyle{
    height: calc(100vh - 360px);
    overflow: scroll;
}

.displayInRow{
    display: flex;
    flex-direction: row;
}

.activeContractsWidth{
    width: 220px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;
}

.buttonGroupUsers{
    float: left;
    margin: 20px 20px 20px 28px;
    button{
        height: 40px;
        width: 220px;
        margin-right: 10px;
        background: #F5F5F8 0% 0% no-repeat padding-box;
        border: 0.4000000059604645px solid #B3B8BD;
        font-weight: 600;
        border-radius: 6px;
    }
}

.registeredButton{
    background: #7165E3 0% 0% no-repeat padding-box !important;
    border: 0.4000000059604645px solid #7165E3;
    border-radius: 6px;
    opacity: 0.75;
    color: white;
    font-weight: 600;
}

.blockedButton{
    background: #FF6562 0% 0% no-repeat padding-box !important;
    border: 0.4000000059604645px solid #B3B8BD;
    border-radius: 6px;
    opacity: 0.75;
    color: white;
    font-weight: 600;
}

.redText{
    color: red;
    opacity: 0.75;
}

.normalButton{
    color: #52575D;
    background: #F5F5F8 0% 0% no-repeat padding-box !important;
    border: 0.4000000059604645px solid #7165E3;
    border-radius: 6px;
    opacity: 0.75;
    font-weight: 600;
}

.unblockButton{
    border: 1px solid #7165E3;
    opacity: 1;
    height: 30px;
    width: 100px;
    color: #7165E3;
    border-radius: 6px;
    margin-top: 3px;
}

.smallIcons{
    max-height: 30px;
    max-width: 30px;
    margin-left: 20px;
    margin-top: 5px;
}

.searchIcon{
    max-height: 20px;
    max-width: 20px;
    margin-left: 20px;
    margin-top: 7px;
}

.contractButton{
    width: 124px;
    height: 40px;
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #7165E3;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: white;
    font: normal normal 400 16px/15px Montserrat;
    margin: 0 25px 0 20px;
    cursor: pointer;
}

.tutorialButton{
    width: 200px;
    height: 40px;
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #7165E3;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: white;
    font: normal normal 400 13px/15px Montserrat;
    margin: 0 25px 0 20px;
    cursor: pointer;
}

.selectedContractBackground{
    background-color: #D8D5FD;
}

.tableHeader{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 5% 15% 15% 10% 10% 17% 15% 13%;
}

.tableHeader2{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 5% 15% 15% 20% 17% 15% 13%;
}

.tableHeader3{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 5% 15% 20% 10% 10% 10% 20% 10%;
}

.tableHeader4{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 5% 15% 20% 10% 10% 10% 10% 10% 10%;
}

.tableHeader5{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 20% 40% 15% 15% 10%;
}

.tableHeaderFAQ{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 5% 65% 15% 10%;
}

.tableHeaderFAQSuggestion{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 5% 15% 20% 43% 15%;
}

.tableGridFAQ{
    display: grid;
    grid-template-columns: 5% 65% 15% 10%;
}

.alternativeBackgroundColor{
    background-color: #ebe9fb !important;
}

.userInfoGrid{
    width: 90%;
    display: grid;
    grid-template-columns: 22% 5px 25% 5px 25% 5px 17%;
    grid-gap: 20px;
}

.userInfoDivStyle{
    width: 100%;
}

.divideStyle{
    background: #ebe9fb 0% 0% no-repeat padding-box;
    height: 3px;
    width: 96%;
    margin: 0 20px;
}

.sideDivideStyle{
    height: 80%;
    width: 1px;
    background-color: #52575D;
    margin-top: 10px;
}

.addressTextStyle{
    text-align: left;
    font: normal normal normal 11px/15px Montserrat;
    letter-spacing: 0px;
    color: #262626;
    opacity: 0.49;
    line-height: 10px;
}

.documentPageHeader{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    text-align: left;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
}

.documentProofInputWidth{
    width: 96%;
}

.contractWidth{
    width: 200px;
}

.tableData{
    background: #F5F5F8 0% 0% no-repeat padding-box;
    min-height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.tableDataGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 15% 15% 10% 10% 17% 15% 13%;
}

.tableDataGrid2{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 15% 15% 20% 17% 15% 13%;
}

.tableDataGrid3{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 15% 20% 10% 10% 10% 20% 10%;
}

.tableDataGrid4{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 15% 20% 10% 10% 10% 10% 10% 10%;
}

.tableDataGrid5{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 15% 15% 10%;
}

.tableDataGridFAQSuggestion{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 15% 20% 43% 15%;
}

.releaseImgStyle{
    height: 130px;
    width: 100px;
    object-fit: cover;
    margin: 10px;
    border: 3px solid #BEB9F2;
}

.documentDataProof{
    background: #F5F5F8 0% 0% no-repeat padding-box;
    height: 50px;
    width: 96%;
    margin-left: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 4% 30% 18% 18% 30%;
}

.checkBoxHeader{
    background: #E9E9F0 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9F0;
    opacity: 1;
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.sendMailConfirmationStyle{
    text-align: center;
    font: normal normal normal 13px/23px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    color: #52575D;
    line-height: 20px;
    width: 100%;
    padding: 0 50px;
    font-weight: 600;
}

.checkBoxData{
    background: #B3B8BD 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9F0;
    opacity: 1;
    height: 15px;
    width: 15px;
    margin: 10px 10px 0 20px;
}

.tableHeaderFontStyle{
    font: normal normal bold 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    text-align: left;
    margin-top: 10px;
}

.multipleContractorTextWidth{
    font: normal normal bold 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 10px;
    text-align: center;
    width: 20%;
    margin-top: 10px;
}

.documentProofTextWidth{
    font: normal normal bold 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 10px;
    text-align: center;
    margin-top: 15px;
}

.tableDataFontStyle{
    font: normal normal normal 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    opacity: 1;
    margin-right: 20px;
    text-align: left;
    margin-top: 10px;
}

.answerTextStyle{
    text-align: left;
    font: normal normal medium 13px/18px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.multipleDataTextWidth{
    font: normal normal normal 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    width: 20%;
    margin-top: 10px;
}

.documentProofDataTextWidth{
    font: normal normal normal 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    opacity: 1;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 10px;
}

.greenDotStyle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #00C07F;
    margin-top: 15px;
    margin-left: 30px;
}

.blueDotStyle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #948BEA;
    margin-top: 15px;
    margin-left: 30px;
}

.yellowDotStyle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FEC106;
    margin-top: 15px;
    margin-left: 30px;
}

.redDotStyle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FF6562;
    margin-top: 15px;
    margin-left: 30px;
}

.width10{
    width: 10%;
}

.accountActivityStyle{
    font: normal normal normal 15px/22px Montserrat;
    letter-spacing: 0.66px;
    color: #B3B8BD;
    opacity: 0.38;
    margin-left: 20px;
    margin-top: 7px;
}

.paginationStyle{
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    opacity: 1;
    margin-top: 10px;
}

.roundChevron{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 11px;
}

.actionsIcon{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.activateIcon{
    width: 130px;
    height: 30px;
    margin: 5px;
    object-fit: cover;
    margin-left: -90px;
}

.actionCard{
    background: #D8D7EE 0% 0% no-repeat padding-box;
    opacity: 0.99;
    width: 40px;
    position: absolute;
    right: 50;
    margin-top: -160px;
    margin-left: 70%;
}

.poweredBy{
    text-align: left;
    font: normal normal normal 11px/14px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
    opacity: 1;
    margin: 5px 0 0 10px;
}

.leftChevronColor{
    color: #B3B8BD;
}

.marginRight{
    margin-right: 10px;
}

.marginRight20{
    margin-right: 20px;
}

.welcomeStyle{
    text-align: left;
    font: normal normal bold 20px/18px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
}

.extensionStyle{
    text-align: left;
    font: normal normal bold 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #7165E3;
}

.videoSequenceHeadingStyle{
    text-align: left;
    font: normal normal bold 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #E9E9F0;
}

.extensionBorder{
    background-color: #EBF2F7;
    height: 3px;
}

.videoSequenceBorder{
    background-color: #707070;
    height: 1px;
}


.extensionOptionsStyle{
    text-align: left;
    font: normal normal medium 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 0.9;
    margin-top: 10px;
}

.terminationFieldWidth{
    width: 72%;
}

.entityFieldWidth{
    width: 60%;
}

.disabledButton{
    color:rgba(143, 153, 168, 0.5);
    background-color: #f1f2f3;
    height: 33px;
    width: 100px;
    border: none;
    border-radius: 6px;
}

.addMoreButton{
    color:rgba(143, 153, 168, 0.5);
    background-color: #f1f2f3;
    height: 32px;
    width: 130px;
    border: none;
    border-radius: 6px;
}

.addCotractorButton{
    color:rgba(143, 153, 168, 0.5);
    background-color: #f1f2f3;
    height: 32px;
    width: 200px;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
}

.addSymbolStyle{
    background-color: #7165E3;
    color: white;
    font-size: 25px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 11px;
    width: 40px;
    height: 32px;
}

.plusSymbolPosition{
    position: relative;
    top: -2px;
}

.disabled{
    cursor: not-allowed;
}

.disabledColor{
    cursor: rgba(143, 153, 168, 0.5);
}

.addBoxDescription{
    color: #52575D;
    background-color: rgba(143, 153, 168, 0.5);
    width: 260px;
    padding: 10px;
    border-radius: 10px;
}

.fullWidth{
    width: 100%;
}

.contractId{
    text-align: left;
    font: normal normal medium 15px/13px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: uppercase;
    opacity: 0.9;
    margin: 5px 20px 0 20px;
}

.welcomePadding{
    padding: 30px 40px;
}

.welcomeMessage{
    background: #BEB9F2 0% 0% no-repeat padding-box;
    opacity: 0.4;
    text-align: left;
    font: normal normal 300 13px/15px Montserrat;
    letter-spacing: 0.9px;
    color: #6F7479;
    padding: 20px;
}

.addContractBody{
    background-color: white;
    height: 100vh;
    overflow: scroll;
}

.extensionDialogBackground{
    background-color: white;
    margin: -20px !important;
    padding: 40px;
    border-radius: 10px;
}

.deleteEcecutedContractDialogBackground{
    background-color: white;
    margin: -20px !important;
    padding: 20px;
    border-radius: 10px;
}

.addManagerDialogBackground{
    background-color: white !important;
    padding: 20px 40px;
    border-radius: 20px !important;
}

.videoSequenceDialogBackground{
    background: #52575D 0% 0% no-repeat padding-box !important;
    border: 1px solid #5C5C5C;
    padding: 20px 40px;
    border-radius: 20px !important;
}

.extentionGrid{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 20px;
}

.uploadGrid{
    display: grid;
    grid-template-columns: 60% 38%;
    grid-gap: 20px;
}

.addManagerGrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.extentionLableStyle{
    text-align: left;
    font: normal normal normal 13px/17px Montserrat;
    letter-spacing: 0px;
    color: #B3B8BD;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
}

.nameInput{
  max-width:220px;
}

.toStyle{
    color: #B3B8BD;
    margin: 5px 20px 0 20px;
}

.extentionBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 8px;
    opacity: 1;
    height: 60vh;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.faqBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 8px;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.mailTemplate{
  height:80% !important;
  width:75% !important;
}

.serviceBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 8px;
    opacity: 1;
    height: 60vh;
    overflow: scroll;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.deleteDraftBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 8px;
    opacity: 1;
    height: 20vh;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.newContractFromCloneBoxStyle{
    border: 1px solid #7165E3;
    border-radius: 8px;
    opacity: 1;
    height: calc(100vh - 160px);
    overflow: scroll;
    width: 100%;
    margin-left: -10px;
    padding: 20px;
}

.textAlignLeft{
    text-align: left;
}

.textAlignCenter{
    display: flex;
    align-items: center;
}

.textAlignRight{
    display: flex;
    align-items: flex-end;
}

.dialogPaddingBottom{
    padding-bottom: 0 !important;
}

.crossStyle{
    color: linear-gradient(#7165E3, #FF6562) !important;
    margin-bottom: 15px;
    cursor: pointer;
}

.trashStyle{
    color: linear-gradient(#7165E3, #FF6562) !important;
    cursor: pointer;
    position: relative;
    bottom: -20px;
}

.textFieldWidth{
    width: 350px;
}

select {
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #f5f4f4 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    max-height: 40px;
    margin-top: 6px;
    &:focus{
      outline: none;
    }
    &.fullwidth {
      min-width: 250px;
    }
  }

  .selectLable{
    text-align: left;
    font: normal normal normal 17px/16px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    opacity: 1;
    margin-top: 10px;
  }

  .contractOptions{
      height: 350px;
      width: 60%;
      margin-left: 20%;
      margin-top: 3%;
  }

  .contractCards{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    opacity: 1;
    width: 305px;
    height: 150px;
    margin-top: 3%;
    margin-right: 20px;
  }

  .contractCards:hover{
    background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #7165E3, #FF6562) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
  }

  .alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .alertValidationInputStyle{
    border: 1px solid red !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    height: 32px;
  }

  .contractCardData{
    text-align: center;
    font: normal normal 600 12px/14px Montserrat;
    letter-spacing: 0px;
    color: #B3B8BD;
    opacity: 1;
    width: 150px;
  }

  .selectedContractCard{
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to bottom, #7165E3, #FF6562) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
  }

  .contractCardImage{
      height: 70px;
      width: 100px;
      background-color: #B3B8BD;
      margin-left: 25px;
      margin-bottom: 10px;
  }

  .nextButton{
    border-radius: 12px;
    opacity: 1;
    background-color: #7165E3;
    color: white;
    border: none;
    height: 40px;
    width: 180px;
    cursor: pointer;
  }

  .nextButtonPosition{
      display: flex;
      float: right;
  }

  .positionCenter{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcomeBorder{
    background: #EBF2F7 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 4px;
    width: 100%;
    margin-bottom: 10px;
  }

  .activeContractText{
    color:#52575D;
  }

  .dialogStyle{
      height: 80%;
      width: 60% !important;
      border-radius: 20px;
  }

    .addManagerDialogStyle{
        height: 50%;
        width: 40%;
        border-radius: 20px;
    }

    .videoOptionsDialogStyle{
        height: 40%;
        width: 25% !important;
        border-radius: 20px;
    }

  .outlinedButton{
      background-color: white;
      color: #7165E3;
      border: 1px solid #7165E3;
      height: 40px;
      width: 140px;
      border-radius: 10px;
      margin-bottom: -20px;
      box-shadow: 0px 3px 11px #7165E3;
  }

  .outlinedTransparentButton{
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        height: 40px;
        width: 140px;
        border-radius: 10px;
        margin-bottom: -20px;
    }

    .whiteButton{
        background-color: #fff;
        color: #52575D;
        border: 1px solid #fff;
        height: 40px;
        width: 140px;
        border-radius: 10px;
        margin-bottom: -20px;
    }

  .cloneOutlinedButton{
    background-color: white;
    color: #7165E3;
    border: 1px solid #7165E3;
    box-shadow: 0px 1px 5px #7165E3;
    height: 30px;
    width: 80px;
    border-radius: 6px;
}

  .buttonStyle{
    background-color: #7165E3;
    color: white;
    border: 1px solid #7165E3;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    margin-bottom: -20px;
    box-shadow: 0px 3px 11px #7165E3;
  }

  .videoButtonStyle{
    background-color: #7165E3;
    color: white;
    border: 1px solid #7165E3;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font: normal normal medium 15px/24px Montserrat;
  }

  .videoButtonOutlinedStyle{
    color: #7165E3;
    background-color: white;
    border: 1px solid #7165E3;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font: normal normal medium 15px/24px Montserrat;
  }

  .cloneButtonStyle{
    background-color: #7165E3;
    color: white;
    border: 1px solid #7165E3;
    box-shadow: 0px 1px 5px #7165E3;
    height: 30px;
    width: 80px;
    border-radius: 6px;
  }

  .floatRight{
      float: right;
  }

  .cloneContent{
    text-align: left;
    font: normal normal medium 18px/28px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
  }

.cloneDialog{
    height: 40%;
    width: 30% !important;
}

.sendMailUserDialog{
    height: 40%;
    width: 40% !important;
}

.cloneDialogBackground{
    background-color: white;
    margin: -20px !important;
    padding: 20px;
    border-radius: 10px;
}

.cursorPointer{
    cursor: pointer;
}

.calendarStyle{
    margin: 7px;
}

.newContractFromCloneGrid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}

.reduceTop10{
    margin-top: -10px;
}

.weekSelectStyle{
    margin-top: 0px;
    height: 30px;
}

.marginBottom{
    margin-bottom: 10px;
}

.cloneBlockStyle{
    height: calc(100vh - 80px);
    overflow: scroll;
    border-right: 4px solid #EBF2F7;
    margin-top: -10px;
    margin-bottom: -20px;
    padding: 20px;
}

.contractEntityCardStyle{
    background: #EBF2F7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    height: 80px;
    min-width: 100%;
}

.completedEntityCardStyle{
    background-color: #BEB9F2;
    color: black;
    font-weight: 600 !important;
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-gap: 10px;
}

.contractEntityFontStyle{
    text-align: left;
    font: normal normal normal 17px/21px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    width: 80%;
    padding: 20px;
}

.tableHeight{
    height: calc(100vh - 170px);
    overflow: scroll;
}

.selectedContractEntityStyle{
    border: 1px solid #7165E3;
    color: #7165E3;
}

.selectedColor{
    color: #7165E3;
}

.smallHeadingStyle{
    text-align: left;
    font: normal normal 600 17px/16px Montserrat;
    letter-spacing: 0px;
    line-height: 20px;
    color: #7165E3;
    opacity: 1;
}

.descriptionStyle{
    text-align: left;
    font: normal normal normal 15px/30px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    color: #B3B8BD;
}

.deleteDescriptionStyle{
    text-align: left;
    font: normal normal normal 13px/23px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    color: #B3B8BD;
    line-height: 20px;
}

.descriptionBoxStyle{
    border: 1px solid #B3B8BD;
    border-radius: 8px;
    opacity: 1;
    width: 80%;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
}

.roleBoxStyle{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 11px #52575D4D;
    border-radius: 6px;
    opacity: 1;
    padding: 20px;
    width: 62%;
    margin-left: 38%;
    margin-top: -60px;
}

.blueColor{
    color: #7165E3;
}

.selectFieldWidth{
    min-width: 260px;
    max-width: 260px;
}

.tutorialFieldWidth{
    min-width: 160px;
    max-width: 160px;
}

.selectFieldSwitchWidth{
    min-width: 240px;
    max-width: 240px;
}

.fieldWidth2InARow{
    width: 50%;
}

.uploadButtonStyle{
    background-color: #f1f2f3;
    color: #7165E3;
    border: none;
    height: 30px;
    font-size: 12px;
    width: 100px;
}

.chooseFileStyle{
    background-color: #f1f2f3;
    color: #7165E3;
    border: none;
    height: 30px;
    font-size: 12px;
    width: 100px;
}

.leftAlign{
    text-align: left;
}

.validationAlert{
    background: #ffcdcc 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    color: black !important;
}

.blackText{
    color: black !important;
}

.bold{
    font-weight: bold;
}

.documentCard{
    background-color: #D3D0F7;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    padding-bottom: -20px;
}

.proofBorder{
  border: 1px solid #7165E3;
  border-radius: 8px;
  opacity: 1;
  overflow: scroll;
  border-radius: 8px;
  opacity: 1;
  overflow: scroll;
  margin-top: 10px;
  padding: 20px;
}

.addProofDialog{
  height:75%;
  width:55% !important;
}

.feedbackDialog{
    height:100vh;
    overflow: scroll;
    width:100% !important;
    margin-top: 0px !important;
    border-radius: 8px !important;
  }

  .videoSequenceDialog{
    height:100vh;
    overflow: scroll;
    width:100% !important;
    margin-top: 0px !important;
    border-radius: 0px !important;
  }

.renewalBoxStyle{
    background-color: #EBECED;
    color: #B3B8BD;
    text-align: left;
    border: 1px solid #B3B8BD;
    border-radius: 10px;
    height: 100px;
    font: normal normal normal 13px/15px Montserrat;
    margin-top: 10px;
    padding: 15px;
}

.siteLevelBoxStyle{
    background-color: #EBECED;
    color: #B3B8BD;
    text-align: left;
    border: 1px solid #B3B8BD;
    border-radius: 10px;
    height: 60px;
    font: normal normal normal 13px/15px Montserrat;
    margin-top: 10px;
    padding: 15px;
}

.renewalRemainderBoxStyle{
    color: #B3B8BD;
    text-align: left;
    border: 1px solid #B3B8BD;
    border-radius: 10px;
    height: 100px;
    font: normal normal normal 13px/15px Montserrat;
    margin-top: 10px;
    padding: 15px;
}

.inputRenewalStyle{
    background: #EBECED !important;
    border: 1px solid #B3B8BD;
    height: 30px !important;
    border-radius: 4px;
    padding: 7px 0 0 25px;
    color: black;
}

.inputRenewalRemainderStyle{
    background: #EBECED !important;
    border: 1px solid #B3B8BD;
    height: 30px !important;
    border-radius: 4px;
    padding: 7px 0 0 25px;
    color: black;
    width: 80%;
}

.renewalBoxGrid{
    display: grid;
    grid-template-columns: 45% 20% 35%;
}

.siteLevelGrid{
    display: grid;
    grid-template-columns: 35% 65%;
}

.renewalRemainderBoxGrid{
    display: grid;
    grid-template-columns: 50% 40% 10%;
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.twoCol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.mailLeftElement{
  margin-top:6px;
  margin-left: 10px;
}

.sendNotificationsButtonWidth{
    width: 200px;
}

.filterIcon{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.uploadIcon{
    height: 25px;
    width: 25px;
    margin-left: 20px;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  .tagStyle {
    margin: 0 5px 10px 0;
  }

  .feedbackGrid{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
  }

  .feedbackContentGrid{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px;
  }

  .feedbackFontStyle{
    text-align: left;
    font: normal normal normal 15px/21px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
  }

  .dashedBorder{
    border: 3px dashed #948BEA;
  }

  .imageDisplayStyle{
    background: #F0EFFC 0% 0% no-repeat padding-box;
    height: 400px;
  }

  .imageNameStyle{
    text-align: left;
    font: normal normal normal 80px/100px Roboto;
    letter-spacing: 5.4px;
    color: #CECAF5;
    text-transform: uppercase;
    opacity: 0.39;
  }

  .collapseHeader{
    background: #C3BFF3 0% 0% no-repeat padding-box;
    border: 1px solid #9B95E3;
    width: 100%;
    max-height: 40px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 15px;
    padding-top: 25px;
  }

  .collapseBody{
    border: 1px solid var(--unnamed-color-7165e3);
    background: #EBECED 0% 0% no-repeat padding-box;
    border: 1px solid #7165E3;
    min-height: 250px;
    width: 100%;
    border-radius: 4px;
    margin-top: 5px;
    padding: 15px;
  }

  .collapseBody2{
    border: 1px solid var(--unnamed-color-7165e3);
    background: #EBECED 0% 0% no-repeat padding-box;
    border: 1px solid #7165E3;
    height: 80px;
    width: 100%;
    border-radius: 4px;
    margin-top: 5px;
    padding: 15px;
  }

  .collapseHeaderText{
    text-align: left;
    font: normal normal bold 17px/13px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
    text-transform: capitalize;
  }

  .greenDotFeedbackStyle{
    background: #7FC900 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #FFFFFF29, 0px 3px 6px #00000045;
    border: 1px solid #242424;
    height: 12px;
    width: 12px;
    border-radius: 50%;
  }

  .orageDotFeedbackStyle{
    background: #FFA30E 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #FFFFFF29, 0px 3px 6px #00000045;
    border: 1px solid #242424;
    height: 12px;
    width: 12px;
    border-radius: 50%;
  }

  .transparentBackground{
    background-color: transparent !important;
  }

  .logFileBlueDot{
    background: #7165E3 0% 0% no-repeat padding-box;
    border: 1px solid #CFCFCF;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-top: 5px;
  }

  .greyText{
    color: #C3C3C3;
  }

  .leftBorder{
    border-left: 1px solid #E9E9F0;
    background-color: black;
    width: 1px;
    height: 50px;
  }

  .sendButton{
    width: 80px;
    height: 30px;
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #7165E3;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: white;
    font: normal normal 400 16px/15px Montserrat;
    cursor: pointer;
}

.doneButton{
    width: 120px;
    height: 40px;
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #7165E3;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: white;
    font: normal normal 400 16px/15px Montserrat;
    cursor: pointer;
}

.videoPageLabel{
    text-align: left;
    font: normal normal normal 15px/18px Montserrat;
    letter-spacing: 0px;
    color: #B3B8BD;
}

.videoPageValue{
    text-align: left;
    font: normal normal medium 16px/34px Montserrat;
    letter-spacing: 0px;
    color: #E9E9F0;
}

.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid211{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}

.lightColorBorder{
    border: 1px solid #FFFFFF;
    height: 1px;
    width: 100%;
}

.videoSequenceGrid{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
}

.commentButton{
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border: 0.6000000238418579px solid #575757;
    padding: 5px 15px;
    color: white;
    border-radius: 20px;
    height: 30px;
}

.verticalCenter{
    display: flex;
    align-items: center;
    height: 100%;
}

.padding1{
    padding: 15px 0;
}

.padding2{
    padding: 0 15px;
}

.padding15{
    padding: 15px;
}

.smallGreyText{
    text-align: left;
    font: normal normal normal 10px/18px Montserrat;
    color: #B3B8BD;
}

.reduceTop{
    margin-top: 0px;
}

.reduceTop2{
    margin-top: -2px;
}

.faqAnswerGrid{
    display: flex;
    grid-template-columns: 85% 15%;
    grid-gap: 20px;
}

.transparentDashedStyle{
    background-color: transparent;
    border: 2px dashed #d7d4f7 !important;
}

.suggestionDetailsGrid{
    display: grid;
    grid-template-columns: 2% 15% 60% 20%;
    grid-gap: 20px;
}

.suggestionWhiteButton{
    background-color: white;
    color: #7165E3;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

.suggestionBlueButton{
    background-color: #7165E3;
    color: #fff;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

.textAreaIconPositions{
    position: relative;
    top: -25px;
}

.colorFileStyle{
    height: 15px !important;
    width: 15px !important;
    margin-right: 5px;
    margin-top: 10px;
    object-fit: contain;
}

.blueCircle{
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004D;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    cursor: pointer;
}

.blueCircleContainer{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.chatContainer{
    height: 75vh;
    width: 20vw;
    position: absolute;
    bottom: 80px;
    right: 100px;
}

.blueChatPart{
    height: 30%;
    background: #7165E3 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #00000024;
    width: 100%;
    color: white !important;
    padding: 20px;
}

.whiteChatPart{
    background: #FBF9F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000002E;
    height: 70%;
    width: 100%;
    color: #7A8593;
    padding: 10px;
}

.justifyCenter{
    display: flex;
    justify-content: center;
}

.encryptionBox{
    background: #EFF3F6 0% 0% no-repeat padding-box;
    padding: 10px;
}

.encryptionIconStyle{
    background-color: #B1B1B1;
    height: 25px !important;
    width: 25px !important;
    border-radius: 50%;
}

.encryptionFontSize{
    font-size: 12px;
}

.encryptionGrid{
    display: grid;
    grid-template-columns: 30px 1fr;
}

.whiteIcon{
    color: white;
}

.messageSection{
    height: 90%;
    overflow: scroll;
}

.replySection{
    height: 15%;
    margin: 0 -10px -20px -10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 20px;
}

.messageContainer{
    background: #EFF3F6 0% 0% no-repeat padding-box;
    padding: 20px 10px;
    text-align: left;
    font: normal normal normal 13px/20px Segoe UI;
    letter-spacing: 0px;
    color: #7A8593;
}

.messageAlignment{
    display: flex;
    flex-direction: column-reverse;
    height: 75%;
    overflow: scroll;
}

.messageGrid{
    display: grid;
    grid-template-columns: 50px 1fr;
}


.chatLogo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 99;
}

.colRev{
    display: flex;
    flex-direction: column-reverse;
}

.chatLogo2Pos{
    position: relative;
    top: 20px;
    left: 12px;
    z-index: 1 !important;
}

.chatLogo3Pos{
    position: relative;
    top: 27px;
    left: 5px;
    z-index: 9 !important;
}

.statusResolvedTextarea{
    box-shadow: 0px 3px 6px #0000003D !important;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    background-color: transparent !important;
}

.tutorialPostCard{
    background: #F5F5F8 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #ebe9fb;
    padding: 5px;
}

.postImage{
    width: 100%;
    height: 217px;
    object-fit: cover;
}

.postTitle{
    text-align: left;
    font: normal normal bold 15px/30px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.postContent{
    text-align: left;
    font: normal normal normal 12px/20px Montserrat;
    letter-spacing: 0px;
    color: #52575D;
}

.postDateStyle{
    text-align: left;
    font: normal normal normal 12px/22px Montserrat;
    letter-spacing: 0px;
    color: #B3B8BD;
}

.tutorialPostBackgroundCard{
    background: #F6F7FA 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #ebe9fb;
    border-radius: 6px;
    padding: 15px;
    margin: 0 20px;
        
}

.newBadge{
    background: #7165E3 0% 0% no-repeat padding-box;
    opacity: 0.79;
    color: white;
    height: 20px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 0;
}

.reduceTop20{
    margin-top: -20px;
}