@import "../../../index.scss";

.screenPadding {
    padding: 20px 100px;
    height: calc(100vh - 80px);
    overflow: scroll;
}

.screenBackground {
    background: $secondarycolor 0% 0% no-repeat padding-box;
}

.breadcrumbStyle {
    text-align: left;
    font: normal normal 600 12px/24px var(--font-style);
    letter-spacing: 1.5px;
    color: #646D82;
    text-transform: uppercase;
}

.backgroundCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D29;
    border-radius: 20px;
    padding: 20px;
}

.marginTop {
    margin-top: 20px;
}

.marginLeft {
    margin-left: 20px;
}

.cardTitle {
    text-align: left;
    font: normal normal 600 17px/28px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
    text-transform: capitalize;
}

.threeCol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.jobInterviewGrid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

.regionalCallGrid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

.siteGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.siteGrid> :nth-child(1) {
    grid-column: 1 / -1;
}

.credentialingGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.credentialingGrid> :nth-child(1) {
    grid-column: span 5;
}

.credentialingGrid> :nth-child(2) {
    grid-column: span 2;
}

.credentialingGrid> :nth-child(3) {
    grid-column: span 2;
}

.appointmentGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.appointmentGrid> :nth-child(1) {
    grid-column: span 3;
}

.appointmentGrid> :nth-child(2) {
    grid-column: span 3;
}

.applicantGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.applicantGrid> :nth-child(1) {
    grid-column: span 2;
}

.applicantGrid> :nth-child(2) {
    grid-column: span 2;
}

.applicantGrid> :nth-child(3) {
    grid-column: span 2;
}

.applicantGrid> :nth-child(4) {
    grid-column: span 2;
}

.applicantGrid> :nth-child(5) {
    grid-column: span 2;
}

.applicantGrid> :nth-child(6) {
    grid-column: 1/-5;
}

.applicantGrid> :nth-child(7) {
    grid-column: span 2;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 14px/30px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 5px 80px;
    cursor: pointer;
}

.continue {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 14px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px 80px;
    cursor: pointer;
}

.siteCardGrid {
    display: grid;
    grid-template-columns: 68.8% 30%;
    gap: 1.2%;
}

.natureOfPracticeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.natureOfPracticeGrid> :nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: end;
}

.natureOfPracticeGrid> :nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: -50px;
}

.natureOfPracticeGrid> :nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 49%;
}

.natureOfPracticeGrid> :nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 49%;
    margin-left: 51%;
}

.siteDisplayCard {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 6px;
    padding: 10px;
}

.siteDisplayGrid {
    display: grid;
    grid-template-columns: 94% 5%;
    gap: 1%;
}

.siteDisplaySiteTextStyle {
    text-align: left;
    font: normal normal bold 14px/30px var(--font-style);
    color: #52575D99;
}

.siteDisplayDepartmentTextStyle {
    text-align: left;
    font: normal normal bold 12px/24px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 10px 20px 20px 20px;
}

.cardTitle {
    text-align: left;
    font: normal normal bold 20px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
    // text-transform: capitalize;
}

.fileGrid {
    display: grid;
    grid-template-columns: 10% 89%;
    gap: 1%;
}

.tableData {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    min-height: 50px;
    width: 100%;
    margin-top: 3px;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 2px;
    padding: 10px 20px;
}


.alternativeBackgroundColor {
    background-color: $tableRowAlternative !important;
}

.tableHeader {
    padding: 10px 20px;
}

.tableHeaderFont {
    text-align: left;
    font: normal normal bold 18px/23px var(--font-style);
    letter-spacing: 0.9px;
    color: #6F7479;
    text-transform: capitalize;
}

.centerAlign {
    text-align: center;
}

.fileNameText {
    text-align: left;
    font: normal normal normal 18px/28px var(--font-style);
    letter-spacing: 0.9px;
    color: #6F7479;
    text-transform: capitalize;
}

.displayInRowRev {
    display: flex;
    flex-direction: row-reverse;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fileLoadingStyle {
    height: auto;
    width: 40%;
    object-fit: contain;
}