@import "../../index.scss";

.progressCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border: 0.4000000059604645px solid var(--primary-color);
    border-radius: 12px;
    opacity: 1;
    width: 100%;
    padding: 15px 30px
}

.marginTop {
    margin-top: 10px;
}

.titleTextStyle {
    text-align: left;
    font: normal normal bold $labelvaluetext var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.descriptionTextStyle {
    text-align: left;
    font: normal normal medium $labelvaluetext var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}