@import "../../index.scss";

.welcomeDialog {
    height: 75%;
    width: 70% !important;

    @media (max-width: 806px) {
        width: 100% !important;
    }
}

.loginDialog {
    height: 75%;
    width: 85% !important;
}

.padding {
    padding: 20px;
}

.marginLeft {
    margin-left: 20px;
}

.loginDialogBackground {
    background: var(--primary-color) 0% 0% no-repeat padding-box !important;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;

    @media (max-width: 806px) {
        background: #fff 0% 0% no-repeat padding-box !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        margin-bottom: -50px !important;
        margin-top: -2px !important;
    }
}

.whiteBackground {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 12px;
    padding: 20px;
    margin: -20px -40px 0 -40px;

    @media (max-width: 806px) {
        border-radius: 0;
        box-shadow: none;
    }
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.crossStyle {
    height: 18px;
    width: 18px;
}

.loginHeaderText {
    text-align: left;
    font: normal normal normal 25px/40px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
}

.bold {
    font-weight: bolder;
}

.cursorPointer {
    cursor: pointer;
}

.logo {
    position: relative;
    width: auto;
    height: 60px;
    object-fit: contain;
    margin-left: 0;
    margin-right: auto;
}

.CAPSmartLogo {
    position: relative;
    width: auto;
    height: 40px;
    object-fit: contain;
    margin-left: auto;
    margin-right: 0;
}

.CAPSmartLogoCenterAlign {
    position: relative;
    width: auto;
    height: 40px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.logoInLogin {
    position: relative;
    width: 100px;
    height: 50px;
    object-fit: contain;
}

.borderLeft {
    height: 60px;
    width: 1px;
    background-color: #94979A;
    margin: 0 20px;
}

.daysToComplete {
    display: none;

    @media (max-width: 806px) {
        width: 98%;
        background-color: var(--primary-color);
        color: white;
        padding: 10px;
        font: normal normal bold 18px var(--font-style);
        border-radius: 8px;
        margin-left: 1%;
        box-shadow: 0px 5px 20px #040B204D;
    }
}

.welcomeText {
    text-align: left;
    font: normal normal bold 28px/35px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    display: block;

    @media (max-width: 806px) {
        display: none;
    }
}

.headerData {
    display: none;

    @media (max-width: 806px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
        padding: 15px;
        z-index: 1000;
        font: normal normal bold 18px var(--font-style);
        border-radius: 0 0 12px 12px;
        height: clamp(45px, 8vh, 100px);
    }
}

.descriptionStyle {
    text-align: left;
    font: normal normal normal 17px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.loginDescription {
    text-align: left;
    font: normal normal medium 20px/36px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
    text-transform: capitalize;
}

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop30 {
    margin-top: 30px;
}

.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.daysToCompleteCard {
    // background: var(--primary-color) 0% 0% no-repeat padding-box;
    // box-shadow: 0px 5px 20px #52575D4D;
    // border-radius: 12px;
    // margin: 0 -40px;

    padding-bottom: 20px;
}

.daysCountStyle {
    text-align: center;
    font: normal normal bold 44px/50px var(--font-style);
    letter-spacing: 8.8px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0 30px;

    @media (max-width: 806px) {
        font: normal normal normal 14px var(--font-style);
        letter-spacing: 0px;
        margin: 0 10px;
        opacity: 1;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    }
}

.textStyle {
    text-align: center;
    font: normal normal medium 24px/32px var(--font-style);
    letter-spacing: 2.4px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.7;
    z-index: 1;

    @media (max-width: 806px) {
        font: normal normal normal 14px var(--font-style);
        opacity: 1;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    }
}

.linkStyle {
    text-align: center;
    text-decoration: underline;
    font: normal normal bold 14px/30px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
}

.no {
    background: #E32824 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center !important;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s ease;

    @media (max-width: 806px) {
        width: 100%;
    }
}

.no:hover {
    background: #E32824 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.yes {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center !important;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s ease;

    @media (max-width: 806px) {
        width: 100%;
    }
}

.yes:hover {
    background: var(--primary-color-hover) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.continue {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center !important;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 180px;
    transition: background-color 0.3s ease;

    @media (max-width: 806px) {
        width: 100%;
    }
}

.continue:hover {
    background: var(--primary-color-hover) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease;
}

.saveInProgress:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.userGuideButton {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 13px/20px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 10px 5px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease;
}

.userGuideButton:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.verticalAlignCenter1 {
    display: flex;
    align-items: center;
    height: 100%;

    @media (min-width: 806px) {
        display: none;
    }
}

.loginGrid {
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 2%
}

.descriptionContainer {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border-radius: 16px;
    width: 80%;
    padding: 80px 60px;
}

.helpText {
    text-align: center;
    font: normal normal medium 20px/24px var(--font-style);
    letter-spacing: 0px;
    color: #121212;
    opacity: 0.47;
    padding: 0 60px;
}

.textAlignCenter {
    text-align: center;
}

.heading {
    text-align: center;
    font: normal normal bold 22px/39px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
    line-height: 1.4;
    font-weight: 600;
}

.alertHeading {
    font: normal normal bold 18px/30px var(--font-style);
    color: #2C2C2C;
    letter-spacing: 0px;
}

.createAccountHelpText {
    text-align: left;
    font: normal normal 600 15px/28px var(--font-style);
    letter-spacing: 0px;
    color: #121212;
    opacity: 0.47;
}

.createYourAccountSectionPadding {
    padding: 0 60px;
}

.fullWidth {
    width: 100%;
}

.extentionLableStyle {
    text-align: left;
    font: normal normal normal 13px/20px var(--font-style);
    color: #2C2C2C;
    text-transform: capitalize;
    font-weight: 600;
    opacity: 1;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.passwordHint {
    color: green;
    background-color: #f0f0f0;
    padding: 2px 8px;
    font-size: 0.9rem;
}

.passcode-input {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
}

.passcode-input-field {
    width: 40px !important;
    height: 50px !important;
    border: 2px solid pink;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    outline: none;
    transition: border-color 0.3s;
}

.passcode-input-field:focus {
    border-color: darkpink;
}

.customWidth {
    padding: 20px;
    width: 40%;
    max-width: 700px !important;
    margin: 0 auto;
    box-shadow: 0 20px 0px var(--primary-color) !important;
    border-radius: 15px !important;
}

.customWidthUserGuide {
    padding: 20px;
    width: 60%;
    max-width: 700px !important;
    margin: 0 auto;
    box-shadow: 0 20px 0px var(--primary-color) !important;
    border-radius: 15px !important;
}

.heading span {
    display: inline-block;
    margin-top: -4px;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.marginTop30 {
    margin-top: 30px;
}

.container {
    width: 70%;
}

.PassCodeCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 45px;
}

.passCode {
    width: 80%;
}

.halfWidth {
    width: 450px;
}

.userGuideGrid {
    display: grid;
    grid-template-columns: 10% 88%;
    gap: 2%;
}

.textDecorationNone {
    text-decoration: none !important;
}

.iconStyleUserGuide {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reappointmentGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    margin-top: 0 !important;

    @media (max-width: 806px) {
        margin-top: 10px !important;
    }
}

.imageCard {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reappointmentLandingImage {
    width: 100%;
    height: 400px;
    max-width: none;
    object-fit: contain;
}

@media (max-width: 1050px) {
    .imageCard {
        width: 100%;
        height: 100%;
    }

    .reappointmentLandingImage {
        width: 100%;
        height: 100%;
        max-width: none;
    }

    .descriptionStyle {
        font: normal normal normal 18px var(--font-style);
    }
}

@media (max-width: 806px) {
    .descriptionStyle {
        font: normal normal normal 16px var(--font-style);
    }

    .logoStyle {
        display: none;
    }
}

.reappointmentCard {
    background: #14358F0A 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 20px 20px 10px 20px;
    margin-right: 60px;

    @media (max-width: 806px) {
        margin-right: 0;
    }
}

.disable {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.disabled:hover {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.hoverText:hover {
    color: var(--primary-color) !important;
}

.redAlert {
    height: 70px;
    width: 70px;
    object-fit: contain;
}