@import "../../../index.scss";

.screenPadding {
    padding: 20px 100px;
    height: calc(100vh - 80px);
    overflow: scroll;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    position: relative;

    @media (max-width: 768px){
        grid-template-columns: 1fr;
    }
}

.screenBackground {
    background: $secondarycolor 0% 0% no-repeat padding-box;
}

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop5 {
    margin-top: 5px;
}

.stickyContainer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    right: 100px;
    width: calc(25% - 50px);
}

@media (max-width: 948px) {
    .stickyContainer {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
        width: auto; 
        padding: 0px 20px 20px 20px; 
        margin: 0 auto; 
        box-sizing: border-box;
    }
 }

 @media (max-width: 768px) {
    .stickyContainer {
        position: sticky;
        bottom: 0;
        left: auto;
        right: auto;
        width: auto; 
        padding: 20px 20px 20px 20px; 
        margin: 0 auto; 
        box-sizing: border-box;
    }
}

.hiddenStickyContainer {
    opacity: 0;
    pointer-events: none;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveInProgress:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.continue {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 20px;
}

.titleTextStyle {
    text-align: left;
    font: normal normal bold 20px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.requiredDocumentCard {
    background: $tableRow1 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $primarycolor;
    border-radius: 4px;
    padding: 10px 15px;
}

.info {
    visibility: hidden;
}

.documentTextStyle {
    text-align: left;
    font: normal normal normal 15px/21px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.tableHeader {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #06617A;
    border-radius: 6px;
    padding: 10px 20px;
}

.tableHeaderText {
    text-align: left;
    font: normal normal bold 15px/23px proxima-nova;
    letter-spacing: 0.9px;
    color: #2C2C2C;
    text-transform: capitalize;
}

.tableGrid {
    display: grid;
    grid-template-columns: 30% 15% 52%;
    gap: 1%;
}

.requiredDocumentCardAlternativeColor {
    background: $tableRowAlternative 0% 0% no-repeat padding-box;
}

@media (max-width: 900px) {
    .screenPadding {
        padding: 10px;
        overflow: scroll;
    }

    .documentTextStyle {
        text-align: left;
        font: normal normal normal 14px/15px proxima-nova;
        letter-spacing: 0px;
        color: #2C2C2C;
    }
}