@import "../../../index.scss";

.phoneGrid {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 10px;
}

.marginTop {
    margin-top: 10px;
}

.lableStyle {
    text-align: left;
    font: normal normal normal 15px/17px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    // text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
}

.fontColor {
    color: $textgrey;
}

.helperText {
    color: #fff;
    font: normal normal normal 15px/17px var(--font-style);
    padding: 5px 10px;
    width: 160px;
    float: right;
    text-align: right;
    margin-right: -10px;
}

.warningColor {
    background: #f57c00 0% 0% no-repeat padding-box;
}

.errorColor {
    background: $statusred 0% 0% no-repeat padding-box;
}