@import "../../index.scss";

.smallCardGrid {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.bigCardGrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.margin20 {
    margin: 20px;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.marginLeft10 {
    margin-left: 10px;
}

.reduceMarginTop20 {
    margin-top: -20px;
}

.reduceMarginTop10 {
    margin-top: -10px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop20 {
    margin-top: 22px;
}

.marginLeft20 {
    margin-left: 20px;
}

.marginRight {
    margin-right: 10px;
}

.marginRight30 {
    margin-right: 30px;
}

.activeContractGrid {
    display: grid;
    grid-template-columns: 5% 10% 10% 10% 10% 10% 7% 10% 10% 5%;
    grid-gap: 10px;
}

.ticketsGrid {
    display: grid;
    grid-template-columns: 5% 5% 9% 10% 10% 6% 10% 10% 9% 9% 6%;
    grid-gap: 1%;
}

.exceptionGrid {
    display: grid;
    grid-template-columns: 5% 10% 12% 15% 10% 12% 10% 12% 5%;
    grid-gap: 10px;
}

.messageGrid {
    display: grid;
    grid-template-columns: 5% 15% 15% 20% 15% 15% 5%;
    grid-gap: 10px;
}

.alertsGrid {
    display: grid;
    grid-template-columns: 5% 5% 25% 25% 25% 5%;
    grid-gap: 10px;
}

.toDoGrid {
    display: grid;
    grid-template-columns: 5% 9% 9% 20% 10% 10% 8% 10% 8% 10%;
    grid-gap: 10px;
}

.registeredUsersGrid {
    display: grid;
    grid-template-columns: 5% 15% 15% 8% 10% 15% 8% 10% 5%;
    grid-gap: 10px;
}

.registeredUsersMultiSiteGrid {
    display: grid;
    grid-template-columns: 5% 15% 14% 5% 8% 10% 10% 9% 9% 5%;
    grid-gap: 1%;
}

.invitedUsersGrid {
    display: grid;
    grid-template-columns: 5% 15% 10% 13% 10% 15% 8% 10% 5%;
    grid-gap: 10px;
}

.bigCardStyle {
    height: calc(100vh - 325px);
    overflow: scroll;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 6px;
    opacity: 1;
    padding: 5px;
}

.bigCardStyleWithoutHeading {
    height: calc(100vh - 265px);
    overflow: scroll;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 6px;
    opacity: 1;
    padding: 5px;
}

.buttonGroupUsers {
    float: left;
    margin: 20px 20px 10px 28px;

    button {
        height: 40px;
        margin-right: 10px;
        background: #F5F5F8 0% 0% no-repeat padding-box;
        border: 0.4000000059604645px solid #B3B8BD;
        font-weight: 600;
        border-radius: 6px;
        min-width: 180px;
        cursor: pointer;
    }
}

.activeButton {
    background: $primarycolor 0% 0% no-repeat padding-box !important;
    border: 0.4000000059604645px solid $primarycolor;
    border-radius: 6px;
    opacity: 0.75;
    color: white;
    font-weight: 600;
}

.red {
    color: #ED6F68;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.addManagerDialogBackground {
    background-color: white !important;
    padding: 10px 30px;
    border-radius: 20px !important;
}

.addProofDialog {
    height: 75%;
    width: 55% !important;
}

.extensionStyle {
    text-align: left;
    font: normal normal bold 16px/17px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
}

.crossStyle {
    color: linear-gradient($primarycolor, $statusred) !important;
    margin-bottom: 15px;
    cursor: pointer;
}

.extensionBorder {
    background-color: #EBF2F7;
    height: 3px;
}

.proofBorder {
    border: 1px solid #06617A;
    border-radius: 8px;
    opacity: 1;
    overflow: scroll;
    border-radius: 8px;
    opacity: 1;
    overflow: scroll;
    margin-top: 10px;
    padding: 20px;
}

.addManagerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.extentionLableStyle {
    text-align: left;
    font: normal normal normal $tabledatatext proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
}

.reduce10Left {
    margin-left: -10px;
}

.twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.fullWidth {
    width: 100%;
}

.buttonStyle {
    background-color: $primarycolor;
    color: white;
    border: 1px solid $primarycolor;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    margin-bottom: -10px;
}

.floatRight {
    float: right;
}

.yellowSmallNumber {
    color: $statusyellow;
    background-color: #fff2cc;
}

.yellowSmallNumberSelected {
    color: #fff;
    background-color: $statusyellow;
}

.greenSmallNumber {
    color: #14B15A;
    background-color: #d1fae3;
}

.greenSmallNumberSelected {
    color: #fff;
    background-color: #14B15A;
}

.redSmallNumber {
    color: #F94848;
    background-color: #fdcece;
}

.redSmallNumberSelected {
    color: #fff;
    background-color: #F94848;
}

.cursorPointer {
    cursor: pointer;
}

.helpScrollStyle {
    height: calc(100vh - 495px);
    overflow: scroll;
}

.iconSize {
    height: 30px;
    width: 30px;
}