@import "../../index.scss";
.helpCard {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #100A4833;
    border: 0.800000011920929px solid #c4bef3;
    border-radius: 9px;
    padding: 15px 30px;
}

.titleTextStyle {
    text-align: left;
    font: normal normal bold 16px/28px proxima-nova;
    letter-spacing: 0px;
    color: #9c93eb;
    text-transform: uppercase;
}

.descriptionTextStyle {
    text-align: left;
    font: normal normal bold 14px/20px proxima-nova;
    letter-spacing: 0px;
    color: #6c727a;
}

.marginTop {
    margin-top: 10px;
}