@import"../../index.scss";

.displayInCol {
    display: flex;
    flex-direction: column;
}

.industriesCardStyle {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000045;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 6px;
    cursor: pointer;
    height: 70px;
    padding: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.selectedIndustriesBackground {
    background-color: $secondarycolor !important;
    color: black !important;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}


.industriesCardTextStyle1 {
    font: normal normal bold 20px/30px proxima-nova;
    color: #2C2C2C;
    letter-spacing: 0px;
    text-transform: uppercase;
}