@import "../../index.scss";

.applicationAssistanceCard {
    padding: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 12px;
    border: 0.4000000059604645px solid #e5e6e6;

    @media (max-width: 768px) {
        background: var(--primary-color);
        border: var(--primary-color);
    }
}

.forAssistance {
    text-align: left;
    font: normal normal normal 18px/23px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    text-transform: capitalize;
    opacity: 1;

    @media (max-width: 768px) {
        color: #FFF;
    }
}

.nameStyle {
    text-align: left;
    font: normal normal bold 17px/22px var(--font-style);
    color: $textgrey;
    text-transform: capitalize;

    @media (max-width: 768px) {
        color: #FFF;
    }
}

.contactStyle {
    text-align: left;
    font: normal normal normal 14px/19px var(--font-style);
    color: $textgrey;

    @media (max-width: 768px) {
        color: #FFF;
    }
}

.designationStyle {
    text-align: left;
    font: normal normal normal 14px/19px var(--font-style);
    color: $textgrey;
    text-transform: capitalize;
    opacity: 0.6;

    @media (max-width: 768px) {
        color: #FFF;
    }
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginTop {
    margin-top: 10px;
}

.marginLeft {
    margin-left: 10px;
}

.iconStyle {
    height: 19px;
    width: 16px;
    object-fit: contain;

    @media (max-width: 768px) {
        background: #FFF;
    }
}

.divider {
    height: 2px;
    background-color: #52575D4D;
    opacity: 0.5;
}

.aiAssistanceText {
    text-align: left;
    font: normal normal normal 10px/20px var(--font-style);
    letter-spacing: 1.92px;
    color: var(--primary-color);
    text-transform: uppercase;

    @media (max-width: 768px) {
        color: #FFF;
    }
}

.chatWithStyle {
    text-align: left;
    font: normal normal normal 17px/28px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    text-transform: capitalize;

    @media (max-width: 768px) {
        color: #FFF;
    }
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.phoneIconBackground {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    height: 48px !important;
    width: 48px;
    border-radius: 50%;
    text-align: center;

    @media (max-width: 768px) {
        color: #FFF;
    }
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.chatBox {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    padding: 10px;
}

.doYouHaveAQuestionStyle {
    text-align: left;
    font: normal normal normal 12px/24px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    text-transform: capitalize;
    opacity: 0.8;

    @media (max-width: 768px) {
        color: #FFF;
    }
}

.fullWidth {
    width: 100%;
}

.cursorPointer {
    cursor: pointer !important;
}

.purpleText {
    color: var(--primary-color) !important;

    @media (max-width: 768px) {
        color: #FFF !important;
    }
}