@import "../../index.scss";

.eSignDialog {
  height: 75%;
  overflow: hidden;
  width: 70% !important;
}

.eSignDialogBackground {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px 40px 0px 40px;
  border-radius: 20px !important;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexCenter{
  display: flex;
  align-items: center;
}

.notesVisibleText{
  text-align: left;
  font: italic normal medium 16px/24px proxima-nova;
  letter-spacing: 0px;
  color: #737575;
  opacity: 1;
}

.heading {
  text-align: left;
  font: normal normal bold 24px proxima-nova;
  letter-spacing: 0px;
  color: #06617A;
  text-transform: capitalize;
  opacity: 1;
}

.displayInRow {
  display: flex;
  flex-direction: row;
}

.crossStyle {
  height: 24px;
  width: 24px;
}

.cursorPointer {
  cursor: pointer;
}

.marginLeft {
  margin-left: 20px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop {
  margin-top: 20px;
}

.marginTop30 {
  margin-top: 30px;
}

.reviewButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cancelButton {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 0.5px solid $primarycolor;
  border-radius: 8px;
  opacity: 1;
  padding: 10px 20px;
}

.cancelButtonTextStyle {
  text-align: center;
  font: normal normal bold 18px/30px proxima-nova;
  letter-spacing: 0px;
  color: $primarycolor;
  text-transform: uppercase;
  opacity: 1;
}

.reviewButtonStyle {
  background: $primarycolor 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
  padding: 10px 20px;
}

.reviewButtonStyle:hover {
  background: $primarycolorHover 0% 0% no-repeat padding-box;
}


.reviewButton {
  text-align: center;
  font: normal normal bold 18px/30px proxima-nova;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.marginBottom {
  margin-bottom: 20px;
}

.rejectionBorderStyle {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #52575D14;
  border: 0.4px solid #52575D14;
  border-radius: 12px;
  opacity: 1;
}

.declineBorderStyle {
  // background: #DBD8FA 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #0F0B3129;
  border: 1px solid #0F0B3129;
  border-radius: 8px;
  padding: 15px 0px;
}

.marginLeftRight20 {
  margin: 0 20px !important;
}

.displayInRowCenter {
  align-items: center;
}

.rejectionHeadingTextStyle {
  text-align: left;
  font: normal normal bold 16px proxima-nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  text-transform: capitalize;
  opacity: 1;
}

.rejectionTextStyle {
  text-align: left;
  font: normal normal medium 18px/34px proxima-nova !important;
  letter-spacing: 0px;
  color: #2C2C2C !important;
  // text-transform: capitalize;
  opacity: 1;
}

.marginLeft2 {
  margin-left: 2px;
}

.marginLeft20 {
  margin-left: 20px;
}

.marginLeft10 {
  margin-left: 10px;
}

.rejectionSubHeadingTextStyle {
  text-align: left;
  font: normal normal bold 16px proxima-nova;
  letter-spacing: 0px;
  color: #454747;
  opacity: 1;
}

.twoColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.threeColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.marginBottom10 {
  margin-bottom: 10px !important;
}

.twoColumnGridInner {
  display: grid;
  grid-template-columns: 40% 45%;
  grid-gap: 20px;
  justify-items: start;
}

.rejectionTextStyle1 {
  text-align: left;
  font: normal normal medium 20px/24px proxima-nova;
  letter-spacing: 0px;
  color: #171A1A;
  text-transform: capitalize;
  opacity: 1;
}

.marginLeft2 {
  margin-left: 4px;
}

.verticalAlignCenter {
  display: flex;
  align-items: center;
  height: 100%;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fileLoadingStyle {
  height: auto;
  width: 40%;
  object-fit: contain;
}

.uploadBorderStyle {
  background: $secondarycolor 0% 0% no-repeat padding-box;
  border: 0.800000011920929px dashed #173790;
  border-radius: 4px;
  opacity: 1;
  // padding: 5px;
}

.uploadTextStyle {
  text-align: left;
  font: normal normal normal 18px/26px proxima-nova;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  padding: 5px;
}

.referenceCardStyle {
  background: #dddddf 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #0F0B3129;
  border: 1px solid $primarycolor;
  border-radius: 4px;
  opacity: 0.9;
  padding: 3px;
}

.referenceCardStyleDescription {
  // background: #dddddf 0% 0% no-repeat padding-box;
  // box-shadow: 0px 3px 18px #0F0B3129;
  border: 1px solid $primarycolor;
  border-radius: 4px;
  opacity: 0.9;
  // padding: 3px;
}

.alignItem {
  align-self: center;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.docsIcon {
  text-align: left;
  font: normal normal normal 20px/24px la-solid-900;
  letter-spacing: 0px;
  color: $primarycolor;
  opacity: 1;
}

// .searchInput {
//   flex: 1;
//   border: none;
//   font-size: 14px;
//   outline: $primarycolor;
//   padding: 0 5px;
//   background: transparent;
// }

.searchInput {
  background: transparent;
  border: $primarycolor;
  outline: none;
  width: 100%;
}

.leftAlign {
    display: flex;
    gap: 1rem; /* space between the radio buttons */
    align-items: center;
  }

.halfWidth{
    width: 50%;
}

.fullWidth{
    width: 100%;
}

.flex{
    display: flex;
}

.privilegeCard {
    background: #14358F00 0% 0% no-repeat padding-box;
    // box-shadow: 0px 0px 8px #040B2014;
    // border: 0.4000000059604645px solid #5087D9;
    border-radius: 5px;
    padding: 10px;
    z-index: 99999 !important;
}
  
.privilegeHeading {
    text-align: left;
    font: normal normal medium 18px/24px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.privilegeContentCard {
    background: #1D24370A 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #040B2014;
    border-radius: 8px;
    padding: 10px;
}

.privilegeHeadingCurrent {
    text-align: left;
    font: italic normal bold 12px/17px proxima-nova !important;
    letter-spacing: 0px;
    color: #1D2437;
}

.privilegeContentChangeCard {
    background: #F5F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #040B2014;
    border-radius: 8px;
    padding: 10px;
}

.privilegeHeadingReappointment {
    text-align: left;
    font: italic normal bold 12px/17px proxima-nova !important;
    letter-spacing: 0px;
    color: $primarycolor;
}

.cardTitle {
    text-align: left;
    font: normal normal bold 20px/26px proxima-nova;
    letter-spacing: 0px;
    color: #454747;
    // text-transform: capitalize;
}

.reappointmentButtonOutlined {
  background: $secondarycolor 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border: 1px solid $buttonBorder;
  padding: 10px 15px;
  color: $primarycolor;
  min-width: 120px;
  font: normal normal bold 15px/15px proxima-nova;
  cursor: pointer;
  text-align: center;
}

.reappointmentButtonOutlined:hover {
  background: #DBE8EA 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #00000029;
  border: 0.5px solid #06617A;
  border-radius: 8px;
  opacity: 1;
}

.markedAsText {
    text-align: left;
    font: italic normal medium $tabledatatext2 proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.yesText {
    font: italic normal bold 18px/24px proxima-nova;
    color: #14B15A;
}

.noText {
    font: italic normal bold 18px/24px proxima-nova;
    color: #FF5555;
}

.reappointmentButtonEdit {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: 1px solid $buttonBorder;
    padding: 10px 15px;
    color: $primarycolor;
    min-width: 200px;
    font: normal normal bold 15px/15px proxima-nova;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.reappointmentButtonEdit:hover {
    background: #DBE8EA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
    border: 0.5px solid #06617A;
    border-radius: 8px;
    opacity: 1;
}

.reappointmentButton {
    background: $primarycolor 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 10px 15px;
    color: #fff;
    min-width: 120px !important;
    font: normal normal bold 15px/15px proxima-nova;
    cursor: pointer;
    text-align: center;
}

.reappointmentButton:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.lableStyle {
    text-align: left;
    font: normal normal 500 15px/17px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    // text-transform: capitalize;
    opacity: 1;
    max-width: 85%;
}
.privilegeCardWithBorder {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #040B2014;
    border: 0.4000000059604645px solid #5087D9;
    border-radius: 5px;
    padding: 10px;
    z-index: 99999 !important;
}

.privilegeCategoryChips {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    font: normal normal normal $labelvaluetext proxima-nova;
    border: 1px solid $primarycolor;
    border-radius: 23px;
    padding: 5px 10px;
    color: $primarycolor;
}

.privilegeCategoryChips:hover {
    background: #DBE8EA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
    border: 0.5px solid #06617A;
    border-radius: 23px;
    padding: 5px 10px;
    opacity: 1;
}

.privilegeCategoryChipsSelected {
    background: $primarycolor 0% 0% no-repeat padding-box;
    border: 1px solid $primarycolor;
    color: $secondarycolor;
}

.privilegeWarningPart {
    background: #FF555514 0% 0% no-repeat padding-box;
    border: 1px solid #FF5555;
    border-radius: 4px;
    padding: 10px;
}

.privilegeWarningText {
    text-align: left;
    font: normal normal medium 20px/32px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.chipsContainer {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.privilegeConfirmationGrid {
    display: grid;
    grid-template-columns: 3% 84% 10%;
    padding: 10px;
    gap: 1%;
}

.privilegeConfirmationGrid:hover {
    background: #06617A14 0% 0% no-repeat padding-box;
    border: 0.5px solid #9AAFB5;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.iconBackgroundColorSelected {
    background-color: #26C600;
    border-radius: 4px;
    height: 20px;
    width: 20px;
}

.floatRight {
    float: right;
}

.addButton {
    border: 0.5px solid $primarycolor;
    border-radius: 5px;
    width: auto;
    background: $primarycolor 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    font: normal normal normal 14px/18px proxima-nova;
    cursor: pointer;
}

.displayInRowRev {
    display: flex;
    flex-direction: row-reverse;
}

.hidden {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.padding {
    padding: 20px;
}

.categoryGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.itemLeft {
    padding: 10px;
    /* Inner padding for each line */
    text-align: left;
}

.privilegeCodeGrid {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
}

.cardDescription {
    text-align: left;
    font: normal normal normal 18px/20px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    // text-transform: capitalize;
}

.restrictedPrivilegeGrid {
    display: grid;
    grid-template-columns: 5% 75% 18%;
    gap: 1%;
}

.restrictedPrivilegeGrid> :nth-child(4) {
    grid-column: 1 / -1;
}

.restrictedPrivilegeGrid> :nth-child(5) {
    grid-column: 1 / -1;
}

.restrictedPrivilegeGrid> :nth-child(6) {
    grid-column: 1 / -1;
}

.uploadButton {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $primarycolor;
    border-radius: 4px;
    padding: 5px 10px;
}

.uploadGrid {
    display: grid;
    grid-template-columns: 3% 80% 15%;
    gap: 1%;
}

.imgIcon {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.uploadText {
    text-align: left !important;
    font: normal normal bold 13px/20px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.uploadTextButton {
    display: inline-block !important;
    font: normal normal bold 13px/20px proxima-nova;
    color: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 4px;
    padding: 5px;
    text-align: center !important;
    cursor: pointer;
}

.fileDisplay {
    padding: 0 10px;
    background-color: $secondarycolor;
}

.fileDisplayText {
    font: normal normal normal $navbartext proxima-nova;
    color: #2C2C2C;
}

.docTypeImgStyle {
    height: 20px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

.marginTopLess{
  margin-top: -20px;
  box-sizing: border-box !important;
}

.dateWidth {
  padding: 0px 10px;
}

.editorHeading{
  text-align: left;
font: normal normal bold 18px/24px proxima-nova;
letter-spacing: 0px;
color: #171A1A;
text-transform: capitalize;
opacity: 0.6;
}
