@import "../../../index.scss";

.fullWidth {
    width: 100%;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.marginTop {
    margin-top: 10px;
}

.marginTop20 {
    margin-top: 20px;
}

.lableStyle {
    text-align: left;
    font: normal normal normal 15px/17px var(--font-style);
    letter-spacing: 0px;
    color: $textgrey;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 5px;
}

.divider {
    background: #EBF2F7 0% 0% no-repeat padding-box;
    height: 4px;
}