@import '../../styles/mixins.scss';
@import "../../index.scss";

.cardStyle {
    height: 115px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #C4C8D066;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    padding: 10px;
}

.reduceTop20 {
    margin-top: -20px;
}

.reduceTop10 {
    margin-top: -10px;
}

.reduceTop5 {
    margin-top: -5px;
}

.selectedApplicantBackground {
    background-color: #e8e7fe;
    border: 1px solid #d1cefd;
}

.headingForContracts {
    font: normal normal bolder 15px/20px proxima-nova !important;
    letter-spacing: 0px;
    text-align: left;
    color: #52575D;
    text-transform: uppercase;
    opacity: 1;

    @include breakpoint(md) {
        font: normal normal bold 14px/12px proxima-nova;
    }
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.spaceBetweenColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.displayInCol {
    display: flex;
    flex-direction: column;
}

.displayInColRev {
    display: flex;
    flex-direction: column-reverse;
}

.marginTop30 {
    margin-top: 30px !important;
}

.marginTop5 {
    margin-top: 5px !important;
}

.marginTop10 {
    margin-top: 10px !important;
}

.marginBottom5 {
    margin-bottom: 5px !important;
}

.marginBottom10 {
    margin-bottom: 10px !important;
}

.marginLeft10 {
    margin-left: 10px !important;
}

.marginLeft20 {
    margin-left: 20px !important;
}

.next30Style {
    text-align: left;
    font: normal normal normal 10px/18px Roboto;
    color: #B3B8BD;
    opacity: 1;
    margin-bottom: -5px;
    margin-top: -10px;
}

.bottomTextStyle {
    text-align: left;
    font: normal normal normal 10px/18px Roboto;
    color: #52575D;
    opacity: 1;
    margin-top: -5px;
}

.headingCountForContracts {
    color: #52575D;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    line-height: 15px;
}

.green {
    color: #00C07F;
}

.orange {
    color: orange;
}

.red {
    color: #FF6562;
}

.yellow {
    color: #FEC106;
}

.purple {
    color: $primarycolor
 !important;
}

.optionsStyle {
    margin: -3px 0px 0 0px;
    text-align: left;
    float: right !important;
    font: normal normal bold 12px/12px proxima-nova;
    color: #52575D;

    span {
        @include breakpoint(md) {
            font: normal normal bold 10px/12px proxima-nova !important;
        }
    }
}

.smallTextSelected {
    color: $primarycolor
;
}

.descriptionText {
    text-align: left;
    float: right !important;
    font: normal normal bold 10px/12px proxima-nova;
    color: #52575D;

    span {
        @include breakpoint(md) {
            font: normal normal bold 10px/12px proxima-nova !important;
        }
    }
}

.countDesign {
    border-radius: 8px;
    height: 20px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.defaultSmallNumber {
    background-color: #d7d4f7;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.alignRight {
    display: flex;
    align-items: flex-end;
    text-align: right;
}

.alignLeft {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.displayInGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // display: flex;
    // align-items: center;
    // justify-content: flex-end;
}

.counterHeight {
    height: fit-content;
    min-height: 35px;
}

.clickableText {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.clickableText:hover {
    color: darkblue;
    text-decoration: underline;
}