@import "../../../../index.scss";

.screenPadding {
    padding: 20px 100px;
    height: calc(100vh - 80px);
    overflow: scroll;
}

.screenBackground {
    background: #EDEDF3 0% 0% no-repeat padding-box;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.marginTop {
    margin-top: 20px;
}

.marginLeft {
    margin-left: 20px;
}

.threeCol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.jobInterviewGrid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

.siteGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.siteGrid> :nth-child(1) {
    grid-column: 1 / -1;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 14px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px 20px;
    cursor: pointer;
}

.continue {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 14px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px 20px;
    cursor: pointer;
}

.siteCardGrid {
    display: grid;
    grid-template-columns: 68.8% 30%;
    gap: 1.2%;
}

.natureOfPracticeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.natureOfPracticeGrid> :nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: end;
}

.natureOfPracticeGrid> :nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: -50px;
}

.natureOfPracticeGrid> :nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 49%;
}

.natureOfPracticeGrid> :nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 49%;
    margin-left: 51%;
}

.siteDisplayCard {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 6px;
    padding: 10px;
}

.siteDisplayGrid {
    display: grid;
    grid-template-columns: 94% 5%;
    gap: 1%;
}

.siteDisplaySiteTextStyle {
    text-align: left;
    font: normal normal bold 14px/30px proxima-nova;
    color: #52575D99;
}

.siteDisplayDepartmentTextStyle {
    text-align: left;
    font: normal normal bold 12px/24px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.cardTitle {
    text-align: left;
    font: normal normal 600 17px/28px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    text-transform: capitalize;
}


.backgroundCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D29;
    border-radius: 20px;
    padding: 20px;
}

input[type="file"] {
    display: none;
}