@import "../../index.scss";

.tableHeader {
    background: $tableheadbg 0% 0% no-repeat padding-box;
    min-height: 48px;
    width: 100%;
    // margin-left: 2%;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 2px;
    padding: 10px 20px;
}

.marginTop5 {
    margin-top: 4px !important;
}

.marginTop10 {
    margin-top: 10px !important;
}

.marginTop20 {
    margin-top: 20px !important;
}

.marginTop40 {
    margin-top: 40px !important;
}

.marginLeft5 {
    margin-left: 5px !important;
}

.marginLeft30 {
    margin-left: 30px;
}

.marginLeft10 {
    margin-left: 10px !important;
}

.isParagraph {
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px
}

.tableHeaderFontStyle {
    font: normal normal 600 16px/20px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    text-transform: capitalize;
    opacity: 1;
    text-align: left;
    word-break: break-word;
    width: auto;
    text-align: left;
}

.tableData {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    min-height: 50px;
    width: 100%;
    // margin-left: 2%;
    margin-top: 3px;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 2px;
    padding: 10px 20px;
}

.alternativeBackground {
    background: $secondarycolor 0% 0% no-repeat padding-box;
}

.alternativeBackgroundColor {
    background-color: $secondarycolor !important;
}

.displayInRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.green {
    color: $statusgreen;
}

.yellow {
    color: $statusyellow;
}

.red {
    color: $statusred;
}

.grey {
    color: $statusgrey;
}

.greenDotStyle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $statuslightgreen;
}

.purpleDotStyle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $primarycolor;
}

.yellowDotStyle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $statusyellow;
}

.redDotStyle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $statusred;
}

.greyDotStyle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $statusgrey;
}

.tableDataFontStyle {
    font: normal normal normal 16px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    text-transform: capitalize;
    text-align: left !important;
    word-break: break-word;
    width: auto;
}

.tableDataFontStyle1 {
    font: normal normal normal 14px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    text-transform: capitalize;
    text-align: left !important;
    word-break: break-word;
    width: auto;
}

.cursorPointer {
    cursor: pointer;
}

.colorFileStyle {
    height: 15px !important;
    width: 15px !important;
    margin-right: 5px;
    object-fit: contain;
}

.dotStyle {
    height: 20px;
    width: 80px;
    object-fit: contain;
}

.displayInCol {
    display: flex;
    flex-direction: column;
}

.actionCard {
    background: #D8D7EE 0% 0% no-repeat padding-box;
    opacity: 0.99;
    width: clamp(20px, 10vw, 40px);
}

.actionsIcon {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.paginationStyle {
    font: normal normal 600 12px/15px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    margin-top: 10px;
}

.marginLeft20 {
    margin-left: 10px;
}

.leftChevronColor {
    color: #2C2C2C;
}

.roundChevron {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 11px;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.verticalAlignCenter1 {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.actionsCard {
    background: $primarycolor 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 4px;
    // margin-right: 100px;
}

.multipleOptionsCard {
    background: #737575 0% 0% no-repeat padding-box;
    border: none;
}

.specificActionCard {
    min-height: 35px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #F5F9FD;
    max-width: 250px;
}

.siteCard {
    height: 35px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: #F5F9FD;
}

.deptCard {
    height: 35px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background: #F5F9FC 0% 0% no-repeat padding-box;
    color: $primarycolor;
}

.dividerStyle {
    height: 1px;
    border-bottom: 1px solid $secondarycolor;
}

.popoverStyle>* {
    box-shadow: none !important;
}

.specificActionCard:hover {
    background: #F5F9FC 0% 0% no-repeat padding-box;
    color: $primarycolor;
    border: 1px solid $primarycolor;
    border-radius: 4px;
}

.spaceBetweenColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.noDataTextStyle {
    text-align: center;
    font: normal normal normal 36px/31px Monsterrat;
    letter-spacing: 0px;
    color: #6C6C6C;

    p {
        font: normal normal normal 20px/31px Monsterrat;
    }
}

.noContractsBox {
    border: 2px dashed $secondarycolor;
    padding: 20px;
    height: 180px;
    margin: 50px;
}

.noContractsFontStyle {
    font: normal normal bold 32px/40px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
    text-align: center;
}

.noContractsSmallFontStyle {
    font: normal normal bold 20px/25px proxima-nova;
    letter-spacing: 0px;
    color: #6c727a;
    text-align: center;
}

.justifyCenter {
    justify-content: center !important;
}

.justifySpaceAround {
    justify-content: space-around !important;
}

.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sortImgStyle {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.CheckboxImgStyle {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.addStyle {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 8px;
    height: 33px;
    min-width: 35px;
}

.fullWidth {
    width: 100%;
}

.divider {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.6;
    height: 2px;
    margin: 10px auto;
    width: 90%;
    display: block;
}

@media print {
    .pagebreak {
        page-break-after: always;
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .pagebreak:nth-child(odd) {
        background-color: #ffffff;
    }

    .pagebreak:nth-child(even) {
        background-color: #ffffff;
    }
}

.tableDataClicked {
    // background-color: #D3D3D3;
    border: 2px solid $primarycolor;
    border-radius: 4px;
}

.buttonStyle {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.buttonStyle:hover {
    background-color: black;
    color: white;
}

.singleActionText {
    font-size: 15px;
    color: $primarycolor
}

.singleActionText:hover {
    font-size: 17px;
    text-decoration: underline;
}

// .tableContainer {
//     width: auto;
//     overflow-x: auto;

//     @media (max-width: 1130px) {
//         width: auto;
//         overflow-x: scroll !important; 
//     }
// }

// .table {
//     width: auto;
//     border-collapse: collapse;
//     overflow-x: scroll !important;
// }

.redBorder {
    border: 2px solid red !important;
  }
  