@import "../../../index.scss";

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    position: relative;
}

.stickyContainer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    right: 100px;
    width: calc(25% - 45px);
}

.hiddenStickyContainer {
    opacity: 0;
    pointer-events: none;
    // filter: blur(5px); 
    // box-shadow: 0 0 10px 5px #06617A;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid $primarycolor;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveInProgress:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.continue {
    background: $primarycolor 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px proxima-nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue:hover {
    background: #044D61 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border-radius: 8px;
    opacity: 1;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 10px 20px 20px 20px;
}

.eSignGrid {
    display: grid;
    grid-template-columns: 1.05fr 0.75fr;
    gap: 0;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.twoColForButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

// @media (max-width: 768px) {
//    .applicationScreenGrid {
//         grid-template-columns: 1fr;
//         padding: 0;
//     }

//     .stickyContainer {
//         grid-column: 1 / 2;
//     }

//     .twoCol, .twoColForButton, .threeColForButton, .fourCol, .eSignGrid, .EducationGrid, .siteDisplayGrid {
//         grid-template-columns: 1fr;
//     }

//     .twoColForButton {
//         gap: 15px;
//     }
// }

.threeColForButton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}

.fourCol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.EducationGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.EducationGrid> :nth-child(1) {
    grid-column: span 6;
}

.EducationGrid> :nth-child(2) {
    grid-column: span 6;
}

.EducationGrid> :nth-child(3) {
    grid-column: span 6;
}

.EducationGrid> :nth-child(4) {
    grid-column: span 2;
}

.EducationGrid> :nth-child(5) {
    grid-column: span 2;
}

.EducationGrid> :nth-child(6) {
    grid-column: span 2;
}

.progressStyle {
    height: 10px;
    width: 100%;
    border-radius: 2px;
}

.progressStyleBackground {
    background: transparent linear-gradient(90deg, $primarycolor 0%, $primarycolor 65%, #E9E9F0 70%, #E9E9F0 100%) 0% 0% no-repeat padding-box;
}

.siteDisplayCard {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 6px;
    padding: 10px;
}

.siteDisplayGrid {
    display: grid;
    grid-template-columns: 93% 6%;
    gap: 1%;
}

.siteDisplaySiteTextStyle {
    text-align: left;
    font: normal normal bold 13px/20px proxima-nova;
    color: #2C2C2C;
}

.siteDisplayDepartmentTextStyle {
    text-align: left;
    font: normal normal bold 12px/24px proxima-nova;
    letter-spacing: 0px;
    color: #52575D99;
}

.siteDisplaySurgeryTextStyle {
    text-align: left;
    font: normal normal bold 10px/24px proxima-nova;
    letter-spacing: 0px;
}

.homeMailingAddressGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.homeMailingAddressGrid> :nth-child(1) {
    grid-column: 1 / -1;
}

.homeMailingAddressGrid> :nth-child(2) {
    grid-column: 1 / -1;
}

.homeMailingAddressGrid> :nth-child(3) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.businessMailingAddressGrid> :nth-child(1) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid> :nth-child(2) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid> :nth-child(3) {
    grid-column: 1 / -1;
}

.businessMailingAddressGrid> :nth-child(4) {
    grid-column: 1 / -1;
}

.tableGrid {
    display: grid;
    grid-template-columns: 3% 3% 30% 23% 16% 15% 3%;
    gap: 1%;
}

.cmeCard {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid #14358F1F;
    border-radius: 12px;
    padding: 20px;
}

.cmeHourCard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    padding: 20px 10px;
}

.totalText {
    text-align: center;
    font: normal normal 600 16px/18px proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.hourText {
    text-align: center;
    font: normal normal normal 22px/28px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.hourRemainingText {
    text-align: center;
    font: italic normal medium 12px/14px proxima-nova;
    letter-spacing: 0px;
    color: #FF5555;
}

.creditsHeading {
    text-align: left;
    font: normal normal bold 15px/17px proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
}

.cmeCreditsGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;

    @media (max-width: 1150px) {
        grid-template-columns: 1fr;
    }
}

.cmeCard,
.hoursCard {
    margin-bottom: 20px;
}

.dateTitle {
    text-align: left;
    font: normal normal bold 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.date {
    text-align: left;
    font: normal normal normal 17px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.checkGrid {
    display: grid;
    grid-template-columns: 11% 87%;
}

.disabled {
    cursor: not-allowed;
}

.leftAlign {
    text-align: left;
}

.fileDisplay {
    background: $tableheadbg 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $tableheadhover;
    border-radius: 4px;
    padding: 10px;
}

.fileDisplayGrid {
    display: grid;
    grid-template-columns: 20% 66% 5% 5%;
    gap: 1%;
}

.cursorPointer {
    cursor: pointer;
}

.imgIcon {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.reappointmentButton {
    background: $primarycolor 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 10px 15px;
    color: #fff;
    min-width: 120px !important;
    font: normal normal bold 15px/15px proxima-nova;
    cursor: pointer;
}

.reappointmentButtonOutlined {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: 1px solid $buttonBorder;
    padding: 10px 15px;
    color: $primarycolor;
    min-width: 120px;
    font: normal normal bold 15px/15px proxima-nova;
    cursor: pointer;
}

.reappointmentButtonOutlined:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.reappointmentButtonEdit {
    background: $secondarycolor 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: 1px solid $buttonBorder;
    padding: 10px 15px;
    color: $primarycolor;
    min-width: 200px;
    font: normal normal bold 15px/15px proxima-nova;
    cursor: pointer;
}

.reappointmentButtonEdit:hover {
    background: #F1F6F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000052;
    border: 0.5px solid #9AAFB5;
    border-radius: 8px;
    opacity: 1;
}

.cardTitle {
    text-align: left;
    font: normal normal bold 20px/26px proxima-nova;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.markedAsText {
    text-align: left;
    font: italic normal medium $tabledatatext2 proxima-nova;
    letter-spacing: 0px;
    color: #1D2437;
}

.yesText {
    font: italic normal bold 18px/24px proxima-nova;
    color: #14B15A;
}

.noText {
    font: italic normal bold 18px/24px proxima-nova;
    color: #FF5555;
}

.marginLeft {
    margin-left: 10px;
}

.eSignDialog {
    height: 75%;
    width: 60% !important;
}

.eSignDialogBackground {
    background: #ffffff 0% 0% no-repeat padding-box;
    padding: 10px 20px 0px 20px;
    border-radius: 20px !important;
}

.fileLoadingStyle {
    height: auto;
    width: 40%;
    object-fit: contain;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.heading {
    text-align: left;
    font: normal normal bold 20px/28px proxima-nova;
    color: $primarycolor;
    text-transform: capitalize;
}

.crossStyle {
    height: 18px;
    width: 18px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.disabledButton {
    cursor: not-allowed;
    opacity: 0.4;
}