@import "../../../../index.scss";

.marginTop {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.applicationScreenGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

.saveInProgress {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
}

.continue {
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    font: normal normal bold 17px/30px var(--font-style);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
}

.applicationCardStyle {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 20px;
    border: 0.4000000059604645px solid #e5e6e6;
    padding: 50px;
    // min-height: 120vh;
    // overflow: scroll;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.twoColForButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.fourCol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.progressStyle {
    height: 10px;
    width: 100%;
    border-radius: 2px;
}

.progressStyleBackground {
    background: transparent linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 56%, #E9E9F0 60%, #E9E9F0 100%) 0% 0% no-repeat padding-box;
}

.siteDisplayCard {
    background: #EFEEFC 0% 0% no-repeat padding-box;
    border: 0.4000000059604645px solid $secondarycolor;
    border-radius: 6px;
    padding: 10px;
}

.siteDisplayGrid {
    display: grid;
    grid-template-columns: 93% 6%;
    gap: 1%;
}

.siteDisplaySiteTextStyle {
    text-align: left;
    font: normal normal bold 13px/20px var(--font-style);
    color: #2C2C2C;
}

.siteDisplayDepartmentTextStyle {
    text-align: left;
    font: normal normal bold 12px/24px var(--font-style);
    letter-spacing: 0px;
    color: #52575D99;
}

.siteDisplaySurgeryTextStyle {
    text-align: left;
    font: normal normal bold 10px/24px var(--font-style);
    letter-spacing: 0px;
}

.logo {
    position: relative;
    width: auto;
    height: 80px;
    object-fit: contain;
}

.labelText {
    text-align: left;
    font: normal normal bold $labelvaluetext var(--font-style);
    letter-spacing: 0px;
    color: #94979A;
}

.valueText {
    text-align: left;
    font: normal normal 600 $labelvaluetext var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.applicantNameGrid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.descriptionStyle {
    text-align: left;
    font: normal normal normal 15px/23px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.descriptionStyleBolder {
    text-align: left;
    font: normal normal bolder 16px/23px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.checkGrid {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.leftAlign {
    text-align: left;
}

.disabled {
    cursor: not-allowed;
}

.dateTitle {
    text-align: left;
    font: normal normal bold 17px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.date {
    text-align: left;
    font: normal normal normal 17px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.cardTitle {
    text-align: left;
    font: normal normal bold 20px/26px var(--font-style);
    letter-spacing: 0px;
    color: #2C2C2C;
}

.justifyCenter {
    display: flex;
    flex: 1;
    justify-content: center;
}

.stickyContainer {
    position: fixed;
    bottom: 0;
    right: 60px;
    width: 25%;
    padding: 0px 20px 20px 20px;
    background: $secondarycolor 0% 0% no-repeat padding-box;
    z-index: 10;
}

@media (max-width: 948px) {
    .stickyContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .stickyContainer {
        display: none;
    }
}

.hiddenStickyContainer {
    opacity: 0;
    pointer-events: none;
}