@import "../../../index.scss";

.searchDropdown {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #171A1A52;
    border-radius: 8px;
    position: absolute;
    z-index: 999;
    width: inherit;
}

.searchScroll {
    max-height: 250px;
    overflow: scroll;
}

.marginTop10 {
    margin-top: 10px;
}

.reduceMarginTop {
    margin-top: -10px;
}

.searchName {
    text-align: left;
    font: normal normal normal 16px/24px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.searchDesc {
    text-align: left;
    font: normal normal bold 12px/24px proxima-nova;
    letter-spacing: 0px;
    color: #52575D;
}

.padding10 {
    padding: 0 10px;
}

.showAllText {
    color: $primarycolor;
    padding-bottom: 10px;
}

.cursorPointer {
    cursor: pointer;
}