@import "../../index.scss";

.heading {
  text-align: left;
  font: normal normal bold 24px Proxima Nova;
  letter-spacing: 0px;
  color: $primarycolor;
  text-transform: capitalize;
  opacity: 1;

}

.marginTop {
  margin-top: 20px;
}

.marginLeft {
  margin-left: 20px;
}

.marginRight {
  margin-right: 20px;
}

.marginBoth{
  margin-top: 15px;
  margin-left: 10px;
}

.marginBothText{
  margin-top: 5px;
  margin-left: 10px;
}

.marginBottom{
 margin-bottom: 5px;
}

.marginTop10 {
  margin-top: 10px;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

// .eSignDialog {
//   height: 75%;
//   width: 80% !important;
// }

.eSignDialog {
  height: 75%;
  overflow: hidden;
  width: 80% !important;
}

.dialogBody {
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
}

.fullWidth {
  width: 100% !important;
}

.eSignDialogBackground {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px 40px 0px 40px;
  border-radius: 20px !important;
}


.displayInRow {
  display: flex;
  flex-direction: row;
}


.crossStyle {
  height: 18px;
  width: 18px;
}

.cursorPointer {
  cursor: pointer;
}

.Resend {
  color: $primarycolor;
  font: normal normal bold 14px Proxima Nova;
  text-align: right;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.sentstatus {
  text-align: left;
  font: normal normal bold 14px Proxima Nova;
  letter-spacing: 0px;
  color: #94979A;
  opacity: 1;
}

.sentto {
  font: italic normal normal 12px Proxima Nova;
  color: #171338;
  opacity: 0.5;
}

.task {
  font: normal normal bold 16px Proxima Nova;
  opacity: 1;
}

.correcticon {
  text-align: left;
  font: normal normal normal 27px la-solid-900;
  color: #14B15A;
  opacity: 1;
  place-self: center;
}

.shadowdown {
  background: var(---ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-ededf3);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #1713380A;
  border: 1px solid #EDEDF3;
  border-radius: 12px;
  opacity: 1;
  // width: 100%;
  align-items: center;
  padding: 0px 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2% 40% 30% 15%;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.option {
  width: 100%;
}

.selectoption {
  background-color: #ffffff;
}

.date {
  text-align: left;
  font: italic normal normal 14px Proxima Nova;
  letter-spacing: 0px;
  color: #171338;
  opacity: 0.5;
}

.fontstyleassociate {
  text-align: left;
  font: normal normal bold 14px Proxima Nova;
  letter-spacing: 0px;
  color: #646D82;
  text-transform: uppercase;
}

.referenceFont {
  text-align: left;
  font: normal normal bold 12px Proxima Nova;
  letter-spacing: 0px;
  color: #171338;
  opacity: 0.5;
}

.marginRight30 {
  margin-right: 30px;
}

.copyicon {
  text-align: left;
  // font-size: normal 10px;
  font: normal normal normal 5px !important;
  letter-spacing: 0.9px;
  color: $primarycolor;
  opacity: 1;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.warning {
  color: var(--unnamed-color-f94848);
  text-align: left;
  font: normal normal normal 27px la-solid-900;
  letter-spacing: 0px;
  color: #F94848;
  opacity: 1;
}

.progress {
  color: var(--unnamed-color-fec106);
  text-align: left;
  font: normal normal normal 27px/45px la-solid-900;
  letter-spacing: 0px;
  color: #FEC106;
  opacity: 1;
}

.requestForm {
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 12px Proxima Nova;
  cursor: pointer;
  color: $primarycolor;
  opacity: 1;
  margin-top: 5px;
}

@media print {
  .pagebreak {
    page-break-after: always;
    width: 100%;
    // height: auto;
    padding: 20px;
  }

  .pagebreak:nth-child(odd) {
    background-color: #ffffff;
  }

  .pagebreak:nth-child(even) {
    background-color: #ffffff;
  }
}

.cardStyle {

  border: 1px solid var(---7165e3);
  background: #DBD8FA 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #0F0B3129;
  border: 1px solid #E2E6F1;
  border-radius: 8px;
  opacity: 1;
}

.fontstyle {
  color: var(--unnamed-color-52575d);
  text-align: left;
  font: normal normal bold 24px/30px Proxima Nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  opacity: 1;
}

.namefontstyle {
  text-align: left;
  font: normal normal bold 24px/30px Proxima Nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  opacity: 1;
  margin-left: 10px;
}

.displayIdFontStyle {
  text-align: center;
  font: normal normal bold 14px/18px Proxima Nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  opacity: 0.8;
}

.applicantTypeFontStyle {
  text-align: left;
  font: normal normal medium 20px/24px Proxima Nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  text-transform: uppercase;
  opacity: 0.9;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  line-height: 2;
}

.marginLeft10 {
  margin-left: 10px;
}

.rightSideFontStyle {

  text-align: left;
  font: normal normal medium 20px/24px Proxima Nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  text-transform: capitalize;
  opacity: 1;
  margin-left: 15px;
}

.notesBorderStyle {
  border: 0.4px solid var(---7165e3);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.4000000059604645px solid $primarycolor !important;
  border-radius: 4px;
  opacity: 1;
  width: 100%;
  // height: 100px !important;
}

.commentsNotesHeadingFontStyle {

  text-align: left;
  font: normal normal 600 22px/27px Proxima Nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  text-transform: capitalize;
  opacity: 1;
}

.commentsNotesFontStyle {
  text-align: left;
  font: normal normal medium 18px/25px Proxima Nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  opacity: 0.7;
  padding: 10px;
  line-height: 1.5;
}

.buttonStyle {
  text-align: center;
}

.reviewButtonStyle {
  background: $primarycolor 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
  padding: 10px 20px;
}

.reviewButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.reviewButton {
  text-align: center;
  font: normal normal bold 18px/30px proxima-nova;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

// .reviewButton {
//   background-color: $primarycolor;
//   color: white;
//   font-weight: 600;
//   padding: 10px 20px;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   font-size: 16px;
//   text-align: center;
// }

.cancelButton {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 0.5px solid $primarycolor;
  border-radius: 8px;
  opacity: 1;
  padding: 10px 20px;
}

.cancelButtonTextStyle {
  text-align: center;
  font: normal normal bold 18px/30px proxima-nova;
  letter-spacing: 0px;
  color: $primarycolor;
  text-transform: uppercase;
  opacity: 1;
}

.customCheckboxLabel {
  font-size: 16px;
  color: #0e5197;
  font-weight: bold;
  margin-left: 8px;
}

.approveButtonDefault {
  background: #94979a 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}

.twoCol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.verticalAlignCenter {
  display: flex;
  align-items: center;
  height: 100%;
}

.disclaimer {
  text-align: left;
  font: normal normal bold 22px/34px Proxima Nova;
  letter-spacing: 0px;
  color: #2C2C2C;
  opacity: 1;
}

.editorcontainer {
  height: 300px;
}