@import "../../index.scss";

.loginDialog {
    height: 75% !important;
    width: 65% !important;
}

.loginDialogBackground {
    background: var(--primary-color) 0% 0% no-repeat padding-box !important;
    padding: 20px 40px 0px 40px;
    border-radius: 20px !important;
}

.whiteBackground {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #52575D4D;
    border-radius: 12px;
    padding: 20px;
    margin: -20px -40px 0 -40px;
}

.loginGrid {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}

.alignCenter {
    display: flex;
    justify-content: center;
}

.verticalAlignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.marginTop {
    margin-top: 20px;
}

.descriptionContainer {
    border-radius: 16px;
    width: 100%;
    padding: 20px;
}

.daysToCompleteCard {
    padding-bottom: 20px;
}

.displayInRow {
    display: flex;
    flex-direction: row;
}