@import "../../index.scss";

.deleteEcecutedContractDialogBackground {
    background-color: white;
    margin: -20px !important;
    padding: 20px;
    border-radius: 10px;
}

.cloneDialog {
    height: 40%;
    width: 30% !important;
}

.dialogPaddingBottom {
    padding-bottom: 0 !important;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.extensionStyle {
    text-align: left;
    font: normal normal bold $usernametext proxima-nova;
    letter-spacing: 0px;
    color: $primarycolor;
}


.crossStyle {
    color: linear-gradient($primarycolor, #FF6562) !important;
    margin-bottom: 15px;
    cursor: pointer;
}

.extensionBorder {
    background-color: #EBF2F7;
    height: 3px;
}

.marginTop20 {
    margin-top: 20px !important;
}

.deleteDescriptionStyle {
    text-align: left;
    font: normal normal normal 13px/23px proxima-nova;
    letter-spacing: 0px;
    opacity: 1;
    color: #2C2C2C;
    line-height: 20px;
}

.blueColor {
    color: $primarycolor;
}

.marginLeft20 {
    margin-left: 10px;
}

.positionCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloneButtonStyle {
    background-color: $primarycolor;
    color: white;
    border: 1px solid $primarycolor;
    height: 30px;
    min-width: 80px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
}

.cursorPointer {
    cursor: pointer;
}